---
layout: project
title: Writing for 2+3d
---

{% include contact.html %}

<h1>Writing for 2+3d</h1>

<h3>
   <a href="http://2plus3d.pl/">2+3d Polish Design Quarterly</a> is the top design magazine in Central-Eastern Europe. Besides current articles about product and graphic design, it publishes interdisciplinary texts on broader topics, such as: design criticism, design economy, history of design, and technology.
</h3>
<h3>
   In 2015 I wrote two articles for 2+3d. In "Nieposłuszne Przedmioty" I reviewed the <a href="http://www.vam.ac.uk/content/exhibitions/disobedient-objects/">"Disobedient Object"</a> exhibition at the V&amp;A in London. In "Genetyczne Klocki" I wrote about synthetic biology and how designers become involved in it.
</h3>

{% include categories.html %}

<p>Home</p>
<a href="/">Home</a>
