---
---


// Import Bourbon and Neat
@import "bourbon/bourbon";
@import "neat/neat";




// Import font
{% include fonts.css %}




// Declare breakpoints
$medium: new-breakpoint(min-width 641px);
$large: new-breakpoint(min-width 769px);
$full: new-breakpoint(min-width 1160px);




// Declare variables
$kolor: rgb(56, 136, 136);
$kolor-hover: rgb(58, 186, 186);
$nav-bar-line: 2px solid white; // One place to change style of all navabr divider lines




// Customise Tags
body {
   font-family: "Roboto", Helvetica, sans-serif;
   @include outer-container(100%);
   margin: 0px auto 1em auto;
   background-color: $kolor;
}

main {
}

section {
   background-color: white;
   padding: 1em;
   margin: 0px;
   @include media($large) {
      padding: 2em 1em 2em 1em;
   }
}

a {
   font-weight: inherit;
   color: inherit;
   border-bottom: 1px solid $kolor;
   text-decoration: none;
}

a:hover {
   color: $kolor-hover;
   border-bottom: 1px solid $kolor-hover;
}

a:active {
   border: 0px;
}

// a:visited {
//    color: #555555;
// }

p {
   font-weight: 400;
}

ul {
   margin-top: 0.33em;
}

h1 {
   font-size: 2em;
   font-weight: 500;
}

h2 {
   font-size: 1.66em;
   font-weight: 400;
   margin: 0em;
   margin-bottom: 1em;
}

h3 {
   font-size: 1.2em;
   line-height: 1.4em;
   font-weight: 400;
   @include media($medium) {
      font-size: 1.3em;
      line-height: 1.5em;
   }
   @include media($large) {
      font-size: 1.5em;
      line-height: 1.65em;
   }
}

h4 {
   font-size: 1.1em;
   line-height: 1.3em;
   font-weight: 400;
   font-style: italic;
   margin-top: 0.1em;
   @include media($medium) {
      font-size: 1.3em;
      line-height: 1.4em;
   }
}

h5 {
   font-size: 1em;
   line-height: 1.3em;
   font-weight: 700;
   @include media($medium) {
      font-size: 1.1em;
      line-height: 1.4em;
   }
}

h6 {
   color: #333333;
   font-size: 0.75em;
   font-weight: 300;
   @include media($large) {
      font-size: 1em;
   }
}




// Define classes
.navbar-out {
   background-color: $kolor;
   width: 100%;
   margin-top: 0px;
   font-weight: 400;
   text-align: center;
   @include outer-container(100%);
   @include media($large) {
      padding-right: 1em;
      padding-left: 1em;
   }
   @include media($full) {
      padding: 0em;
   }

   .navbar-in {
      display: block;
      @include outer-container;
      @include media($full) {
         border-right: $nav-bar-line; // This adds far right divider line in navbar
         border-left: $nav-bar-line; // This adds far left divider line in navbar
      }

      .navbar-all {
         height: 3.6em;
         font-size: 1.2em;
         padding-top: 1.2em;
         border-left: $nav-bar-line;
         @include span-columns(12);
         @include media($medium) {
            font-size: 1.33em;
            text-align: left;
            padding-top: 1.2em;
            padding-left: 1em;
         }
         @include media($large) {
            height: 2.4em;
            font-size: 1.5em;
            font-weight: 300;
            text-align: left;
            padding-top: 0.8em;
            padding-left: 1em;
            border-bottom: 0px;
            border-left: $nav-bar-line;
         }
      }

      .navbar-all:hover {
         background-color: $kolor-hover;
      }

      .navbar-unit {
         height: 3.6em;
         font-size: 1.2em;
         padding-top: 1.2em;
         border-left: $nav-bar-line;
         border-bottom: $nav-bar-line;
         @include span-columns(4, block-collapse);
         @include media($medium) {
            font-size: 1.33em;
            text-align: left;
            padding-top: 1.2em;
            padding-left: 1em;
         }
         @include media($large) {
            height: 2.4em;
            text-align: left;
            font-size: 1.5em;
            font-weight: 300;
            padding-top: 0.8em;
            padding-left: 1em;
            border-bottom: 0px;
         }
      }

      .navbar-unit:hover {
         background-color: $kolor-hover;
      }
   }

   .navbar-typo {
      color: white;
   }
}




.divider-line {
   margin-top: 3em; // Includes margin-bottom from previous .divide
   margin-bottom: 3em;
   border-bottom: 3px dotted #dddddd;
   @include outer-container(100%); // Strech div throughout entire section width
   @include media($large) {
      margin-top: 6em; // Includes margin-bottom from previous .divide
      margin-bottom: 6em;
   }
}




.divide {
   margin-bottom: 2em;
   @include outer-container;
   @include media($medium) {
   }
   @include media($large) {
      margin-bottom: 4em;
   }

   .divide-home-one-third {
      @include span-columns(12);
      @include media($large) {
         @include span-columns(4);
         @include shift(-12);
      }
   }

   .divide-home-two-thirds {
      //margin-bottom: 2em;
      @include span-columns(12);
      @include media($large) {
         @include span-columns(8);
         @include shift(4);
      }
   }

   .divide-one-third-left {
      @include span-columns(12);
      @include media($large) {
         @include span-columns(4);
      }
   }

   .divide-two-thirds-left {
      @include span-columns(12);
      @include media($large) {
         @include span-columns(8);
      }
   }

   .divide-half {
      @include outer-container;
      .divide-half-unit {
         @include span-columns(12);
         @include media($large) {
            @include span-columns(6);
         }
      }
   }

   .divide-third {
      @include outer-container;
      .divide-third-unit {
         @include span-columns(12);
         // @include omega(2n);
         @include media($large) {
            @include span-columns(4);
            // @include omega(3n);
         }
      }
   }

   .divide-full-one {
      @include span-columns(12);
      @include media($large) {
         @include span-columns(12);
      }
   }

   .divide-hide-desktop {
      @include span-columns(12);
      @include media($large) {
         display: none;
      }
   }

   .divide-hide-mobile {
      display: none;
      @include media($large) {
         @include span-columns(8);
      }
   }

   .divide-categories {
      margin-bottom: 2em;
      @include outer-container;
      .divide-categories-unit {
         @include span-columns(12);
         @include media($large) {
            @include span-columns(4);
         }
      }
   }


   .works-title:hover {
      color: $kolor-hover;
      border-bottom: 1px solid $kolor-hover;
   }

   .works-text:hover {
      color: black;
   }

   img {
      width: 100%;
      height: auto;
      //margin-top: 0.5em;
      margin-bottom: 0.66em;
      @include media($large) {
         margin-bottom: 0.5em;
      }
      //padding-right: 2px;
   }

   // img:hover {
   //    padding-right: 0px;
   //    border-right: 2px solid $kolor-hover;
   // }

   .works-image {
      border: 0px;
   }
}




.hide-mobile {
   display: none;
   @include media($large) {
      display: block;
   }
}




.copyright-typo {
   height: 100%;
   padding-bottom: 2em;
   background-color: white;
   text-align: center;
   font-weight: 300;
   font-size: 0.8em;
   line-height: 1.6em;
   @include media($medium) {
      font-size: 1em;
   }
   @include media($large) {
      font-size: 1.25em;
      padding-bottom: 2.5em;
   }
}

.fontello-close-icon {
   font-size: 1.1em;
   line-height: 1.1em;
}

.creative-commons {
   font-weight: 700;
   font-size: 1em;
   line-height: 2.4em;
}

.image-credit {
   text-align: right;
   margin-top: 0px;
   float: right;
}

.image-with-border {
   border: 1px solid gray;
   border-bottom: 4px solid gray;
}

.fontello-home-more {
   font-size: 1.8em;
   float: left;
}

.passive-link:hover {
   color: black;
   decoration: none;
}

.video-hearing {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
   margin-bottom: 0.66em;
   @include media($large) {
      margin-bottom: 1.33em;
   }
   iframe {
   	position: absolute;
   	top: 0;
   	left: 0;
   	width: 100%;
   	height: 100%;
   }
}




// Fixing MS viewport
@-ms-viewport{
  width: device-width;
}

// Fixing jumping scroll bar when page overflows
html {
    overflow-y: scroll;
	 overflow-x: ignore;
}
