---
---


// Import Bourbon and Neat
@import "bourbon/bourbon";
@import "neat/neat";



// Import font
{% include fonts.css %}



// Declare breakpoints
$medium: new-breakpoint(min-width 641px);
$large: new-breakpoint(min-width 769px);
$full: new-breakpoint(min-width 1160px);



// Declare variables
$kolor: rgb(56, 136, 136);
$kolor-hover: rgb(58, 186, 186);



// Define globals
body {
   font-family: "Roboto", Helvetica, sans-serif;
   @include outer-container(100%);
   margin: 0px auto 1em auto;
   background-color: $kolor;
}

main {
}

section {
   background-color: white;
   padding: 1em;
   margin: 0px;
}

a {
   font-weight: inherit;
   color: inherit;
   border-bottom: 1px solid $kolor;
   text-decoration: none;
}

a:hover {
   color: $kolor-hover;
   border-bottom: 1px solid $kolor-hover;
}

a:active {
   border: 0px;
}

p {
   font-weight: 400;
}

ul {
   margin-top: 0.33em;
}

h1 {
   font-size: 2em;
   font-weight: 500;
}

h2 {
   font-size: 1.66em;
   font-weight: 400;
   margin: 0px;
}

h3 {
   font-size: 1.2em;
   line-height: 1.4em;
   font-weight: 400;
   margin: 0.5em 0 0 0;
   @include media($medium) {
      font-size: 1.3em;
      line-height: 1.5em;
   }
   @include media($large) {
      font-size: 1.5em;
      line-height: 1.65em;
   }
}

h4 {
   font-size: 1.1em;
   line-height: 1.3em;
   font-weight: 400;
   font-style: italic;
   @include media($medium) {
      font-size: 1.3em;
      line-height: 1.4em;
   }
}

.fontello-close-icon {
   font-size: 1.1em;
   line-height: inherit;
}

.creative-commons {
   font-weight: 700;
   font-size: 1em;
   line-height: 2.4em;
}

.gap {
   min-height: 2em;
}

.gap2 {
   min-height: 4em;
}



// Define classes
.navbar-out {
   background-color: $kolor;
   @include outer-container(100%);
   text-align: center;
   width: 100%;
   margin-top: 0px;
   @include media($large) {
      padding: 0em 1em 0em 1em;
      //border-bottom: 13px solid $kolor;
      //border-top: 13px solid $kolor;
   }
   @include media($full) {
      padding: 0em;
      //border-bottom: 13px solid $kolor;
      //border-top: 13px solid $kolor;
   }

   .navbar-in {
      @include outer-container;
      background-color: $kolor;
      font-weight: 400;
      display: block;
      //This adds outside dividers in navbar
      @include media($full) {
         border-right: 2px solid white;
         border-left: 2px solid white;
      }

      .navbar-all {
         @include span-columns(12);
         //border-bottom: 2px solid white;
         font-size: 1.2em;
         height: 3.6em;
         padding: 1.2em 0 0 0;
         border-left: 2px solid white;
         @include media($medium) {
            //border-bottom: 3px solid white;
            text-align: left;
            padding: 1.2em 0 0 1em;
            font-size: 1.33em;
         }
         @include media($large) {
            height: 2.4em;
            text-align: left;
            padding: 0.8em 0 0 1em;
            border-left: 2px solid white;
            border-bottom: 0px;
            font-size: 1.5em;
            font-weight: 300;
         }
      }

      .navbar-all:hover {
         background-color: $kolor-hover;
      }

      .navbar-unit {
         @include span-columns(4, block-collapse);
         //border-bottom: 2px solid white;
         font-size: 1.2em;
         height: 3.6em;
         padding: 1.2em 0 0 0;
         border-left: 2px solid white;
         @include media($medium) {
            //border-bottom: 3px solid white;
            text-align: left;
            padding: 1.2em 0 0 1em;
            font-size: 1.33em;
         }
         @include media($large) {
            height: 2.4em;
            text-align: left;
            padding: 0.8em 0 0 1em;
            border-bottom: 0px;
            font-size: 1.5em;
            font-weight: 300;
         }
      }

      .navbar-unit:hover {
         background-color: $kolor-hover;
      }
   }

   .navbar-typo {
      color: white;
   }

   // a {
   //    border: 0px;
   // }
}



.divide {
   @include outer-container;
   margin-bottom: 1em;
   @include media($medium) {
      margin-bottom: 3em;
   }
   @include media($large) {
      margin-bottom: 7em;
   }

   .divide-one-third-left {
      @include span-columns(12);
      margin-top: 1em;
      @include media($large) {
         margin-top: 0;
         @include span-columns(4);
         //@include shift(12);
      }
   }

   .divide-half {
      @include outer-container ;

      .divide-half-unit {
         @include span-columns(12);
         @include media($large) {
            @include span-columns(6);
         }
      }
   }

   .divide-two-thirds-left {
      @include span-columns(12);
      @include media($large) {
         @include span-columns(8);
      }
   }

   .divide-two-thirds-right {
      @include span-columns(12);
      @include media($large) {
         @include span-columns(8);
         @include shift(4);
      }
   }

   .divide-full-one {
      @include span-columns(12);
      @include media($large) {
         @include span-columns(12);
      }
   }

   .divide-hide-desktop {
      @include span-columns(12);
      @include media($large) {
         display: none;
      }
   }

   .divide-hide-mobile {
      display: none;
      @include media($large) {
         @include span-columns(8);
      }
   }


   .works-title:hover {
      color: $kolor-hover;
      border-bottom: 1px solid $kolor-hover;
   }

   .works-text:hover {
      color: black;
   }

   img {
      width: 100%;
      height: auto;
   }

   .works-image {
      border: 0px;
   }

   // .caption {
   //    padding-bottom: 1em;
   //    border-bottom: 1px solid black;
   // }
}


.copyright-typo {
   height: 100%;
   padding: 1em 0 1.5em 0;
   background-color: white;
   text-align: center;
   font-weight: 300;
   font-size: 0.8em;
   @include media($medium) {
      font-size: 1em;
   }
   @include media($large) {
      font-size: 1.25em;
      padding-bottom: 2.5em;
   }
}



// Fixing MS viewport
@-ms-viewport{
  width: device-width;
}

// Fixing jumping scroll bar when page overflows
html {
    overflow-y: scroll;
	 overflow-x: ignore;
}
