---
---


// Import Bourbon and Neat
@import "bourbon/bourbon";
@import "neat/neat";




// Import font
{% include fonts.css %}




// Declare breakpoints
$medium: new-breakpoint(min-width 641px);
$large: new-breakpoint(min-width 769px);
$full: new-breakpoint(min-width 1160px);




// Declare variables
$kolor: #a4a4a4;
$nav-bar-line: 1px solid #a4a4a4; // One place to change style of all navabr divider lines




// Customise Tags
body {
   font-family: "Roboto", Helvetica, sans-serif;
   @include outer-container(100%);
   margin: 0px auto 0px auto;
   background-image: url("/img/patterns/stripes-up-04.png");
}

main {
}

section {
   background-color: white;
   padding: 2.5em 1em 2.66em 1em;
   margin-bottom: 1.33em; //45° line divider unit height
   @include media($large) {
      padding: 4em 1em 4.5em 1em;
      margin-bottom: 2em; //45° line divider unit height
   }
}

a {
   font-weight: inherit;
   color: inherit;
   border-bottom: 1px solid $kolor;
   text-decoration: none;
}

a:hover {
   color: $kolor;
   border-bottom: 1px solid $kolor;
}

a:active {
   border: 0px;
}

p {
   font-size: 1.1em;
   line-height: 1.3em;
   font-weight: 400;
   font-style: italic;
   margin-top: 0.1em;
   @include media($medium) {
      font-size: 1.3em;
      line-height: 1.4em;
   }
}

ul {
   font-size: 1em;
   line-height: 1.4em;
   font-weight: 400;
   font-style: italic;
   max-width: 88%;
   margin-bottom: 2em;
   @include media($medium) {
      font-size: 1.2em;
      line-height: 1.5em;
   }
   list-style: none;
   margin-left: 0;
   padding-left: 2em;
   text-indent: -1.5em;
}

li:before {
    content: "—";
    font-style: normal;
    display: block;
    float: left;
    width: 1.5em;
}

h1 {
   font-size: 2em;
   font-weight: 500;
   margin: 0em4
}

h2 {
   font-size: 1.66em;
   font-weight: 500;
   margin: 0em;
   margin-top: 0.2em;
   margin-bottom: 1em;
}

h3 {
   font-size: 1.2em;
   line-height: 1.4em;
   font-weight: 400;
   @include media($medium) {
      font-size: 1.3em;
      line-height: 1.5em;
   }
   @include media($large) {
      font-size: 1.5em;
      line-height: 1.65em;
   }
}

h4 {
   font-size: 1.1em;
   line-height: 1.3em;
   font-weight: 400;
   font-style: italic;
   margin-top: 0.1em;
   @include media($medium) {
      font-size: 1.3em;
      line-height: 1.4em;
   }
}

h5 {
   font-size: 1em;
   line-height: 1.3em;
   font-weight: 700;
   @include media($medium) {
      font-size: 1.1em;
      line-height: 1.4em;
   }
}

h6 {
   color: #333333;
   font-size: 0.75em;
   font-weight: 300;
   @include media($large) {
      font-size: 1em;
   }
}




// Define classes
.navbar-out {
   width: 100%;
   margin-top: 0px;
   font-weight: 500;
   text-align: center;
   @include outer-container(100%);
   @include media($large) {
      padding-right: 1em;
      padding-left: 1em;
   }
   @include media($full) {
      padding: 0em;
   }

   .navbar-in {
      display: block;
      @include outer-container;
      @include media($full) {
         border-right: $nav-bar-line; // This adds far right divider line in navbar
         border-left: $nav-bar-line; // This adds far left divider line in navbar
      }

      .navbar-all {
         height: 3.6em;
         font-size: 1.2em;
         padding-top: 1.2em;
         border-left: $nav-bar-line;
         @include span-columns(12);
         @include media($medium) {
            font-size: 1.33em;
            text-align: left;
            padding-top: 1.2em;
            padding-left: 1em;
         }
         @include media($large) {
            height: 2.4em;
            font-size: 1.5em;
            font-weight: 500;
            text-align: left;
            padding-top: 0.8em;
            padding-left: 1em;
            border-bottom: 0px;
            border-left: $nav-bar-line;
         }
      }

      .navbar-all:hover {
         background-color: white;
      }

      .navbar-unit {
         height: 3.6em;
         font-size: 1.2em;
         padding-top: 1.2em;
         border-left: $nav-bar-line;
         border-bottom: white;
         @include span-columns(4, block-collapse);
         @include media($medium) {
            font-size: 1.33em;
            text-align: left;
            padding-top: 1.2em;
            padding-left: 1em;
         }
         @include media($large) {
            height: 2.4em;
            text-align: left;
            font-size: 1.5em;
            font-weight: 500;
            padding-top: 0.8em;
            padding-left: 1em;
            border-bottom: 0px;
         }
      }

      .navbar-unit:hover {
         background-color: white;
      }
   }

   .navbar-typo {
      color: black;
   }
}




.index {
   @include outer-container;

   .index-one-third {
      @include span-columns(12);
      @include media($large) {
         @include span-columns(4);
         @include shift(-12);
      }
   }

   .index-two-thirds {
      @include span-columns(12);
      @include media($large) {
         @include span-columns(8);
         @include shift(4);
      }
   }
}




.divide {
   margin-top: 2em;
   margin-bottom: 2em;
   @include outer-container;
   @include media($medium) {
   }
   @include media($large) {
      margin-top: 3em;
      margin-bottom: 4em;
   }

   .divide-one-third-left {
      @include span-columns(12);
      @include media($large) {
         @include span-columns(4);
      }
   }

   .divide-two-thirds-left {
      @include span-columns(12);
      @include media($large) {
         @include span-columns(8);
      }
   }

   .divide-half {
      @include outer-container;
      .divide-half-unit {
         @include span-columns(12);
         @include media($large) {
            @include span-columns(6);
         }
      }
   }

   .divide-third {
      @include outer-container;
      .divide-third-unit {
         @include span-columns(12);
         @include media($large) {
            @include span-columns(4);
         }
      }
   }

   .divide-full-one {
      @include span-columns(12);
      @include media($large) {
         @include span-columns(12);
      }
   }

   .divide-hide-desktop {
      @include span-columns(12);
      @include media($large) {
         display: none;
      }
   }

   .divide-hide-mobile {
      display: none;
      @include media($large) {
         @include span-columns(8);
      }
   }

   .divide-categories {
      margin-bottom: 2em;
      @include outer-container;
      .divide-categories-unit {
         @include span-columns(12);
         @include media($large) {
            @include span-columns(4);
         }
      }
   }
}




.hide-mobile {
   display: none;
   @include media($large) {
      display: block;
   }
}




.works-image {
   border: 0px;
   display: block;
}

.works-image:hover {
   border: 0px;
}

.works-title:hover {
   color: $kolor;
   border-bottom: 1px solid $kolor;
}

.works-text:hover {
   color: black;
}

img {
   width: 100%;
   height: auto;
}





.copyright-typo {
   height: 100%;
   padding: 2em 1em 2em 1em;
   background-color: white;
   text-align: center;
   font-weight: 300;
   font-size: 0.8em;
   line-height: 1.6em;
   @include media($medium) {
      font-size: 1em;
   }
   @include media($large) {
      font-size: 1.25em;
      padding-bottom: 2.5em;
   }
}

.fontello-close-icon {
   font-size: 1.1em;
   line-height: 1.1em;
}

.creative-commons {
   font-weight: 700;
   font-size: 1em;
   line-height: 2.4em;
}

.image-credit {
   text-align: right;
   margin-top: 0px;
   float: right;
}

.fontello-home-more {
   font-size: 1.8em;
   float: left;
}

.passive-link:hover {
   color: black;
   decoration: none;
}

.video-hearing {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
   margin-bottom: 0.66em;
   @include media($large) {
      margin-bottom: 1.33em;
   }
   iframe {
   	position: absolute;
   	top: 0;
   	left: 0;
   	width: 100%;
   	height: 100%;
   }
}




// Fixing MS viewport
@-ms-viewport{
  width: device-width;
}

// Fixing jumping scroll bar when page overflows
html {
    overflow-y: scroll;
	 overflow-x: ignore;
}
