---
---



@import "bourbon/bourbon";
@import "neat/neat";



{% include fonts.css %}



$medium: new-breakpoint(min-width 641px);
$large: new-breakpoint(min-width 769px);
$full: new-breakpoint(min-width 1160px);

$kolor: rgb(56, 136, 136);
$kolor-hover: rgb(58, 186, 186);



body {
   font-family: "Roboto", Helvetica, sans-serif;
   @include outer-container(100%);
   margin: 0px auto 1em auto;
   background-color: $kolor;
}

section {
   background-color: white;
   padding: 1em;
   margin: 0px;
}

a {
   font-weight: inherit;
   color: inherit;
   border-bottom: 1px solid $kolor;
   text-decoration: none;
}

a:hover {
   color: $kolor-hover;
   border-bottom: 1px solid $kolor-hover;
}

a:active {
   border: 0px;
}

p {
   font-weight: 400;
}

h1 {
   font-size: 2em;
   font-weight: 400;
}

h2 {
   font-size: 1.66em;
   font-weight: 400;
   margin: 0px;
}

h3 {
   font-size: 1.2em;
   line-height: 1.40em;
   font-weight: 400;
   margin: 0.5em 0 0 0;
   @include media($medium) {
      font-size: 1.4em;
      line-height: 1.65em;
   }
   @include media($large) {
      font-size: 1.5em;
      line-height: 1.65em;
   }
}

h4 {
   font-size: 1.1em;
   line-height: 1.3em;
   font-weight: 400;
   @include media($medium) {
      font-size: 1.3em;
      line-height: 1.4em;
   }
}



// .page-full {
//    @include outer-container(1080px);
//    text-align: center;
//    min-width: 100%;
//    background-color: white;
// }
//
//
//
// .page-block {
//    padding: 1em;
//    margin-top: 0px;
//    text-align: left;
//    @include media($full) {
//       //padding: 0px; [Hashing out allows to integrate multiple nested divs of .page-full + .page-block in one .body]
//    }
// }



.navbar-out {
   background-color: $kolor;
   @include outer-container(100%);
   text-align: left;
   width: 100%;
   margin-top: 0px;
   @include media($large) {
      padding: 0em 1em 0em 1em;
      //border-bottom: 13px solid $kolor;
      //border-top: 13px solid $kolor;
   }
   @include media($full) {
      padding: 0em;
      //border-bottom: 13px solid $kolor;
      //border-top: 13px solid $kolor;
   }

   .navbar-in {
      @include outer-container;
      background-color: $kolor;
      font-weight: 400;
      display: block;
      //This adds outside dividers in navbar
      @include media($full) {
         border-right: 2px solid white;
         border-left: 2px solid white;
      }

      .navbar-all {
         @include span-columns(12);
         border-bottom: 2px solid white;
         font-size: 1.2em;
         height: 2.4em;
         padding: 0.6em 0 0 1em;
         @include media($medium) {
            border-bottom: 3px solid white;
            font-size: 1.33em;
         }
         @include media($large) {
            border-left: 2px solid white;
            border-bottom: 0px;
            font-size: 1.5em;
            font-weight: 300;
         }
      }

      .navbar-all:hover {
         background-color: $kolor-hover;
      }

      .navbar-unit {
         @include span-columns(12);
         border-bottom: 2px solid white;
         font-size: 1.2em;
         height: 2.4em;
         padding: 0.6em 0 0 1em;
         @include media($medium) {
            @include span-columns(12);
            border-bottom: 3px solid white;
            font-size: 1.33em;
         }
         @include media($large) {
            @include outer-container;
            @include span-columns(4, block-collapse);
            border-left: 2px solid white;
            border-bottom: 0px;
            font-size: 1.5em;
            font-weight: 300;
         }
      }

      .navbar-unit:hover {
         background-color: $kolor-hover;
      }
   }

   .navbar-typo {
      color: white;
   }

   // a {
   //    border: 0px;
   // }
}



.divide-two {
   @include outer-container;
   margin-bottom: 5em;

   .divide-two-small {
      @include span-columns(12);
      @include media($large) {
         @include span-columns(4);
         @include shift(-12);
      }
   }

   .divide-two-large {
      @include span-columns(12);
      @include media($large) {
         @include span-columns(8);
         @include shift(4)
      }
   }

   .works-title:hover {
      color: $kolor-hover;
      border-bottom: 1px solid $kolor-hover;
   }

   img {
      width: 100%;
      height: auto;
   }

   .works-image {
      border: 0px;
   }
}



.copyright-typo {
   height: 100%;
   padding: 1em 0 1.5em 0;
   background-color: white;
   text-align: center;
   font-weight: 300;
   font-size: 0.8em;
   @include media($medium) {
      font-size: 1em;
   }
   @include media($large) {
      font-size: 1.25em;
      padding-bottom: 2.5em;
   }
}



//FIXES
@-ms-viewport{
  width: device-width;
}

//FIX for jumping scroll bar when page overflows
html {
    overflow-y: scroll;
	 overflow-x: ignore;
}
