@font-face {
  font-family: 'fontello';
  src: url('/fonts/fontello/font/fontello.eot?46121200');
  src: url('/fonts/fontello/font/fontello.eot?46121200#iefix') format('embedded-opentype'),
       url('/fonts/fontello/font/fontello.woff?46121200') format('woff'),
       url('/fonts/fontello/font/fontello.ttf?46121200') format('truetype'),
       url('/fonts/fontello/font/fontello.svg?46121200#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?46121200#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-cc:before { content: '\e800'; } /* '' */
.icon-cc-by:before { content: '\e801'; } /* '' */
.icon-cc-sa:before { content: '\e802'; } /* '' */
.icon-hi:before { content: '\e803'; } /* '' */
.icon-up-1:before { content: '\e806'; } /* '' */
.icon-book-open:before { content: '\e807'; } /* '' */
.icon-rocket:before { content: '\e809'; } /* '' */