
.icon-cc:before { content: '\e800'; } /* '' */
.icon-cc-by:before { content: '\e801'; } /* '' */
.icon-cc-sa:before { content: '\e802'; } /* '' */
.icon-up-1:before { content: '\e806'; } /* '' */
.icon-book-open:before { content: '\e807'; } /* '' */
.icon-rocket:before { content: '\e809'; } /* '' */