---
layout: category
title: Science Fictions
label: science-fiction
---

<div class="divide">
   <div class="divide-categories">
      <div class="divide-categories-unit">
         <div class="categories-wrapper">
            <a href="/work/lingua-extraterrestris" class="categories-image">
               <img
                  data-sizes="auto" src="/img/lingua-extraterrestris/lingua-extraterrestris-thumb-600.jpg"
                  data-srcset="/img/lingua-extraterrestris/lingua-extraterrestris-thumb-900.jpg 900w,
                  /img/lingua-extraterrestris/lingua-extraterrestris-thumb-300.jpg 300w"
                  class="lazyload">
            </a>
         </div>
         <h2><a href="/work/lingua-extraterrestris">Lingua Extraterrestris</a></h2>
         <a href="/work/lingua-extraterrestris" class="passive-link">
            {% include intros/seti.html %}
         </a>
      </div>

      <div class="divide-categories-unit">
         <div class="categories-wrapper">
            <a href="/work/the-end-of-hearing" class="categories-image">
               <img
                  data-sizes="auto" src="/img/the-end-of-hearing/the-end-of-hearing-thumb-600.jpg"
                  data-srcset="/img/the-end-of-hearing/the-end-of-hearing-thumb-900.jpg 900w,
                  /img/the-end-of-hearing/the-end-of-hearing-thumb-300.jpg 300w"
                  class="lazyload">
            </a>
         </div>
         <h2><a href="/work/the-end-of-hearing">The End of Hearing</a></h2>
         <a href="/work/the-end-of-hearing" class="passive-link">
            {% include intros/hearing.html %}
         </a>
      </div>
   </div>
</div>