---
layout: category
title: Science Fictions
label: science-fiction
---

<div class="divide">
   <div class="divide-categories">
      <div class="divide-categories-unit">
         <h2><a href="/work/lingua-extraterrestris">Lingua Extraterrestris</a></h2>
         <a href="/work/lingua-extraterrestris" class="passive-link">
            {% include intros/seti.html %}
         </a>
      </div>

      <div class="divide-categories-unit">
         <h2><a href="/work/the-end-of-hearing">The End of Hearing</a></h2>
         <a href="/work/the-end-of-hearing" class="passive-link">
            {% include intros/hearing.html %}
         </a>
      </div>
   </div>
</div>