---
layout: category
title: Projects
label: projects
---


<div class="divide">
   <div class="divide-categories">
      <div class="divide-categories-unit">
         <a href="/work/bento-lab"><h2><span class="works-title">bento&bull;lab</span></h2></a>
         <a href="/work/bento-lab" class="passive-link">
            {% include intros/bento.html %}
         </a>
         <a href="/work/bento-lab">
            {% include icons/more.html %}
         </a>
      </div>


      <div class="divide-categories-unit">
         <a href="/work/human-factors"><h2><span class="works-title">Human Factors</span></h2></a>
         <a href="/work/human-factors" class="passive-link">
            {% include intros/factors.html %}
         </a>
         <a href="/work/human-factors">
            {% include icons/more.html %}
         </a>
      </div>


      <div class="divide-categories-unit">
         <a href="/work/immunographics"><h2><span class="works-title">Immunographics</span></h2></a>
         <a href="/work/immunographics" class="passive-link">
            {% include intros/immuno.html %}
         </a>
         <a href="/work/immunographics">
            {% include icons/more.html %}
         </a>
      </div>
   </div>


   <div class="divide-categories">
      <div class="divide-categories-unit">
         <a href="/work/mitosis-meiosis"><h2><span class="works-title">Mitosis &amp; Meiosis</span></h2></a>
         <a href="/work/mitosis-meiosis" class="passive-link">
            {% include intros/mitosis.html %}
         </a>
         <a href="/work/mitosis-meiosis">
            {% include icons/more.html %}
         </a>
      </div>


      <div class="divide-categories-unit">
         <a href="/work/sequence-bundles"><h2><span class="works-title">Sequence Bundles</span></h2></a>
         <a href="/work/sequence-bundles" class="passive-link">
            {% include intros/bundles.html %}
         </a>
         <a href="/work/sequence-bundles">
            {% include icons/more.html %}
         </a>
      </div>


      <div class="divide-categories-unit">
         <a href="/work/sex-shop"><h2><span class="works-title">Sex Shop</span></h2></a>
         <a href="/work/ses-shop" class="passive-link">
            {% include intros/sexshop.html %}
         </a>
         <a href="/work/sex-shop">
            {% include icons/more.html %}
         </a>
      </div>
   </div>


   <div class="divide-categories">
      <div class="divide-categories-unit">
         <a href="/work/the-end-of-hearing"><h2><span class="works-title">The End of Hearing</span></h2></a>
         <a href="/work/the-end-of-hearing" class="passive-link">
            {% include intros/hearing.html %}
         </a>
         <a href="/work/the-end-of-hearing">
            {% include icons/more.html %}
         </a>
      </div>
   </div>
</div>
