---
layout: category
title: Writing
label: writing
---

<div class="divide">
   <div class="divide-categories">
      <div class="divide-categories-unit">
         <a href="/projects/sequence-bundles" class="categories-image">
            <img
               data-sizes="auto" src="/img/bento-lab/bento-lab-thumb-600.jpg"
               data-srcset="/img/bento-lab/bento-lab-thumb-900.jpg 900w,
               /img/bento-lab/bento-lab-thumb-300.jpg 300w"
               class="lazyload">
         </a>
         <h2><a href="/projects/sequence-bundles">Sequence Bundles</a></h2>
         <a href="/projects/sequence-bundles" class="passive-link">
            {% include intros/bundles.html %}
         </a>
      </div>

      <div class="divide-categories-unit">
         <a href="/projects/lingua-extraterrestris" class="categories-image">
            <img
               data-sizes="auto" src="/img/lingua-extraterrestris/lingua-extraterrestris-thumb-600.jpg"
               data-srcset="/img/lingua-extraterrestris/lingua-extraterrestris-thumb-900.jpg 900w,
               /img/lingua-extraterrestris/lingua-extraterrestris-thumb-300.jpg 300w"
               class="lazyload">
         </a>
         <h2><a href="/projects/lingua-extraterrestris">Lingua Extraterrestris</a></h2>
         <a href="/projects/lingua-extraterrestris" class="passive-link">
            {% include intros/seti.html %}
         </a>
      </div>
      
      <div class="divide-categories-unit">
         <a href="/projects/data-explorers" class="categories-image">
            <img
               data-sizes="auto" src="/img/data-explorers/data-explorers-thumb-600.png"
               data-srcset="/img/data-explorers/data-explorers-thumb-900.png 900w,
               /img/data-explorers/data-explorers-thumb-300.png 300w"
               class="lazyload">
         </a>
         <h2><a href="/projects/data-explorers">Data Explorers</a></h2>
         <a href="/projects/data-explorers" class="passive-link">
            {% include intros/visweek.html %}
         </a>
      </div>
   </div>

   <div class="divide-categories">
      <div class="divide-categories-unit">
         <a href="/projects/2plus3d" class="categories-image">
            <img
               data-sizes="auto" src="/img/2plus3d/2plus3d-thumb-600.jpg"
               data-srcset="/img/2plus3d/2plus3d-thumb-900.jpg 900w,
               /img/2plus3d/2plus3d-thumb-300.jpg 300w"
               class="lazyload">
         </a>
         <h2><a href="/projects/2plus3d">Writing for 2+3d</a></h2>
         <a href="/projects/2plus3d" class="passive-link">
            {% include intros/2plus3d.html %}
         </a>
      </div>
   </div>
</div>