---
layout: category
title: Writing
label: writing
---

<div class="divide">
   <div class="divide-categories">
      <div class="divide-categories-unit">
         <h2><a href="/work/sequence-bundles">Sequence Bundles</a></h2>
         <a href="/work/sequence-bundles" class="passive-link">
            {% include intros/bundles.html %}
         </a>
         <a href="/work/sequence-bundles">
            {% include icons/more.html %}
         </a>
      </div>

      <div class="divide-categories-unit">
         <h2><a href="/work/lingua-extraterrestris">Lingua Extraterrestris</a></h2>
         <a href="/work/lingua-extraterrestris" class="passive-link">
            {% include intros/seti.html %}
         </a>
         <a href="/work/lingua-extraterrestris">
            {% include icons/more.html %}
         </a>
      </div>

      <div class="divide-categories-unit">
         <h2><a href="/work/data-explorers">Data Explorers</a></h2>
         <a href="/work/data-explorers" class="passive-link">
            {% include intros/visweek.html %}
         </a>
         <a href="/work/data-explorers">
            {% include icons/more.html %}
         </a>
      </div>
   </div>
</div>

<div class="divide">
   <div class="divide-categories">
      <div class="divide-categories-unit">
         <h2><a href="/work/2plus3d">Writing for 2+3d</a></h2>
         <a href="/work/2plus3d" class="passive-link">
            {% include intros/2plus3d.html %}
         </a>
         <a href="/work/2plus3d">
            {% include icons/more.html %}
         </a>
      </div>
   </div>
</div>
