---
layout: project
title: Mitosis and Meiosis
---

{% include contact.html %}

<h1>Mitosis and Meiosis</h1>

<h3>
   "What is the most complex thing in biology that students have trouble understanding"? I asked this question to my former high-school biology teacher, Dr W&#322;odzimierz W&#243;jcik, when we started a collaboration project to redesign visualisation aids he uses in class. "Mitosis and meiosis" &mdash; was his immediate answer.
</h3>
<h3>
   Mitosis and meiosis are two types of cell division that underpin most of biology. I created three diagrams explaining: mitosis, meiosis, and the role of both these processes in growth and development of organisms. In 2008 I released the diagrams under the Creative Commons CC BY-SA 3.0 license. Since then they have been adopted by 22 Wikipedia pages in 12 languages, used in teaching in Poland and USA, and published in books. They also come up in the first line in Google image searches for "mitosis" and "meiosis".
</h3>

{% include categories.html %}

<p>Home</p>
<a href="/">Home</a>
