---
layout: project
title: Mitosis and Meiosis
label: mitosis
---

<section id="diagrams">
   <div class="divide">
      <div class="divide-hide-desktop">
         <p>
            In mitosis, a cell simply makes an exact copy of itself (a single somatic diploid cell divides into two identical diploid cells).
            <br>
            <span class="creative-commons">CC BY-SA</span>
            <span class="fontello-close-icon"><i class="icon-cc"></i></span>
            <span class="fontello-close-icon"><i class="icon-cc-by"></i></span>
            <span class="fontello-close-icon"><i class="icon-cc-sa"></i></span>
         </p>
      </div>
      <div class="divide-full-one">
         <img
            data-sizes="auto" src="/img/mitosis-meiosis/mitosis-641.png"
            data-srcset="/img/mitosis-meiosis/mitosis-1920.png 1920w,
            /img/mitosis-meiosis/mitosis-1080.png 1080w,
            /img/mitosis-meiosis/mitosis-192.png 192w"
            class="lazyload">
      </div>
      <div class="divide-hide-mobile">
         <p>
            In mitosis, a cell simply makes an exact copy of itself (a single somatic diploid cell divides into two identical diploid cells).
            <br>
            <span class="creative-commons">CC BY-SA</span>
            <span class="fontello-close-icon"><i class="icon-cc"></i></span>
            <span class="fontello-close-icon"><i class="icon-cc-by"></i></span>
            <span class="fontello-close-icon"><i class="icon-cc-sa"></i></span>
         </p>
      </div>
   </div>

   <div class="divide">
      <div class="divide-hide-desktop">
         <p>
            In meiosis, a cell splits into four reproductive cells &mdash; in humans it's eggs or sperm (a single diploid cell divides into four haploid gametes or meiospores).
            <br>
            <span class="creative-commons">CC BY-SA</span>
            <span class="fontello-close-icon"><i class="icon-cc"></i></span>
            <span class="fontello-close-icon"><i class="icon-cc-by"></i></span>
            <span class="fontello-close-icon"><i class="icon-cc-sa"></i></span>
         </p>
      </div>
      <div class="divide-full-one">
         <img
            data-sizes="auto" src="/img/mitosis-meiosis/meiosis-641.png"
            data-srcset="/img/mitosis-meiosis/meiosis-1920.png 1920w,
            /img/mitosis-meiosis/meiosis-1080.png 1080w,
            /img/mitosis-meiosis/meiosis-192.png 192w"
            class="lazyload">
      </div>
      <div class="divide-hide-mobile">
         <p>
            In meiosis, a cell splits into four reproductive cells &mdash; in humans it's eggs or sperm (a single diploid cell divides into four haploid gametes or meiospores).
            <br>
            <span class="creative-commons">CC BY-SA</span>
            <span class="fontello-close-icon"><i class="icon-cc"></i></span>
            <span class="fontello-close-icon"><i class="icon-cc-by"></i></span>
            <span class="fontello-close-icon"><i class="icon-cc-sa"></i></span>
         </p>
      </div>
   </div>

   <div class="divide">
      <div class="divide-hide-desktop">
         <p>
            Mitosis allows multicellular organisms to grow, build tissues, and replace worn out cells. Meiosis enables sexual reproduction and adds some genetic variation to each new generation of organisms.
            <br>
            <span class="creative-commons">CC BY-SA</span>
            <span class="fontello-close-icon"><i class="icon-cc"></i></span>
            <span class="fontello-close-icon"><i class="icon-cc-by"></i></span>
            <span class="fontello-close-icon"><i class="icon-cc-sa"></i></span>
         </p>
      </div>
      <div class="divide-full-one">
         <img
            data-sizes="auto" src="/img/mitosis-meiosis/growth-641.png"
            data-srcset="/img/mitosis-meiosis/growth-1920.png 1920w,
            /img/mitosis-meiosis/growth-1080.png 1080w,
            /img/mitosis-meiosis/growth-192.png 192w"
            class="lazyload">
      </div>
      <div class="divide-hide-mobile">
         <p>
            Mitosis allows multicellular organisms to grow, build tissues, and replace worn out cells. Meiosis enables sexual reproduction and adds some genetic variation to each new generation of organisms.
            <br>
            <span class="creative-commons">CC BY-SA</span>
            <span class="fontello-close-icon"><i class="icon-cc"></i></span>
            <span class="fontello-close-icon"><i class="icon-cc-by"></i></span>
            <span class="fontello-close-icon"><i class="icon-cc-sa"></i></span>
         </p>
      </div>
   </div>
</section>

<section id="dissemination">
   <div class="divide">
      <div class="divide-half">
         <div class="divide-half-unit">
            <p>
               I discussed Mitosis and Meiosis at:
               <ul>
                  <li>{% include events/2014-tivc.html %},</li>
                  <li>{% include events/2012-ida.html %}.</li>
               </ul>
            </p>
            <p>
               The Mitosis and Meiosis project was also featured in the {% include pubs/designingscience.html %}.
            </p>
         </div>
      </div>
   </div>
</section>