---
layout: category
title: Making
label: making
---

<div class="divide">
   <div class="divide-categories">
      <div class="divide-categories-unit">
         <div class="categories-wrapper">
            <a href="/work/bento-lab" class="categories-image">
               <img
                  data-sizes="auto" src="/img/bento-lab/bento-lab-thumb-600.jpg"
                  data-srcset="/img/bento-lab/bento-lab-thumb-900.jpg 900w,
                  /img/bento-lab/bento-lab-thumb-300.jpg 300w"
                  class="lazyload">
            </a>
         </div>
         <h2><a href="/work/bento-lab">bento&bull;lab</a></h2>
         <a href="/work/bento-lab" class="passive-link">
            {% include intros/bento.html %}
         </a>
      </div>

      <div class="divide-categories-unit">
         <div class="categories-wrapper">
            <a href="/work/human-factors" class="categories-image">
               <img
                  data-sizes="auto" src="/img/human-factors/human-factors-thumb-600.png"
                  data-srcset="/img/human-factors/human-factors-thumb-900.png 900w,
                  /img/human-factors/human-factors-thumb-300.png 300w"
                  class="lazyload">
            </a>
         </div>
         <h2><a href="/work/human-factors">Human Factors</a></h2>
         <a href="/work/human-factors" class="passive-link">
            {% include intros/factors.html %}
         </a>
      </div>

      <div class="divide-categories-unit">
         <div class="categories-wrapper">
            <a href="/work/the-end-of-hearing" class="categories-image">
               <img
                  data-sizes="auto" src="/img/the-end-of-hearing/the-end-of-hearing-thumb-600.jpg"
                  data-srcset="/img/the-end-of-hearing/the-end-of-hearing-thumb-900.jpg 900w,
                  /img/the-end-of-hearing/the-end-of-hearing-thumb-300.jpg 300w"
                  class="lazyload">
            </a>
         </div>
         <h2><a href="/work/the-end-of-hearing">The End of Hearing</a></h2>
         <a href="/work/the-end-of-hearing" class="passive-link">
            {% include intros/hearing.html %}
         </a>
      </div>
   </div>
</div>