---
layout: category
title: Making
label: making
---

<div class="divide">
   <div class="divide-categories">
      <div class="divide-categories-unit">
         <h2><a href="/work/bento-lab">bento&bull;lab</a></h2>
         <a href="/work/bento-lab" class="passive-link">
            {% include intros/bento.html %}
         </a>
      </div>

      <div class="divide-categories-unit">
         <h2><a href="/work/the-end-of-hearing">The End of Hearing</a></h2>
         <a href="/work/the-end-of-hearing" class="passive-link">
            {% include intros/hearing.html %}
         </a>
      </div>

      <div class="divide-categories-unit">
         <h2><a href="/work/human-factors">Human Factors</a></h2>
         <a href="/work/human-factors" class="passive-link">
            {% include intros/factors.html %}
         </a>
      </div>
   </div>
</div>