---
layout: category
title: Making
label: making
---

<div class="divide">
   <div class="divide-categories">
      <div class="divide-categories-unit">
         <a href="/work/bento-lab"><h2><span class="works-title">bento&bull;lab</span></h2></a>
         <a href="/work/bento-lab" class="passive-link">
            {% include intros/bento.html %}
         </a>
         <a href="/work/bento-lab">
            {% include icons/more.html %}
         </a>
      </div>

      <div class="divide-categories-unit">
         <a href="/work/the-end-of-hearing"><h2><span class="works-title">The End of Hearing</span></h2></a>
         <a href="/work/the-end-of-hearing" class="passive-link">
            {% include intros/hearing.html %}
         </a>
         <a href="/work/the-end-of-hearing">
            {% include icons/more.html %}
         </a>
      </div>

      <div class="divide-categories-unit">
         <a href="/work/human-factors"><h2><span class="works-title">Human Factors</span></h2></a>
         <a href="/work/human-factors" class="passive-link">
            {% include intros/factors.html %}
         </a>
         <a href="/work/human-factors">
            {% include icons/more.html %}
         </a>
      </div>
   </div>
</div>
