.DS_Store
/_site
.sass-cache
_site
*.psd
*.ai
img/2plus3d/_source
img/bento-lab/_source
img/data-explorers/_source
img/human-factors/_source
img/immunographics/_source
img/lingua-extraterrestris/_source
img/mitosis-meiosis/_source
img/paradoxes/_source
img/reversal-of-the-roles/_source
img/sex-shop/_source
img/sequence-bundles/_source
img/the-end-of-hearing/_source
