---
layout: project
title: Marek Kultys
label: workshops
---

<section id="about">
   <div class="divide">
      <div class="divide-two-thirds-right">
         <h1>Design Workshops</h1>
         <h3>
            Since 2012, I've been authoring and facilitating design workshops.
         </h3>
         <h3>
            My workshops are all about data and <span class="nowrap">hands-on</span> work. In <a href="/projects/paradoxes" title="Paradoxes workshop">Paradoxes</a> and <a href="/projects/data-explorers" title="Data Explorers workshop"><span class="nowrap">Data Explorers</span></a> I focused on visualisation of data and abstract concepts. More recently, in <a href="/projects/design-led" title="Design-led Research workshop"><span class="nowrap">Design-led</span> Research</a>, I started using the workshop format to introduce participants to design and research methods useful in creating data experiences.
         </h3>
      </div>
   </div>
</section>

<section id="design-led">
   <div class="divide">
      <div class="divide-two-thirds-right">
         <a href="/projects/design-led" class="projects-image" title="Design-led Research Workshop">
            <img
               data-sizes="auto" src="/img/design-led/design-led-hmw-641.jpg"
               data-srcset="/img/design-led/design-led-hmw-1920.jpg 1920w,
               /img/design-led/design-led-hmw-1080.jpg 1080w,
               /img/design-led/design-led-hmw-192.jpg 192w"
               class="lazyload" alt="Design-led Research Workshop">
         </a>
      </div>
      <div class="divide-one-third-right">
         <h2><a href="/projects/design-led" title="Design-led Research Workshop">Design Led-Research</a></h2>
         <a href="/projects/design-led" class="passive-link" title="Design-led Research Workshop">
            {% include intros/design-led.html %}
         </a>
      </div>
   </div>
</section>

<section id="paradoxes">
   <div class="divide">
      <div class="divide-two-thirds-right">
         <a href="/projects/paradoxes" class="projects-image" title="Visualising Paradoxes workshop">
            <img
               data-sizes="auto" src="/img/paradoxes/workshop-5-641.jpg"
               data-srcset="/img/paradoxes/workshop-5-1920.jpg 1920w,
               /img/paradoxes/workshop-5-1080.jpg 1080w,
               /img/paradoxes/workshop-5-192.jpg 192w"
               class="lazyload" alt="Visualising Paradoxes workshop">
         </a>
      </div>
      <div class="divide-one-third-right">
         <h2><a href="/projects/paradoxes" title="Visualising Paradoxes workshop">Paradoxes</a></h2>
         <a href="/projects/paradoxes" class="passive-link" title="Visualising Paradoxes workshop">
            {% include intros/paradoxes.html %}
         </a>
      </div>
   </div>
</section>

<section id="data-explorers">
   <div class="divide">
      <div class="divide-two-thirds-right">
         <a href="/projects/data-explorers" class="projects-image" title="Visual Design for Data Explorers workshop">
            <img
               data-sizes="auto" src="/img/data-explorers/data-explorers-641.png"
               data-srcset="/img/data-explorers/data-explorers-1920.png 1920w,
               /img/data-explorers/data-explorers-1080.png 1080w,
               /img/data-explorers/data-explorers-192.png 192w"
               class="lazyload" alt="Visual Design for Data Explorers workshop">
         </a>
      </div>
      <div class="divide-one-third-right">
         <h2><a href="/projects/data-explorers" title="Visual Design for Data Explorers workshop">Data Explorers</a></h2>
         <a href="/projects/data-explorers" class="passive-link" title="Visual Design for Data Explorers workshop">
            {% include intros/visweek.html %}
         </a>
      </div>
   </div>
</section>