---
layout: project
title: Mitosis and Meiosis
label: mitosis
---
<section id="about">
   <div class="divide">
      <div class="divide-two-thirds-right">
         <h1>Mitosis and Meiosis</h1>
         <h3>
            Mitosis and meiosis are types of biological cell division. I created three diagrams explaining mitosis and meiosis visually, on which I collaborated closely with my high school teacher, Dr Włodzimierz Wójcik. In 2008 I published the diagrams in Wikipedia under the Creative Commons. Since 2009 they have also been used in teaching in Poland and in the US.
         </h3>
      </div>
   </div>
</section>

<section id="mitosis">
   <div class="divide">
      <div class="divide-one-third-left">
         <p>
            In mitosis, a single somatic diploid cell divides into two identical diploid cells. In other words, a cell makes an exact copy of itself.
            <br>
            <span class="creative-commons">CC BY-SA</span>
            <span class="fontello-cc-icon"><i class="icon-cc"></i></span>
            <span class="fontello-cc-icon"><i class="icon-cc-by"></i></span>
            <span class="fontello-cc-icon"><i class="icon-cc-sa"></i></span>
         </p>
      </div>
      <div class="divide-two-thirds-left">
         <img
            data-sizes="auto" src="/img/mitosis-meiosis/mitosis-641.png"
            data-srcset="/img/mitosis-meiosis/mitosis-1920.png 1920w,
            /img/mitosis-meiosis/mitosis-1080.png 1080w,
            /img/mitosis-meiosis/mitosis-192.png 192w"
            class="lazyload" alt="Diagram showing mitosis">
      </div>
   </div>
</section>

<section id="meiosis">
   <div class="divide">
      <div class="divide-one-third-left">
         <p>
            In meiosis, a single diploid cell divides into four haploid cells: gametes or meiospores. In other words, a cell splits into four reproductive cells (in humans it's egg or sperm cells).
            <br>
            <span class="creative-commons">CC BY-SA</span>
            <span class="fontello-cc-icon"><i class="icon-cc"></i></span>
            <span class="fontello-cc-icon"><i class="icon-cc-by"></i></span>
            <span class="fontello-cc-icon"><i class="icon-cc-sa"></i></span>
         </p>
      </div>
      <div class="divide-two-thirds-left">
         <img
            data-sizes="auto" src="/img/mitosis-meiosis/meiosis-641.png"
            data-srcset="/img/mitosis-meiosis/meiosis-1920.png 1920w,
            /img/mitosis-meiosis/meiosis-1080.png 1080w,
            /img/mitosis-meiosis/meiosis-192.png 192w"
            class="lazyload" alt="Diagram showing meiosis">
      </div>
   </div>
</section>

<section id="growth-development">
   <div class="divide">
      <div class="divide-one-third-left">
         <p>
            Mitosis allows multicellular organisms to grow, build tissues, and replace cells. Meiosis enables sexual reproduction and contributes to genetic diversification in each new generation of organisms.
            <br>
            <span class="creative-commons">CC BY-SA</span>
            <span class="fontello-cc-icon"><i class="icon-cc"></i></span>
            <span class="fontello-cc-icon"><i class="icon-cc-by"></i></span>
            <span class="fontello-cc-icon"><i class="icon-cc-sa"></i></span>
         </p>
      </div>
      <div class="divide-two-thirds-left">
         <img
            data-sizes="auto" src="/img/mitosis-meiosis/growth-641.png"
            data-srcset="/img/mitosis-meiosis/growth-1920.png 1920w,
            /img/mitosis-meiosis/growth-1080.png 1080w,
            /img/mitosis-meiosis/growth-192.png 192w"
            class="lazyload" alt="Diagram explaining the role of mitosis and meiosis in the growth and development of organisms">
      </div>
   </div>
</section>

<section id="open-source">
   <div class="divide">
      <div class="divide-two-thirds-left">
         <p>
            In 2008 I published the diagrams under the <a href="https://creativecommons.org/licenses/by-sa/3.0/" title="CC BY-SA 3.0 license definition on the Creative Commons website">CC BY-SA 3.0</a> Creative Commons license. Since then, they have been adopted by 22 Wikipedia pages in 12 languages, used in high school and university teaching in Poland and USA, and published in books. They also come up on the first page of Google image search for <a href="https://www.google.co.uk/search?q=mitosis&espv=2&biw=1631&bih=1318&source=lnms&tbm=isch&sa=X&ved=0CAYQ_AUoAWoVChMI7euMq43AxwIVbUfbCh0E1wIH" title="Google image search for 'mitosis'">"mitosis"</a> and <a href="https://www.google.co.uk/search?q=meiosis&biw=1631&bih=1318&source=lnms&tbm=isch&sa=X&sqi=2&ved=0CAYQ_AUoAWoVChMI9KL9tI3AxwIVdEfbCh0Iswq3" title="Google image search for 'meiosis'">"meiosis"</a>.
         </p>
      </div>
      <a href="https://en.wikipedia.org/wiki/Meiosis#Process" class="works-image">
         <div class="divide-one-third-left">
            <img
               data-sizes="auto" src="/img/mitosis-meiosis/wikipedia-800.png"
               data-srcset="/img/mitosis-meiosis/wikipedia-641.png 641w,
               /img/mitosis-meiosis/wikipedia-192.png 192w"
               class="lazyload" {% include image-border.css %} alt="Meiosis in Wikipedia">
         </div>
      </a>
   </div>
</section>

<section id="process">
   <div class="divide">
      <div class="divide-one-third-left">
         <p>
            It took me about 6 months to develop all three diagrams. Everything started with  low-fidelity sketches, in which I could capture all scientific concepts agreed with Dr Wójcik.
         </p>
      </div>
      <div class="divide-two-thirds-left">
         <span class="separated-images">
            <img
               data-sizes="auto" src="/img/mitosis-meiosis/sketch-2-641.png"
               data-srcset="/img/mitosis-meiosis/sketch-2-1160.png 1160w,
               /img/mitosis-meiosis/sketch-2-1080.png 1080w,
               /img/mitosis-meiosis/sketch-2-192.png 192w"
               class="lazyload" alt="Low-fidelity sketches">
            <img
               data-sizes="auto" src="/img/mitosis-meiosis/sketch-1-641.png"
               data-srcset="/img/mitosis-meiosis/sketch-1-1300.png 1300w,
               /img/mitosis-meiosis/sketch-1-1080.png 1080w,
               /img/mitosis-meiosis/sketch-1-192.png 192w"
               class="lazyload" alt="Low-fidelity sketches">
            <img
               data-sizes="auto" src="/img/mitosis-meiosis/sketch-6-641.jpg"
               data-srcset="/img/mitosis-meiosis/sketch-6-1327.jpg 1327w,
               /img/mitosis-meiosis/sketch-6-1080.jpg 1080w,
               /img/mitosis-meiosis/sketch-6-192.jpg 192w"
               class="lazyload" alt="Low-fidelity sketches">
         </span>
      </div>
   </div>

   <div class="divide">
      <div class="divide-one-third-left">
         <p>
            We worked through several iterations. Once I managed to work out diagram structure in detail, I later progressed to sketching in higher fidelity and, ultimately, to digital production.
         </p>
      </div>
      <div class="divide-two-thirds-left">
         <span class="separated-images">
            <img
               data-sizes="auto" src="/img/mitosis-meiosis/sketch-8-641.jpg"
               data-srcset="/img/mitosis-meiosis/sketch-8-1200.jpg 1200w,
               /img/mitosis-meiosis/sketch-8-1080.jpg 1080w,
               /img/mitosis-meiosis/sketch-8-192.jpg 192w"
               class="lazyload" alt="High-fidelity sketches">
            <img
               data-sizes="auto" src="/img/mitosis-meiosis/sketch-9-641.jpg"
               data-srcset="/img/mitosis-meiosis/sketch-9-1200.jpg 1200w,
               /img/mitosis-meiosis/sketch-9-1080.jpg 1080w,
               /img/mitosis-meiosis/sketch-9-192.jpg 192w"
               class="lazyload" alt="Designing the diagram">
            <img
               data-sizes="auto" src="/img/mitosis-meiosis/meiosis-641.png"
               data-srcset="/img/mitosis-meiosis/meiosis-1920.png 1920w,
               /img/mitosis-meiosis/meiosis-1080.png 1080w,
               /img/mitosis-meiosis/meiosis-192.png 192w"
               class="lazyload" alt="Designing the diagram">
         </span>
      </div>
   </div>
</section>

<section id="dissemination">
   <div class="divide">
      <div class="divide-half">
         <div class="divide-half-unit">
            <p>
               I discussed Mitosis and Meiosis at:
            </p>
            <ul>
               <li>{% include events/2014-tivc.html %},</li>
               <li>{% include events/2012-ida.html %}.</li>
            </ul>
            <p>
               The Mitosis and Meiosis project was also featured in the {% include pubs/designingscience.html %}.
            </p>
         </div>
      </div>
   </div>
</section>