---
layout: project
title: Visual Design for Data Explorers
label: visweek
---


<div id="gallery" class="divide">
   <div class="divide-one-third-left">
      <h4>
         Data scientists work with huge datasets generated in, for example, genomics or social media. They often build software tools to help them visualise and understand those huge sets of data. Yet, many data scientists lack basic design skills to make good visualisation choices.
      </h4>
      <h4>
         The workshop starts with a 90-minute talk with an introduction to basic elements of visual design: a dot, a line, a plane, colour, typography, grid. I discuss examples of good and poor use of those elements. This gives workshop participants not only some theoretical basics of visual design, but also good inspiration for the following partcical part of the workshop.
      </h4>
   </div>
   <div class="divide-two-thirds-left">
      <img
         data-sizes="auto" src="/img/data-explorers/presentation-intro-641.jpg"
         data-srcset="/img/data-explorers/presentation-intro-1920.jpg 1920w,
         /img/data-explorers/presentation-intro-1080.jpg 1080w,
         /img/data-explorers/presentation-intro-192.jpg 192w"
         class="lazyload" {% include image-border.html %}>
      <img
         data-sizes="auto" src="/img/data-explorers/presentation-point-641.jpg"
         data-srcset="/img/data-explorers/presentation-point-1920.jpg 1920w,
         /img/data-explorers/presentation-point-1080.jpg 1080w,
         /img/data-explorers/presentation-point-192.jpg 192w"
         class="lazyload" {% include image-border.html %}>
      <img
         data-sizes="auto" src="/img/data-explorers/presentation-line-641.jpg"
         data-srcset="/img/data-explorers/presentation-line-1920.jpg 1920w,
         /img/data-explorers/presentation-line-1080.jpg 1080w,
         /img/data-explorers/presentation-line-192.jpg 192w"
         class="lazyload" {% include image-border.html %}>
      <img
         data-sizes="auto" src="/img/data-explorers/presentation-horizon-641.jpg"
         data-srcset="/img/data-explorers/presentation-horizon-1920.jpg 1920w,
         /img/data-explorers/presentation-horizon-1080.jpg 1080w,
         /img/data-explorers/presentation-horizon-192.jpg 192w"
         class="lazyload" {% include image-border.html %}>
      <img
         data-sizes="auto" src="/img/data-explorers/presentation-flat-641.jpg"
         data-srcset="/img/data-explorers/presentation-flat-1920.jpg 1920w,
         /img/data-explorers/presentation-flat-1080.jpg 1080w,
         /img/data-explorers/presentation-flat-192.jpg 192w"
         class="lazyload" {% include image-border.html %}>
      <img
         data-sizes="auto" src="/img/data-explorers/presentation-negative-641.jpg"
         data-srcset="/img/data-explorers/presentation-negative-1920.jpg 1920w,
         /img/data-explorers/presentation-negative-1080.jpg 1080w,
         /img/data-explorers/presentation-negative-192.jpg 192w"
         class="lazyload" {% include image-border.html %}>
      <img
         data-sizes="auto" src="/img/data-explorers/presentation-london-641.jpg"
         data-srcset="/img/data-explorers/presentation-london-1920.jpg 1920w,
         /img/data-explorers/presentation-london-1080.jpg 1080w,
         /img/data-explorers/presentation-london-192.jpg 192w"
         class="lazyload" {% include image-border.html %}>
      <img
         data-sizes="auto" src="/img/data-explorers/presentation-label-641.jpg"
         data-srcset="/img/data-explorers/presentation-label-1920.jpg 1920w,
         /img/data-explorers/presentation-label-1080.jpg 1080w,
         /img/data-explorers/presentation-label-192.jpg 192w"
         class="lazyload" {% include image-border.html %}>
      <img
         data-sizes="auto" src="/img/data-explorers/presentation-measure-641.jpg"
         data-srcset="/img/data-explorers/presentation-measure-1920.jpg 1920w,
         /img/data-explorers/presentation-measure-1080.jpg 1080w,
         /img/data-explorers/presentation-measure-192.jpg 192w"
         class="lazyload" {% include image-border.html %}>
      <!-- <img
         data-sizes="auto" src="/img/data-explorers/presentation-size-641.jpg"
         data-srcset="/img/data-explorers/presentation-size-1920.jpg 1920w,
         /img/data-explorers/presentation-size-1080.jpg 1080w,
         /img/data-explorers/presentation-size-192.jpg 192w"
         class="lazyload" {% include image-border.html %}>
      <img
         data-sizes="auto" src="/img/data-explorers/presentation-map-641.jpg"
         data-srcset="/img/data-explorers/presentation-map-1920.jpg 1920w,
         /img/data-explorers/presentation-map-1080.jpg 1080w,
         /img/data-explorers/presentation-map-192.jpg 192w"
         class="lazyload" {% include image-border.html %}>
      <img
         data-sizes="auto" src="/img/data-explorers/presentation-globe-641.jpg"
         data-srcset="/img/data-explorers/presentation-globe-1920.jpg 1920w,
         /img/data-explorers/presentation-globe-1080.jpg 1080w,
         /img/data-explorers/presentation-globe-192.jpg 192w"
         class="lazyload" {% include image-border.html %}> -->
   </div>
</div>


<div class="divide">
   <div class="divide-hide-desktop">
      <h4>
         The introduction is followed by a hands-on exercise. Workshop participants are given a small data set with a few features that are difficult to visualise. Using only pencils and paper (no computers allowed!), participants have to think outside of the box to come up with best ways to visualise and interpret the data.
      </h4>
   </div>
   <div class="divide-full-one">
      <img
         data-sizes="auto" src="/img/data-explorers/data-641.png"
         data-srcset="/img/data-explorers/data-1920.png 1920w,
         /img/data-explorers/data-1080.png 1080w,
         /img/data-explorers/data-192.png 192w"
         class="lazyload" {% include image-border.html %}>
   </div>
   <div class="divide-hide-mobile">
      <h4>
         The introduction is followed by a hands-on exercise. Workshop participants are given a small data set with a few features that are difficult to visualise. Using only pencils and paper (no computers allowed!), participants have to think outside of the box to come up with best ways to visualise and interpret the data.
      </h4>
   </div>
</div>


<div class="divide">
   <div class="divide-two-thirds-left">
      <h4>
         In the last part of the workshop participants (or groups) present their work to others and discuss their design decisions. A public crit allows everyone to see a range of possibilities in which the dataset can be visualised. It also helps to understand how different design choices influence one's perception of data. Below sketches made by tutorial participants.
      </h4>
   </div>
   <div class="divide-half">
      <div class="divide-half-unit">
         <img
            data-sizes="auto" src="/img/data-explorers/sketch-12-641.jpg"
            data-srcset="/img/data-explorers/sketch-12-1920.jpg 1920w,
            /img/data-explorers/sketch-12-1080.jpg 1080w,
            /img/data-explorers/sketch-12-192.jpg 192w"
            class="lazyload" {% include image-border.html %}>
      </div>
      <div class="divide-half-unit">
         <img
            data-sizes="auto" src="/img/data-explorers/sketch-13-641.jpg"
            data-srcset="/img/data-explorers/sketch-13-1920.jpg 1920w,
            /img/data-explorers/sketch-13-1080.jpg 1080w,
            /img/data-explorers/sketch-13-192.jpg 192w"
            class="lazyload" {% include image-border.html %}>
      </div>
   </div>
   <div class="divide-third">
      <div class="divide-third-unit">
         <img
            data-sizes="auto" src="/img/data-explorers/sketch-05-641.jpg"
            data-srcset="/img/data-explorers/sketch-05-1920.jpg 1920w,
            /img/data-explorers/sketch-05-1080.jpg 1080w,
            /img/data-explorers/sketch-05-192.jpg 192w"
            class="lazyload" {% include image-border.html %}>
      </div>
      <div class="divide-third-unit">
         <img
            data-sizes="auto" src="/img/data-explorers/sketch-06-641.jpg"
            data-srcset="/img/data-explorers/sketch-06-1920.jpg 1920w,
            /img/data-explorers/sketch-06-1080.jpg 1080w,
            /img/data-explorers/sketch-06-192.jpg 192w"
            class="lazyload" {% include image-border.html %}>
      </div>
      <div class="divide-third-unit">
         <img
            data-sizes="auto" src="/img/data-explorers/sketch-52-641.jpg"
            data-srcset="/img/data-explorers/sketch-52-1920.jpg 1920w,
            /img/data-explorers/sketch-52-1080.jpg 1080w,
            /img/data-explorers/sketch-52-192.jpg 192w"
            class="lazyload" {% include image-border.html %}>
      </div>
   </div>
   <div class="divide-third">
      <div class="divide-third-unit">
         <img
            data-sizes="auto" src="/img/data-explorers/sketch-41-641.jpg"
            data-srcset="/img/data-explorers/sketch-41-1920.jpg 1920w,
            /img/data-explorers/sketch-41-1080.jpg 1080w,
            /img/data-explorers/sketch-41-192.jpg 192w"
            class="lazyload" {% include image-border.html %}>
      </div>
      <div class="divide-third-unit">
         <img
            data-sizes="auto" src="/img/data-explorers/sketch-45-641.jpg"
            data-srcset="/img/data-explorers/sketch-45-1920.jpg 1920w,
            /img/data-explorers/sketch-45-1080.jpg 1080w,
            /img/data-explorers/sketch-45-192.jpg 192w"
            class="lazyload" {% include image-border.html %}>
      </div>
      <div class="divide-third-unit">
         <img
            data-sizes="auto" src="/img/data-explorers/sketch-04-641.jpg"
            data-srcset="/img/data-explorers/sketch-04-1920.jpg 1920w,
            /img/data-explorers/sketch-04-1080.jpg 1080w,
            /img/data-explorers/sketch-04-192.jpg 192w"
            class="lazyload" {% include image-border.html %}>
      </div>
   </div>
   <div class="divide-half">
      <div class="divide-half-unit">
         <img
            data-sizes="auto" src="/img/data-explorers/sketch-66-641.jpg"
            data-srcset="/img/data-explorers/sketch-66-1920.jpg 1920w,
            /img/data-explorers/sketch-66-1080.jpg 1080w,
            /img/data-explorers/sketch-66-192.jpg 192w"
            class="lazyload" {% include image-border.html %}>
      </div>
      <div class="divide-half-unit">
         <img
            data-sizes="auto" src="/img/data-explorers/sketch-59-641.jpg"
            data-srcset="/img/data-explorers/sketch-59-1920.jpg 1920w,
            /img/data-explorers/sketch-59-1080.jpg 1080w,
            /img/data-explorers/sketch-59-192.jpg 192w"
            class="lazyload" {% include image-border.html %}>
      </div>
   </div>
   <div class="divide-half">
      <div class="divide-half-unit" style="margin-bottom: 0px;"> <!-- CSS insert -->
         <img
            data-sizes="auto" src="/img/data-explorers/sketch-40-641.jpg"
            data-srcset="/img/data-explorers/sketch-40-1920.jpg 1920w,
            /img/data-explorers/sketch-40-1080.jpg 1080w,
            /img/data-explorers/sketch-40-192.jpg 192w"
            class="lazyload" {% include image-border.html %}>
      </div>
      <div class="divide-half-unit" style="margin-bottom: 0px;"> <!-- CSS insert -->
         <img
            data-sizes="auto" src="/img/data-explorers/sketch-77-641.jpg"
            data-srcset="/img/data-explorers/sketch-77-1920.jpg 1920w,
            /img/data-explorers/sketch-77-1080.jpg 1080w,
            /img/data-explorers/sketch-77-192.jpg 192w"
            class="lazyload" {% include image-border.html %}>
            <h6 class="image-credit">
               Sketches by VisWeek 2012 tutorial participants.
            </h6>
      </div>
   </div>
</div>


<div class="divide">
   <div class="divide-one-third-left">
      <h4>
         The workshop was included in the tutorials programme of <a href="http://ieeevis.org/year/2012/tutorial/visweek/good-practice-visual-communication-design-scientific-and-data-visualizati">VisWeek 2012</a> in Seattle, WA, and <a href="http://ieeevis.org/year/2013/tutorial/visweek/visualization-data-visual-interpretation-data-hands-design-tutorial">IEEEVis 2013</a> in Atlanta, GA (in the Industry &amp; Government Highlights).
      </h4>
      <h4>
         I also summarised the workshop in a paper published in {% include pubs/pjim.html %} (PJIM).
      </h4>
      <h4>
         In 2012&ndash;2014 I also ran the workshop as part of the data visualisation programme for MA students at City University in London.
      </h4>
   </div>
   <a href="http://pjim.newschool.edu/issues/2013/01/index.php">
      <div class="divide-two-thirds-left">
         <img
            data-sizes="auto" src="/img/data-explorers/parsons-journal-01-641.png"
            data-srcset="/img/data-explorers/parsons-journal-01-1920.png 1920w,
            /img/data-explorers/parsons-journal-01-1080.png 1080w,
            /img/data-explorers/parsons-journal-01-192.png 192w"
            class="lazyload" {% include image-border.html %}>
      </div>
   </a>
</div>
