---
layout: project
title: Lingua Extraterrestris
label: seti
---


<section id="research">
   <div class="divide">
      <div class="divide-one-third-left">
         <p>
            Communication with Extraterrestrial Intelligence (active branch of <a href="https://en.wikipedia.org/wiki/Search_for_extraterrestrial_intelligence">SETI</a>) has always been focused on the question "What should we say to them once we make the contact?"
         </p>
      </div>
      <div class="divide-two-thirds-left">
         <img
            data-sizes="auto" src="/img/lingua-extraterrestris/plaque-641.jpg"
            data-srcset="/img/lingua-extraterrestris/plaque-1920.jpg 1920w,
            /img/lingua-extraterrestris/plaque-1080.jpg 1080w,
            /img/lingua-extraterrestris/plaque-192.jpg 192w"
            class="lazyload">
         <h6 class="image-credit">
            Pioneer 10 and 11 plaque, designed by Sagan and Drake, NASA
         </h6>
      </div>
   </div>


   <div class="divide">
      <div class="divide-two-thirds-left">
         <p>
            My own research focused on looking at the process of extraterrestrial communication through the lens of information theory.
         </p>
      </div>
      <div class="divide-full-one">
         <img
            data-sizes="auto" src="/img/lingua-extraterrestris/shannon-model-641.png"
            data-srcset="/img/lingua-extraterrestris/shannon-model-1920.png 1920w,
            /img/lingua-extraterrestris/shannon-model-1080.png 1080w,
            /img/lingua-extraterrestris/shannon-model-192.png 192w"
            class="lazyload">
         <h6 class="image-credit">
            C. E. Shannon, A Mathematical Theory of Computation<br>
            <i>The Bell Syst Tech Journal</i>, Vol. 27, pp. 379-423, Jul&ndash;Oct 1948
         </h6>
      </div>
   </div>


   <div class="divide">
      <div class="divide-one-third-left">
         <p>
            I looked at both science-fiction and scientific examples of communicating with extraterrestrials to understand the similarities and differences with various ways of communication we know from Earth.
         </p>
         <p>
            From science-fiction films like 'Close Encounters of the Third Kind'...
         </p>
      </div>
      <div class="divide-two-thirds-left">
         <img
            data-sizes="auto" src="/img/lingua-extraterrestris/ce3k-5-641.jpg"
            data-srcset="/img/lingua-extraterrestris/ce3k-5-1770.jpg 1770w,
            /img/lingua-extraterrestris/ce3k-5-1080.jpg 1080w,
            /img/lingua-extraterrestris/ce3k-5-192.jpg 192w"
            class="lazyload">
         <img
            data-sizes="auto" src="/img/lingua-extraterrestris/ce3k-3-641.jpg"
            data-srcset="/img/lingua-extraterrestris/ce3k-3-1770.jpg 1770w,
            /img/lingua-extraterrestris/ce3k-3-1080.jpg 1080w,
            /img/lingua-extraterrestris/ce3k-3-192.jpg 192w"
            class="lazyload">
         <img
            data-sizes="auto" src="/img/lingua-extraterrestris/ce3k-4-641.jpg"
            data-srcset="/img/lingua-extraterrestris/ce3k-4-1770.jpg 1770w,
            /img/lingua-extraterrestris/ce3k-4-1080.jpg 1080w,
            /img/lingua-extraterrestris/ce3k-4-192.jpg 192w"
            class="lazyload">
         <img
            data-sizes="auto" src="/img/lingua-extraterrestris/ce3k-2-641.jpg"
            data-srcset="/img/lingua-extraterrestris/ce3k-2-1770.jpg 1770w,
            /img/lingua-extraterrestris/ce3k-2-1080.jpg 1080w,
            /img/lingua-extraterrestris/ce3k-2-192.jpg 192w"
            class="lazyload">
         <img
            data-sizes="auto" src="/img/lingua-extraterrestris/ce3k-1-641.jpg"
            data-srcset="/img/lingua-extraterrestris/ce3k-1-1770.jpg 1770w,
            /img/lingua-extraterrestris/ce3k-1-1080.jpg 1080w,
            /img/lingua-extraterrestris/ce3k-1-192.jpg 192w"
            class="lazyload">
         <h6 class="image-credit">
            <i>Close Encounters of the Third Kind</i>, directed by S. Spielberg, 1977<br>
         </h6>
      </div>
   </div>


   <div class="divide">
      <div class="divide-one-third-left">
         <p>
            ...or controversial accounts from independent thinkers...
         </p>
      </div>
      <div class="divide-two-thirds-left">
         <div class="video-wrapper">
            <iframe src="https://www.youtube.com/embed/YjpcZPT1-NA?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
         </div>
         <h6 class="image-credit">
            <i>One Pair of Eyes</i>, with Sir Patrick Moore, BBC, 1969<br>
         </h6>
      </div>
   </div>


   <div class="divide">
      <div class="divide-one-third-left">
         <p>
            ...to historic scientific endeavours such as broadcasting the famous <a href="https://en.wikipedia.org/wiki/Arecibo_message">Arecibo message</a>.
         </p>
      </div>
      <div class="divide-two-thirds-left">
         <img
            data-sizes="auto" src="/img/lingua-extraterrestris/arecibo-641.png"
            data-srcset="/img/lingua-extraterrestris/arecibo-1770.png 1770w,
            /img/lingua-extraterrestris/arecibo-1080.png 1080w,
            /img/lingua-extraterrestris/arecibo-192.png 192w"
            class="lazyload">
         <h6 class="image-credit">
            Arecibo message sent towards globular star cluster M13 in 1974<br>
         </h6>
      </div>
   </div>





   <div class="divide">
      <div class="divide-two-thirds-left">
         <p>
            I also looked at how information theory can inform our understanding of the <a href="http://www.seti.org/drakeequation">Drake Equation</a> which allows to estimate the number of civilisations in our Galaxy with whom we might communicate.
         </p>
      </div>
   </div>


   <div class="divide">
      <div class="divide-one-third-left">
         <p>
            I suggested expanding one of Drake's original terms &mdash; fc &mdash; to take into account four factors that are central to information theory and linguistic models of communication: Channel, Contact, Context and Code.
         </p>
      </div>
      <div class="divide-two-thirds-left">
         <img
            data-sizes="auto" src="/img/lingua-extraterrestris/equation-1-641.png"
            data-srcset="/img/lingua-extraterrestris/equation-1-1920.png 1920w,
            /img/lingua-extraterrestris/equation-1-1080.png 1080w,
            /img/lingua-extraterrestris/equation-1-192.png 192w"
            class="lazyload">
      </div>
   </div>
</section>


<section id="thesis">
   <div class="divide">
      <div class="divide-half">
         <div class="divide-half-unit">
            <h3>
               <a href="/img/lingua-extraterrestris/Lingua-Extraterrestris_by_Marek-Kultys.pdf">Lingua Extraterrestris</a>
            </h3>
            <p>
               Abstract
            </p>
         </div>
      </div>
   </div>


   <div class="divide">
      <div class="divide-half">
         <div class="divide-half-unit">
            <p>
               With no hard evidence for the existence of extraterrestrial intelligence (ETI), communication with ETI (CETI) remains a scholarly exercise with great potential for speculation and experimentation.
            </p>
            <p>
               The purpose of this paper is to explore CETI as the most general instance of the communication process. A custom method is used to analyse both historical and fictional examples of CETI from the perspective of the theory and practice of exchanging information. This appraoch is based on decisions:
               <ul>
                  <li>
                     To treat both scientific and fictional examples of CETI as equally informative and valid; since none of the scientific endeavours in CETI proved successful, the credibility of CETI depictions in the works of fiction is seen as equal to its credibility in the works of science;
                  </li>
                  <li>
                     To use a hybrid communication model for investigating CETI; because none of the existing models of terrestrial communication covers the full scope of the CETI problem, a custom model is proposed that combines elements of the Shannon-Weaver and the Jakobson models of communication.
                  </li>
               </ul>
            </p>
            <p>
               As a result of this investigation, a possibility for expanding on the <i>fc</i> term of the Drake equation is identified, and interpreting it through four aspects of the generalised communication process (Channel, Contact, Context, Code) suggested.
            </p>
            <span class="hide-mobile">
               </p>
                  <span class="paragraph-divider"></span>
               </p>
               <p>
                  During the research for and writing of my <a href="/img/lingua-extraterrestris/Lingua-Extraterrestris_by_Marek-Kultys.pdf">thesis</a> I received enlightenment and critical advice from Ken Hollings (<a href="http://twitter.com/hollingsville">@Hollingsville</a>).
               </p>
            </span>
         </div>
         <div class="divide-half-unit">
            <img
               data-sizes="auto" src="/img/lingua-extraterrestris/thesis-2-641.jpg"
               data-srcset="/img/lingua-extraterrestris/thesis-2-1920.jpg 1920w,
               /img/lingua-extraterrestris/thesis-2-1080.jpg 1080w,
               /img/lingua-extraterrestris/thesis-2-192.jpg 192w"
               class="lazyload">
            <img
               data-sizes="auto" src="/img/lingua-extraterrestris/thesis-3-641.jpg"
               data-srcset="/img/lingua-extraterrestris/thesis-3-1920.jpg 1920w,
               /img/lingua-extraterrestris/thesis-3-1080.jpg 1080w,
               /img/lingua-extraterrestris/thesis-3-192.jpg 192w"
               class="lazyload">
            <img
               data-sizes="auto" src="/img/lingua-extraterrestris/thesis-4-641.jpg"
               data-srcset="/img/lingua-extraterrestris/thesis-4-1920.jpg 1920w,
               /img/lingua-extraterrestris/thesis-4-1080.jpg 1080w,
               /img/lingua-extraterrestris/thesis-4-192.jpg 192w"
               class="lazyload">
            <img
               data-sizes="auto" src="/img/lingua-extraterrestris/thesis-1-641.jpg"
               data-srcset="/img/lingua-extraterrestris/thesis-1-1920.jpg 1920w,
               /img/lingua-extraterrestris/thesis-1-1080.jpg 1080w,
               /img/lingua-extraterrestris/thesis-1-192.jpg 192w"
               class="lazyload">
            <span class="hide-desktop">
               <p>
                  <span class="paragraph-divider"></span>
               </p>
               <p>
                  During the research for and writing of my <a href="/img/lingua-extraterrestris/Lingua-Extraterrestris_by_Marek-Kultys.pdf">thesis</a> I received enlightenment and critical advice from Ken Hollings (<a href="http://twitter.com/hollingsville">@Hollingsville</a>).
               </p>
            </span>
         </div>
      </div>
   </div>
</section>


<section id="dissemination">
   <div class="divide">
      <div class="divide-half">
         <div class="divide-half-unit">
            <p>I presented Lingua Extraterrestris at:
               <ul>
                  <li>{% include events/2014-seti.html %},</li>
                  <li>{% include events/2012-abscicon.html %},</li>
                  <li>{% include events/2011-ven.html %}.</li>
               </ul>
            </p>
            <p>
               I also discussed my research in an interview for a BBC Futures <a href="http://www.bbc.com/future/story/20141112-will-et-understand-our-messages">article</a> by Tracey Logan.
         </div>
         <div class="divide-half-unit">
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Science fiction provides lessons for communicating with ET, says designer Marek Kultys:&#10;<a href="http://t.co/7ew13dQ1wf">http://t.co/7ew13dQ1wf</a> <a href="http://t.co/gARvFOZC9u">pic.twitter.com/gARvFOZC9u</a></p>&mdash; The SETI Institute (@SETIInstitute) <a href="https://twitter.com/SETIInstitute/status/558319993944023040">January 22, 2015</a></blockquote>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Unpacking Drake Equation term f-sub-c -- the fraction of extraterrestrial civilizations trying to make contact: <a href="http://t.co/z42VJ8M6bZ">http://t.co/z42VJ8M6bZ</a></p>&mdash; The SETI Institute (@SETIInstitute) <a href="https://twitter.com/SETIInstitute/status/553608899992223745">January 9, 2015</a></blockquote>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
         </div>
      </div>
   </div>
</section>
