<div class="divide">
   <div class="divide-two-thirds-right">
      <h1>Marek Kultys</h1>
      <h3>
         I organise complexity by designing information experiences.
      </h3>
      <h3>
         Currently, I lead the <a href="http://www.science-practice.com/teams/bio-design" title="Science Practice BioDesign team">BioDesign team at <span class="nowrap">Science Practice</span></a> where we design products, software tools, and data experiences for the life sciences. Previously, I designed digital health experiences at <a href="https://www.ctrl-group.com/" title="Ctrl Group website"><span class="nowrap">Ctrl Group</span></a> and <a href="https://www.cognitionkit.com/" title="Cognition Kit website"><span class="nowrap">Cognition Kit</span></a>, and lab tools for all at <a href="/projects/bento-lab" title="Bento Lab project page"><span class="nowrap">Bento Lab</span></a>.
      </h3>
      <h3>
         I also create <a href="/projects/design-workshops" title="Workshops webpage">design workshops</a>, write about design, and teach.
      </h3>
   </div>
</div>