<div class="divide">
   <div class="divide-two-thirds-right">
      <h1>Marek Kultys</h1>
      <h3>
         I organise complexity by designing information experiences.
      </h3>
      <h3>
         Currently, I lead the <a href="http://www.science-practice.com/teams/bio-design" title="Science Practice BioDesign team">BioDesign team at Science Practice</a> where we design products, software tools, and data experiences for the life sciences. Previously, I designed digital experiences for patients and healthcare professionals at <a href="https://www.ctrl-group.com/" title="Ctrl Group website">Ctrl Group</a>.
      </h3>
      <h3>
         I also write, design and facilitate design workshops, and teach.
      </h3>
   </div>
</div>