<div id="about" class="divide">
   <div class="divide-two-thirds-right">
      {% if page.label == "home" %}
         <h1>Marek Kultys</h1>
         <h3>
            I'm a visual information designer. Currently, I work on visualisation projects at <a href="http://science-practice.com">Science&nbsp;Practice</a>, and design healthcare experiences at <a href="http://www.sp-ee.net">SP+EE</a>. I've been leading design work for the <a href="http://bento.bio">bento&bull;lab</a>. I also write, run design workshops, give talks, and teach.
         </h3>
      {% endif %}

      {% if page.label == "2plus3d" %}
         <h1>Writing for 2+3d</h1>
         <h3>
            In 2015 I wrote three articles for <a href="http://2plus3d.pl/">2+3d Polish Design Quarterly</a>.
         </h3>
         <h3>
            2+3d is one of the top design magazines in Eastern Europe. Besides the general topics such as graphic and product design, 2+3d also publishes texts about design criticism, history of design, technology, creative economies.
         </h3>
      {% endif %}

      {% if page.label == "bento" %}
         <h1>bento&bull;lab</h1>
         <h3>
            <a href="http://www.bento.bio/bento-lab/">bento&bull;lab</a> is a personal box-sized biology laboratory. It includes a mini PCR machine, a small centrifure, and a gel electrophoresis unit. Everything fits in a portable A4-sized box.
         </h3>
         <h3>
            At bento I worked on bento's visual identity, product design, and user experiences, as well as related elements of strategy and planning. Currently, the bento&bull;lab is in pioneer beta phase.
         </h3>
      {% endif %}

      {% if page.label == "visweek" %}
         <h1>Visual Design for Data Explorers</h1>
         <h3>
            I created this hands-on beginner-level workshop on principles of visual design to help data scientists learn and practice basic design skills. I taught the workshop at two IEEE Vis conferences (<a href="http://ieeevis.org/year/2012/tutorial/visweek/good-practice-visual-communication-design-scientific-and-data-visualizati">2012 in Seattle</a> and <a href="http://ieeevis.org/year/2013/tutorial/visweek/visualization-data-visual-interpretation-data-hands-design-tutorial">2013 in Atlanta</a>), and to master students at City University in London.
         </h3>
      {% endif %}

      {% if page.label == "factors" %}
         <h1>Human Factors</h1>
         <h3>
            Human factors (or ergonomics) is the study of interactions between people and the things they use. It's possible to design healthy, comfortable, efficient objects and environments only if human factors are well considered.
         </h3>
         <h3>
            Same with designing workspaces. In 2007 I conducted a human factors evaluation of a conference room for a Warsaw-based pharma company. I identified main conflicts between the users, architecture, and equipment, and made a list of recommendations for human factors improvements in the conference room.
         </h3>
      {% endif %}

      {% if page.label == "immuno" %}
         <h1>Immunographics</h1>
         <h3>
            In 2011&ndash;2013 I worked with <a href="http://www.immunocore.com">Immunocore</a> to redesign and improve the ways they communicate their work outside the company. In collaboration with their senior scientists, I developed an illustration kit for building visualisations of their anti-cancer T cell therapy.
         </h3>
      {% endif %}

      {% if page.label == "seti" %}
         <h1>Lingua Extraterrestris</h1>
         <h3>
            Are we alone in the Universe?
         </h3>
         <h3>
            <a href="/img/lingua-extraterrestris/Lingua-Extraterrestris_by_Marek-Kultys.pdf">Lingua Extraterrestris</a> is my MA thesis and an exploration into the limits of communication. I'm interested in <a href="https://en.wikipedia.org/wiki/Communication_with_extraterrestrial_intelligence">CETI</a> &mdash; Communication with ExtraTerrestrial Intelligence &mdash; because it is the most extreme example of all communication types. My investigation looks into historical and science-fiction examples of CETI, and concludes in expanding on the seminal Drake Equation.
         </h3>
         <h3>
            I presented <a href="/img/lingua-extraterrestris/Lingua-Extraterrestris_by_Marek-Kultys.pdf">Lingua Extraterrestris</a> at two astrobiology conferences and in a <a href="http://communicating.seti.org/">workshop</a> at the SETI Institute in California.
         </h3>
      {% endif %}

      {% if page.label == "mitosis" %}
         <h1>Mitosis and Meiosis</h1>
         <h3>
            Mitosis and meiosis are two types of cell division that underpin biology. I created three diagrams explaining mitosis and meiosis. I was inspired by my high-school biology teacher, Dr W&#322;odzimierz W&#243;jcik, who found that understanding the difference between mitosis and meiosis was the biggest challenge for his students. In 2008 I published the diagram in Wikipedia under Creative Commons.
         </h3>
      {% endif %}

      {% if page.label == "paradoxes" %}
         <h1>Paradoxes</h1>
         <h3>
            "Paradoxes" is a visualisation workshop for curious designers that I authored and led in 2014. We focused on communicating and explaining some of the most abstract thought exercises and complex phenomena &mdash; logical and scientific paradoxes.
         </h3>
      {% endif %}

      {% if page.label == "bundles" %}
         <h1>Sequence Bundles</h1>
         <h3>
            Sequence Bundles is a novel method for visualising biological data and discovering sequence motifs that would otherwise remain hidden.
         </h3>
         <h3>
            We designed Sequence Bundles at <a href="http://science-practice.com">Science Practice</a>. I initiated, managed and directed the project, set up a collaboration with the <a href="http://www.ebi.ac.uk/research/goldman">Goldman group</a> at EMBL-EBI, secured funding from Innovate UK, and co-authored peer-reviewed academic publications.
         </h3>
      {% endif %}

      {% if page.label == "sexshop" %}
         <h1>Sex Shop</h1>
         <h3>
            In 2006 I designed a visual brand identity for a fictional sex shop. The identity is sexy, bold and juicy.
         </h3>
      {% endif %}

      {% if page.label == "hearing" %}
         <h1>The End of Hearing</h1>
         <h3>
            The End of Hearing is a design fictions exploration of possible worlds in which our soundscapes have radically changed. It is a series of three science-fiction stories told in different media: writing, film, narrative objects, and performance.
         </h3>
      {% endif %}

      {% if page.label == "prototyping" %}
         <h1>Prototyping</h1>
         <h3>

         </h3>
      {% endif %}

      {% if page.label == "science" %}
         <h1>Science</h1>
         <h3>
            My projects often involve science.
         </h3>
      {% endif %}

      {% if page.label == "science-fiction" %}
         <h1>Science Fiction</h1>
         <h3>
            Some of my projects focus on science fiction.
         </h3>
      {% endif %}

      {% if page.label == "visualisations" %}
         <h1>Visualisations</h1>
         <h3>
            Visualisations and visual explanations are my favourite types of design work that I do.
         </h3>
      {% endif %}

      {% if page.label == "workshops" %}
         <h1>Workshops</h1>
         <h3>
            Since 2012, I have been designing and leading design workshops. Themes are usually focused around visualisation and there is often an element of hands-on sketching and drawing where  participants conceptualise their ideas and discuss them with others.
         </h3>
      {% endif %}

      {% if page.label == "writing" %}
         <h1>Writing</h1>
         <h3>
            Designers should write and communicate their ideas in words, as well as they do through images. I wrote popular articles for design magazines and academic papers for peer-reviewed journals. I write in English and Polish. In the future, I'd like to translate one of the forgotten treatises on visual perception from Polish into English.
         </h3>
      {% endif %}
   </div>
</div>