<div class="divide">
   <div class="divide-two-thirds-right">
      <h1>Marek Kultys</h1>
      <h3>
         I design information experiences for expert and general users in life sciences and healthcare.
      </h3>
      <h3>
         Currently, I lead the <a href="http://www.science-practice.com/teams/bio-design" title="Science Practice BioDesign team">BioDesign team</a> at Science Practice where we design digital tools for better <a data-scroll href="http://www.science-practice.com/blog/2015/08/25/sequence-bundles-web/" title="Science Practice Blog: Announcing the Sequence Bundles web‑app">discovery</a>, <a data-scroll href="http://www.science-practice.com/blog/2016/07/12/genomicsplc-intro/" title="Science Practice Blog: Working with Genomics PLC">understanding</a>, and <a data-scroll href="http://www.science-practice.com/blog/2017/06/06/minion-soil-metagenomics-experiment/" title="Science Practice Blog: Measuring soil health with nanopore sequencing">utilisation</a> of life science data.
      </h3>
      <h3>
         I also <a data-scroll href="#design-writing" title="Design Writing for books and magazines">write</a>, design and facilitate <a data-scroll href="#paradoxes" title="Visualising Paradoxes workshop">design workshops</a>, and <a data-scroll href="#data-explorers" title="Visual Design for Data Explorers workshop">teach</a>.
      </h3>
   </div>
</div>