<div class="index">
   <div class="index-two-thirds">


      <h3>See other:</h3>


      {% if page.label == "2plus3d" %}
<!-- 2+3D -->
         <a href="/publications">publications</a>
      {% endif %}


      {% if page.label == "bento" %}
<!-- BENTO•LAB -->
         <a href="/projects">projects</a> <!-- and -->
         <!-- <a href="/prototypes">prototypes</a> -->
      {% endif %}


      {% if page.label == "visweek" %}
<!-- VISWEEK -->
         <a href="/workshops">workshops</a>,
         <a href="/publications">publications</a>, and
         <a href="/talks">presentations</a>
      {% endif %}


      {% if page.label == "factors" %}
<!-- HUMAN FACTORS -->
         <a href="/projects">projects</a> <!-- and -->
         <!-- <a href="/prototypes">prototypes</a> -->
      {% endif %}


      {% if page.label == "immuno" %}
<!-- IMMUNOGRAPHICS -->
         <a href="/projects">projects</a> and
         <!-- <a href="/prototypes">prototypes</a>, -->
         <a href="/talks">presentations</a>
      {% endif %}


      {% if page.label == "seti" %}
<!-- SETI -->
         <a href="/publications">publications</a> and
         <a href="/talks">presentations</a>
      {% endif %}


      {% if page.label == "mitosis" %}
<!-- MITOSIS & MEIOSIS -->
         <a href="/projects">projects</a> and
         <!-- <a href="/prototypes">prototypes</a>, -->
         <a href="/talks">presentations</a>
      {% endif %}


      {% if page.label == "paradoxes" %}
<!-- PARADOXES -->
         <a href="/workshops">workshops</a>
      {% endif %}


      {% if page.label == "bundles" %}
<!-- SEQUENCE BUNDLES -->
         <a href="/projects">projects</a>,
         <!-- <a href="/prototypes">prototypes</a>, -->
         <a href="/publications">publications</a>, and
         <a href="/talks">presentations</a>
      {% endif %}


      {% if page.label == "sexshop" %}
<!-- SEX-SHOP -->
         <a href="/projects">projects</a>
      {% endif %}


      {% if page.label == "hearing" %}
<!-- THE END OF HEARING -->
         <a href="/projects">projects</a> <!-- , -->
         <!-- <a href="/prototypes">prototypes</a>, --> and
         <a href="/publications">publications</a>
      {% endif %}


      {% if page.label == "reversal" %}
<!-- REVERSAL OF THE ROLES -->
         <a href="/workshops">workshops</a> and
         <a href="/talks">presentations</a>
      {% endif %}


   </div>
</div>
