<div class="index">
   <div class="index-two-thirds">
      {% if page.label == "2plus3d" %}
         <h3>See other:</h3>
         <a href="/writing">Writing</a>
      {% endif %}

      {% if page.label == "bento" %}
         <h3>See other:</h3>
         <a href="/science">Science</a> and
         <a href="/making">Making</a>
      {% endif %}

      {% if page.label == "visweek" %}
         <h3>See other:</h3>
         <a href="/visualisation">Visualisation</a>,
         <a href="/writing">Writing</a>, and
         <a href="/workshops">Workshops</a>
      {% endif %}

      {% if page.label == "factors" %}
         <h3>See other:</h3>
         <a href="/making">Making</a>
      {% endif %}

      {% if page.label == "immuno" %}
         <h3>See other:</h3>
         <a href="/visualisation">Visualisation</a> and
         <a href="/science">Science</a>
      {% endif %}

      {% if page.label == "seti" %}
         <h3>See other:</h3>
         <h4>
            <a href="/science">Science</a>,
            <a href="/writing">Writing</a>, and
            <a href="/science-fiction">Science Fiction</a>
         </h4>
      {% endif %}

      {% if page.label == "mitosis" %}
         <h3>See other:</h3>
         <a href="/visualisation">Visualisation</a> and
         <a href="/science">Science</a>
      {% endif %}

      {% if page.label == "paradoxes" %}
         <h3>See other:</h3>
         <a href="/visualisation">Visualisation</a> and
         <a href="/workshops">Workshops</a>
      {% endif %}

      {% if page.label == "bundles" %}
         <h3>See other:</h3>
         <a href="/visualisation">Visualisation</a>,
         <a href="/science">Science</a>, and
         <a href="/writing">Writing</a>
      {% endif %}

      {% if page.label == "hearing" %}
         <h3>See other:</h3>
         <a href="/making">Making</a> and
         <a href="/science-fiction">Science Fiction</a>
      {% endif %}
   </div>
</div>
