{% if page.label == "cv" %}
<p id="cv-contact">
   <span class="cv-entry" title="telephone-number"><a href="tel:+447972296422" title="Call me">Phone</a></span>
   <span class="cv-entry" title="email-address"><a href="mailto:mk@marekkultys.com" title="Email me">Email</a></span>
   <span class="cv-entry" title="linkedin-account"><a href="https://www.linkedin.com/in/marek-kultys/" title="Find me on LinkedIn">LinkedIn</a></span>
</p>
{% else %}
<div id="contact" class="divide">
   <div class="divide-two-thirds-right">
      <div class="contacts">
         <h4>
            Get in touch:
            <a href="mailto:mk@marekkultys.com" title="Email me">Email</a> •
            <a href="https://twitter.com/marekkultys" title="Find me on Twitter">Twitter</a> •
            <a href="https://www.linkedin.com/in/marek-kultys/" title="Find me on LinkedIn">LinkedIn</a> •
            <a href="https://github.com/marek-kultys" title="Find me on GitHub">GitHub</a> •
            <a href="http://www.researchgate.net/profile/Marek_Kultys" title="Find me on ResearchGate">R<sup>G<sup></a>
         </h4>
      </div>
   </div>
</div>
{% endif %}






