<div id="contact" class="index">
   <div class="index-two-thirds">
      <ol type="none">
         <li>
            <!-- <span class="fontello-contact-icon"><i class="icon-cc-sa"></i></span>-->
            <span style="line-height: 2.5em;"><span id="mailme" class="email">mk malpa marekkultys kropka com</span></span> <!-- CSS style --> 
         </li>
         <!-- <li>
            <span id="callme" class="mobile">&plus;44-7 dziewiec 7- dwadwa - dziewiec 64- dwadwa </span>
         </li> -->
         <li>
            <a href="https://twitter.com/marekkultys">@marekkultys</a> &nbsp;
            <a href="http://www.researchgate.net/profile/Marek_Kultys">ResearchGate</a> &nbsp;
            <a href="https://uk.linkedin.com/pub/marek-kultys/19/609/48a">LinkedIn</a>
         </li>
      </ol>
   </div>
</div>
