<footer>
   <div id="copyright" class="copyright-typo">
      Copyright 2007&ndash;{{ 'now' | date: "%Y" }} Marek Kultys
      {% if page.label == "2plus3d" %} and 2+3D. {% endif %}
      {% if page.label == "bento" %} and bento&bull;bioworks. {% endif %}
      {% if page.label == "visweek" %} and workshop participants. {% endif %}
      {% if page.label == "immuno" %} and Immunocore. {% endif %}
      {% if page.label == "paradoxes" %} and workshop participants. {% endif %}
      {% if page.label == "bundles" %} and Science Practice. {% endif %}
   </div>
</footer>
