<div id="navbar" class="navbar-out">
   <div class="navbar-in">
      {% if page.label == "home" %}
         <a href="/about" class="navbar-unit navbar-one" style="border-left: 0px;">
            <span class="navbar-typo">About</span>
         </a>
         <a data-scroll href="#projects" class="navbar-unit navbar-one">
            <span class="navbar-typo">Projects</span>
         </a>
         <a data-scroll href="#contact" class="navbar-unit navbar-one">
            <span class="navbar-typo">Contact</span>
         </a>
      {% elsif page.label == "about" %}
         <a href="/cv" class="navbar-unit navbar-one" style="border-left: 0px;">
            <span class="navbar-typo">CV</span>
         </a>
         <a href="/" class="navbar-unit navbar-two">
            <span class="navbar-typo">Marek Kultys</span>
         </a>
      {% elsif page.label == "cv" %}
         <a href="/about" class="navbar-unit navbar-one" style="border-left: 0px;">
            <span class="navbar-typo">About</span>
         </a>
         <a href="/" class="navbar-unit navbar-two">
            <span class="navbar-typo">Marek Kultys</span>
         </a>
      {% else %}
         <a href="/" class="navbar-unit navbar-all" style="border-left: 0px;">
            <span class="navbar-typo">Marek Kultys</span>
         </a>
      {% endif %}
   </div>
</div>
