<div id="navbar" class="navbar-out">
   <div class="navbar-in">
      {% if page.label == "home" %}
         <a href="/about" class="navbar-unit navbar-one" style="border-left: 0px;" title="About Marek Kultys">
            <span class="navbar-typo">About</span>
         </a>
         <a data-scroll href="#projects" class="navbar-unit navbar-one" title="See the projects">
            <span class="navbar-typo">Projects</span>
         </a>
         <a data-scroll href="#contact" class="navbar-unit navbar-one" title="How to get in touch">
            <span class="navbar-typo">Contact</span>
         </a>
      {% else %}
         <a href="/" class="navbar-unit navbar-all" style="border-left: 0px;" title="Home page: Marek Kultys">
            <span class="navbar-typo">Marek Kultys</span>
         </a>
      {% endif %}
   </div>
</div>
