<div class="divide">


<!-- CATEGORY: PROJECTS -->
   {% if page.label == "projects" %}
      <div class="divide-categories">
         <div class="divide-categories-unit">
            <a href="/work/bento-lab">bento&bull;lab</a>
         </div>
         <div class="divide-categories-unit">
            <a href="/work/human-factors">Human Factors</a>
         </div>
         <div class="divide-categories-unit">
            <a href="/work/immunographics">Immunographics</a>
         </div>
      </div>

      <div class="divide-categories">
         <div class="divide-categories-unit">
            <a href="/work/mitosis-meiosis">Mitosis and Meiosis</a>
         </div>
         <div class="divide-categories-unit">
            <a href="/work/sequence-bundles">Sequence Bundles</a>
         </div>
         <div class="divide-categories-unit">
            <a href="/work/sex-shop">Sex Shop</a>
         </div>
      </div>

      <div class="divide-categories">
         <div class="divide-categories-unit">
            <a href="/work/the-end-of-hearing">The End of Hearing</a>
         </div>
      </div>
   {% endif %}


<!-- CATEGORY: PROTOTYPES -->
      <!-- {% if page.label == "prototypes" %}
         <h3>
            Other prototypes:
         </h3>
         <a href="/work/bento-lab">bento&bull;lab</a>,
         <a href="/work/human-factors">Human Factors</a>,
         <a href="/work/sequence-bundles">Sequence Bundles</a>, and
         <a href="/work/the-end-of-hearing">The End of Hearing</a>
      {% endif %} -->


<!-- CATEGORY: PUBLICATIONS -->
   {% if page.label == "publications" %}
      <div class="divide-categories">
         <div class="divide-categories-unit">
            <a href="/work/2plus3d">Writing for 2+3d</a>
         </div>
         <div class="divide-categories-unit">
            <a href="/work/mitosis-meiosis">Mitosis and Meiosis</a>
         </div>
         <div class="divide-categories-unit">
            <a href="/work/sequence-bundles">Sequence Bundles</a>
         </div>
      </div>
      <div class="divide-categories">
         <div class="divide-categories-unit">
            <a href="/work/lingua-extraterrestris">Lingua Extraterrestris</a>
         </div>
         <div class="divide-categories-unit">
            <a href="/work/the-end-of-hearing">The End of Hearing</a>
         </div>
         <div class="divide-categories-unit">
            <a href="/work/data-explorers">Visual Design for Data Explorers</a>
         </div>
      </div>
   {% endif %}


<!-- CATEGORY: PRESENTATIONS -->
   {% if page.label == "talks" %}
      <div class="divide-categories">
         <div class="divide-categories-unit">
            <a href="/work/immunographics">Immunographics</a>
         </div>
         <div class="divide-categories-unit">
            <a href="/work/mitosis-meiosis">Mitosis and Meiosis</a>
         </div>
         <div class="divide-categories-unit">
            <a href="/work/sequence-bundles">Sequence Bundles</a>
         </div>
      </div>
      <div class="divide-categories">
         <div class="divide-categories-unit">
            <a href="/work/lingua-extraterrestris">Lingua Extraterrestris</a>
         </div>
         <div class="divide-categories-unit">
            <a href="/work/data-explorers">Visual Design for Data Explorers</a>
         </div>
      </div>
   {% endif %}


<!-- CATEGORY: VISUALISATION -->
      <!-- {% if page.label == "visualisation" %}
         <h3>
            Other visualisations:
         </h3>
         <a href="/work/immunographics">Immunographics</a>,
         <a href="/work/mitosis-meiosis">Mitosis and Meiosis</a>,
         <a href="/work/sequence-bundles">Sequence Bundles</a>,
         <a href="/work/paradoxes">Paradoxes</a>, and
         <a href="/work/data-explorers">Visual Design for Data Explorers</a>
      {% endif %} -->


<!-- CATEGORY: WORKSHOPS -->
   {% if page.label == "workshops" %}
      <div class="divide-categories">
         <div class="divide-categories-unit">
            <a href="/work/paradoxes">Paradoxes</a>
         </div>
         <div class="divide-categories-unit">
            <a href="/work/data-explorers">Visual Design for Data Explorers</a>
         </div>
         <div class="divide-categories-unit">
            <a href="/work/reversal-of-the-roles">Reversal of the Roles</a>
         </div>
      </div>
   {% endif %}


</div>
