<div id="work" class="divide">
   <div class="divide-two-thirds-right">


<!-- CATEGORY: PROJECTS -->
      {% if page.label == "projects" %}
         <h3>
            Other projects:
         </h3>
         <a href="/work/bento-lab">bento&bull;lab</a>,
         <a href="/work/human-factors">Human Factors</a>,
         <a href="/work/immunographics">Immunographics</a>,
         <a href="/work/mitosis-meiosis">Mitosis and Meiosis</a>,
         <a href="/work/sequence-bundles">Sequence Bundles</a>,
         <a href="/work/sex-shop">Sex Shop</a>, and
         <a href="/work/the-end-of-hearing">The End of Hearing</a>
      {% endif %}


<!-- CATEGORY: PROTOTYPES -->
      {% if page.label == "prototypes" %}
         <h3>
            Other prototypes:
         </h3>
         <a href="/work/bento-lab">bento&bull;lab</a>,
         <a href="/work/human-factors">Human Factors</a>,
         <a href="/work/sequence-bundles">Sequence Bundles</a>, and
         <a href="/work/the-end-of-hearing">The End of Hearing</a>
      {% endif %}


<!-- CATEGORY: PUBLICATIONS -->
      {% if page.label == "publications" %}
         <h3>
            Other publications:
         </h3>
         <a href="/work/2plus3d">Writing for 2+3d</a>,
         <a href="/work/mitosis-meiosis">Mitosis and Meiosis</a>,
         <a href="/work/sequence-bundles">Sequence Bundles</a>,
         <a href="/work/lingua-extraterrestris">Lingua Extraterrestris</a>,
         <a href="/work/the-end-of-hearing">The End of Hearing</a>, and
         <a href="/work/data-explorers">Visual Design for Data Explorers</a>
      {% endif %}


<!-- CATEGORY: PRESENTATIONS -->
      {% if page.label == "talks" %}
         <h3>
            Other presentations:
         </h3>
         <a href="/work/immunographics">Immunographics</a>,
         <a href="/work/mitosis-meiosis">Mitosis and Meiosis</a>,
         <a href="/work/sequence-bundles">Sequence Bundles</a>,
         <a href="/work/lingua-extraterrestris">Lingua Extraterrestris</a>, and
         <a href="/work/data-explorers">Visual Design for Data Explorers</a>
      {% endif %}


<!-- CATEGORY: VISUALISATION -->
      <!-- {% if page.label == "visualisation" %}
         <h3>
            Other visualisations:
         </h3>
         <a href="/work/immunographics">Immunographics</a>,
         <a href="/work/mitosis-meiosis">Mitosis and Meiosis</a>,
         <a href="/work/sequence-bundles">Sequence Bundles</a>,
         <a href="/work/paradoxes">Paradoxes</a>, and
         <a href="/work/data-explorers">Visual Design for Data Explorers</a>
      {% endif %} -->


<!-- CATEGORY: WORKSHOPS -->
      {% if page.label == "workshops" %}
         <h3>
            Other workshops:
         </h3>
         <a href="/work/paradoxes">Paradoxes</a> and
         <a href="/work/data-explorers">Visual Design for Data Explorers</a>
      {% endif %}


   </div>
</div><!--divide-->
