---
layout: cv
title: Marek Kultys
label: cv
---
<div class="divide">
   <div class="divide-two-thirds-right">
      <div id="cv-head">
         <h2>
            Marek Kultys
         </h2>
         <p id="cv-contact">
            <span class="cv-entry" title="email-address"><a href="mailto:mk@marekkultys.com" title="Email me">Email</a></span>
            <span class="cv-entry" title="telephone-number"><a href="tel:+447972296422" title="Call me">Phone</a></span>
            <span class="cv-entry" title="twitter-account"><a href="https://twitter.com/marekkultys" title="Find me on Twitter">Twitter</a></span>
         </p>
         {% include divider-line.html %}
      </div>
      <div id="cv-body">
         <h3 id="cv-sp-ctrl-group" class="cv-section">
            <a href="http://science-practice.com" title="Science Practice website">Science Practice</a> and <a href="http://www.ctrl-group.com" title="Ctrl Group website">Ctrl Group</a>
         </h3>
            <p class="cv-line">
               <span class="cv-entry" title="job role">Lead Designer</span>
               <span class="cv-entry" title="work dates">May 2013–present</span>
            </p>
            <p class="cv-line">
               <span class="cv-entry" title="job role">Designer</span>
               <span class="cv-entry" title="work dates">October 2012–May 2013</span>
               <br>
               <span class="cv-details" title="work details">I currently lead design of two expert platforms: in genomics and clinical trials data. Both projects are at early stage and we work in an agile way, which means we prototype a lot and test with users frequently. I also lead our work on designing training experiences for patients who suffer from chronic diseases, which involves directing instructional films. On a daily basis I manage our relationship with clients and science partners. In 2014 I wrote our winning application for Innovate UK funding.</span>
            </p>
         <h3 id="cv-bento" class="cv-section">
            <a href="http://bento.bio" title="bento•bioworks website">bento•bioworks</a>
         </h3>
            <p class="cv-line">
               <span class="cv-entry" title="job role">Product Designer</span>
               <span class="cv-entry" title="work dates">September 2013–November 2014</span>
               <br>
               <span class="cv-details" title="work details">I led product design, visual identity, and user research work for bento's personal biotechnology lab during its early prototyping phase, later leading to a successful launch on Kickstarter in 2016.</span>
            </p>
         <h3 id="cv-immunocore" class="cv-section">
            <a href="http://immunocore.com" title="Immunocore website">Immunocore</a>
         </h3>
            <p class="cv-line">
               <span class="cv-entry" title="job role">Designer</span>
               <span class="cv-entry" title="work dates">October 2011–June 2013</span>
               <br>
               <span class="cv-details" title="work details">I worked with Immunocore as a freelancer on several projects, including design of visualisations that explain their cancer treatment technology, and design of modular templates for science posters.</span>
            </p>
         <h3 id="cv-teaching" class="cv-section">
            Teaching
         </h3>
            <p class="cv-line">
               <span class="cv-entry" title="institution or event" style="white-space: normal;"><a href="http://tivc.pjwstk.edu.pl/" title="Think(in) Visual Communication conference website">Think(in) Visual Communication conference</a></span>
               <span class="cv-entry" title="teaching role">Workshop leader</span>
               <span class="cv-entry" title="teaching dates">2014</span>
            </p>
            <p class="cv-line">
               <span class="cv-entry" title="institution or event"><a href="http://medialabkatowice.eu/en/" title="Medialab Katowice website">Medialab Katowice</a></span>
               <span class="cv-entry" title="teaching role">Workshop leader</span>
               <span class="cv-entry" title="teaching dates">2013</span>
            </p>
            <p class="cv-line">
               <span class="cv-entry" title="institution or event"><a href="https://www.city.ac.uk/" title="City University London website">City University London</a></span>
               <span class="cv-entry" title="teaching role">Guest lecturer</span>
               <span class="cv-entry" title="teaching dates">2012–2014</span>
            </p>
            <p class="cv-line">
               <span class="cv-entry" title="institution or event"><a href="http://www.dynamicmediainstitute.org/" title="Dynamic Media Institute website">Dynamic Media Institute (MassArt)</a></span>
               <span class="cv-entry" title="teaching role">Guest lecturer</span>
               <span class="cv-entry" title="teaching dates">2012–2013</span>
            </p>
            <p class="cv-line">
               <span class="cv-entry" title="institution or event"><a href="http://ieeevis.org/" title="IEEE Vis confereces website">IEEE Vis conferences</a></span>
               <span class="cv-entry" title="teaching role">Tutorial leader</span>
               <span class="cv-entry" title="teaching dates">2012–2013</span>
            </p>
         <h3 id="cv-education" class="cv-section">
            Education
         </h3>
            <p class="cv-line">
               <span class="cv-entry" title="education institution"><a href="http://www.arts.ac.uk/csm/" title="Central Saint Martins College of Art anf Design website">Central Saint Martins</a></span>
               <span class="cv-entry" title="education course">MA Communication Design</span>
               <span class="cv-entry" title="education dates">2009–2011</span>
            </p>
            <p class="cv-line">
               <span class="cv-entry" title="education institution"><a href="https://www.zhdk.ch/" title="Zurich University of the Arts website">Zurich University of the Arts</a></span>
               <span class="cv-entry" title="education course">BA Interaction Design</span>
               <span class="cv-entry" title="education dates">2007</span>
            </p>
            <p class="cv-line">
               <span class="cv-entry" title="education institution"><a href="https://wwp.asp.waw.pl/" title="Warsaw Academy of Fine Arts, Department of Product Design website">Warsaw Academy of Fine Arts</a></span>
               <span class="cv-entry" title="education course">BA Product Design</span>
               <span class="cv-entry" title="education dates">2004–2008</span>
            </p>
         <h3 id="cv-publications" class="cv-section">
            Publications
         </h3>
            <p class="cv-line">
               <span title="publication authors">Schwarz R.F., et al., 2016.</span>
               <span title="publication title"><a href="http://nar.oxfordjournals.org/content/44/8/e77" title="'Alvis: interactive non-aggregative visualization and explorative analysis of multiple sequence alignments' article published in Nucleic Acids Research (05 May 2016) 44 (8): e77">ALVIS:</a> interactive non-aggregative visualization and explorative analysis of multiple sequence alignments.</span>
               <span class="cv-pub" title="book or journal">Nucleic Acids Research 44(8): e77</span>
            </p>
            <p class="cv-line">
               <span title="publication authors">Kultys M., 2015.</span>
               <span title="publication title"><a href="http://medialabkatowice.eu/en/projects/data-driven-city" title="'Data-Driven Methods for City Research and Exploration' publication webpage on the Medialab Katowice website">Simulation in Creating Cities.</a></span>
               <span class="cv-pub" title="book or journal">In: K. Piekarski, ed. 2015. <nobr>Data-Driven</nobr> Methods for City Research and Exploration. Katowice: Institution of Culture. pp.74–78</span>
            </p>
            <p class="cv-line">
               <span title="publication authors">Kultys M., et al., 2014.</span>
               <span title="publication title"><a href="http://bmcproc.biomedcentral.com/articles/10.1186/1753-6561-8-S2-S8" title="'Sequence Bundles: a novel method for visualising, discovering and exploring sequence motifs' article published in BMC Proceedings 20148(Suppl 2):S8">Sequence Bundles:</a> a novel method for visualising, discovering and exploring sequence motifs.</span>
               <span class="cv-pub" title="book or journal">BMC Proceedings 8(Suppl 2): S8</span>
            </p>
            <p class="cv-line">
               <span title="publication authors">Kultys M., 2013.</span>
               <span title="publication title"><a href="http://pjim.newschool.edu/issues/2013/01/" title="'Visual Alpha, Beta, Gamma: Rudiments of Visual Design for Data Explorers' published in Parsons Journal for Information Mapping, Volume V, Issue 1, 2013">Visual Alpha—Beta—Gamma:</a> Rudiments of Visual Design for Data Explorers.</span>
               <span class="cv-pub" title="book or journal">Parsons Journal for Information Mapping 5(1)</span>
            </p>
         <div id="print-me">
            {% include divider-line.html %}
            <p class="cv-line">
               <a href="" onClick="window.print()" title="Print the CV">Print it!</a>
            </p>
         </div>
      </div>
   </div>
</div>