---
layout: project
title: Immunographics
label: immuno
---
<section id="about">
   <div class="divide">
      <div class="divide-two-thirds-right">
         <h1>Immunographics</h1>
         <h3>
            In 2011–2013 I worked with <a href="http://www.immunocore.com" title="Immunocore website">Immunocore</a> to redesign and improve the ways they communicate their work outside the company. In collaboration with Immunocore's scientists I created visualisations explaining how their <nobr>anti-cancer</nobr> ImmTAC technology works.
         </h3>
      </div>
   </div>
</section>

<section id="engineering">
   <div class="divide">
      <div class="divide-hide-desktop">
         <p>
            <a href="https://en.wikipedia.org/wiki/T_cell_receptor" title="Wikipedia article about T cell receptors (TCRs)">T cell receptors</a> (TCRs) on the surface of a killer T cell.
         </p>
      </div>
      <div class="divide-full-one">
         <img
            data-sizes="auto" src="/img/immunographics/Tcells-section-641.jpg"
            data-srcset="/img/immunographics/Tcells-section-1920.jpg 1920w,
            /img/immunographics/Tcells-section-1080.jpg 1080w,
            /img/immunographics/Tcells-section-192.jpg 192w"
            class="lazyload" alt="T cell receptors on cell surface">
      </div>
      <div class="divide-hide-mobile">
         <p>
            <a href="https://en.wikipedia.org/wiki/T_cell_receptor" title="Wikipedia article about T cell receptors (TCRs)">T cell receptors</a> (TCRs) on the surface of a killer T cell.
         </p>
      </div>
   </div>

   <div class="divide">
      <div class="divide-hide-desktop">
         <p>
            Making <a href="http://www.immunocore.com/technology/immtac-engineering">ImmTACs</a> (Immunocore's biologic reagents) in four steps:
         </p>
         <ol>
            <li>harvesting natural human TCRs,</li>
            <li>creating soluble and stable TCRs with a disulphide bond,</li>
            <li>increasing TCRs' affinity to cancer cells 1.5 million fold,</li>
            <li>fusing TCRs with anti-CD3 antibody fragment that activates T cells.</li>
         </ol>
      </div>
      <div class="divide-full-one">
         <img
            data-sizes="auto" src="/img/immunographics/making-ImmTACs-641.jpg"
            data-srcset="/img/immunographics/making-ImmTACs-1920.jpg 1920w,
            /img/immunographics/making-ImmTACs-1080.jpg 1080w,
            /img/immunographics/making-ImmTACs-192.jpg 192w"
            class="lazyload" alt="Making of ImmTACs in 4 steps">
      </div>
      <div class="divide-hide-mobile">
         <p>
            Making <a href="http://www.immunocore.com/technology/immtac-engineering">ImmTACs</a> (Immunocore's biologic reagents) in four steps:
         </p>
         <ol>
            <li>harvesting natural human TCRs,</li>
            <li>creating soluble and stable TCRs with a disulphide bond,</li>
            <li>increasing TCRs' affinity to cancer cells 1.5 million fold,</li>
            <li>fusing TCRs with anti-CD3 antibody fragment that activates T cells.</li>
         </ol>
      </div>
   </div>
</section>

<section id="killing">
   <div class="divide">
      <div class="divide-one-third-left">
         <p>
            Killer T cells in action killing cancer cells. ImmTACs help T cells target cancer cells and activate the killing pathway.
         </p>
      </div>
      <div class="divide-two-thirds-left">
         <img
            data-sizes="auto" src="/img/immunographics/mediated-killing-A-641.jpg"
            data-srcset="/img/immunographics/mediated-killing-A-1920.jpg 1920w,
            /img/immunographics/mediated-killing-A-1080.jpg 1080w,
            /img/immunographics/mediated-killing-A-192.jpg 192w"
            class="lazyload" alt="Killing of a cancer cell by a T cell mediated by ImmTACs — step 1">
         <img
            data-sizes="auto" src="/img/immunographics/mediated-killing-B-641.jpg"
            data-srcset="/img/immunographics/mediated-killing-B-1920.jpg 1920w,
            /img/immunographics/mediated-killing-B-1080.jpg 1080w,
            /img/immunographics/mediated-killing-B-192.jpg 192w"
            class="lazyload" alt="Killing of a cancer cell by a T cell mediated by ImmTACs — step 2">
         <img
            data-sizes="auto" src="/img/immunographics/mediated-killing-C-641.jpg"
            data-srcset="/img/immunographics/mediated-killing-C-1920.jpg 1920w,
            /img/immunographics/mediated-killing-C-1080.jpg 1080w,
            /img/immunographics/mediated-killing-C-192.jpg 192w"
            class="lazyload" alt="Killing of a cancer cell by a T cell mediated by ImmTACs — step 3">
         <img
            data-sizes="auto" src="/img/immunographics/mediated-killing-641.jpg"
            data-srcset="/img/immunographics/mediated-killing-1920.jpg 1920w,
            /img/immunographics/mediated-killing-1080.jpg 1080w,
            /img/immunographics/mediated-killing-192.jpg 192w"
            class="lazyload" alt="Killing of a cancer cell by a T cell mediated by ImmTACs — close-up">
         <img
            data-sizes="auto" src="/img/immunographics/mediated-killing-D-641.jpg"
            data-srcset="/img/immunographics/mediated-killing-D-1920.jpg 1920w,
            /img/immunographics/mediated-killing-D-1080.jpg 1080w,
            /img/immunographics/mediated-killing-D-192.jpg 192w"
            class="lazyload" alt="Killing of a cancer cell by a T cell mediated by ImmTACs — step 4">
      </div>
   </div>
</section>

<section id="storyboarding">
   <div class="divide">
      <div class="divide-one-third-left">
         <p>
            Together with Immunocore's scientists I spent a lot of time sketching and storyboarding to find the best way to visualise invisible molecular processes taking place inside living cells.
         </p>
      </div>
      <div class="divide-two-thirds-left">
         <img
            data-sizes="auto" src="/img/immunographics/antigen-presentation-sketch-641.jpg"
            data-srcset="/img/immunographics/antigen-presentation-sketch-1920.jpg 1920w,
            /img/immunographics/antigen-presentation-sketch-1080.jpg 1080w,
            /img/immunographics/antigen-presentation-sketch-192.jpg 192w"
            class="lazyload" alt="Sketching antigen presentation">
      </div>
   </div>
   <div class="divide">
      <div class="divide-full-one">
         <img
            data-sizes="auto" src="/img/immunographics/cross-presentation-sketch-641.jpg"
            data-srcset="/img/immunographics/cross-presentation-sketch-1920.jpg 1920w,
            /img/immunographics/cross-presentation-sketch-1080.jpg 1080w,
            /img/immunographics/cross-presentation-sketch-192.jpg 192w"
            class="lazyload" alt="Sketching cross presentation involving dendritic cells">
      </div>
   </div>
   <div class="divide">
      <div class="divide-one-third-left">
         <p>
            Paths to antigen presentation by HLA molecules on the surface of a cancer cells. HLA shown in green, antigen peptide in red.
         </p>
      </div>
      <div class="divide-two-thirds-left">
         <img
            data-sizes="auto" src="/img/immunographics/antigen-presentation-641.jpg"
            data-srcset="/img/immunographics/antigen-presentation-1920.jpg 1920w,
            /img/immunographics/antigen-presentation-1080.jpg 1080w,
            /img/immunographics/antigen-presentation-192.jpg 192w"
            class="lazyload" alt="Visualisation of the antigen presentation process">
      </div>
   </div>
   <div class="divide">
      <div class="divide-one-third-left">
         <p>
            Cross presentation via dendritic cells.
         </p>
      </div>
      <div class="divide-two-thirds-left">
         <img
            data-sizes="auto" src="/img/immunographics/cross-presentation-A-641.jpg"
            data-srcset="/img/immunographics/cross-presentation-A-1920.jpg 1920w,
            /img/immunographics/cross-presentation-A-1080.jpg 1080w,
            /img/immunographics/cross-presentation-A-192.jpg 192w"
            class="lazyload" alt="Visualisation of the cross presentation process">
         <img
            data-sizes="auto" src="/img/immunographics/cross-presentation-B-641.jpg"
            data-srcset="/img/immunographics/cross-presentation-B-1920.jpg 1920w,
            /img/immunographics/cross-presentation-B-1080.jpg 1080w,
            /img/immunographics/cross-presentation-B-192.jpg 192w"
            class="lazyload" alt="Visualisation of the cross presentation process">
      </div>
   </div>
</section>

<section id="new-compositions">
   <div class="divide">
      <div class="divide-hide-desktop">
         <p>
            All visualisation elements used in the Immunographics illustrations were developed as individual PNGs that can be <nobr>re-arranged</nobr> to make new visualisation compositions.
         </p>
      </div>
      <div class="divide-full-one">
         <img
            data-sizes="auto" src="/img/immunographics/elements-641.jpg"
            data-srcset="/img/immunographics/elements-1920.jpg 1920w,
            /img/immunographics/elements-1080.jpg 1080w,
            /img/immunographics/elements-192.jpg 192w"
            class="lazyload" alt="Individual elements used in Immunographics visualisations">
      </div>
      <div class="divide-hide-mobile">
         <p>
            All visualisation elements used in the Immunographics illustrations were developed as individual PNGs that can be <nobr>re-arranged</nobr> to make new visualisation compositions.
         </p>
      </div>
   </div>
</section>

<section id="dissemination">
   <div class="divide">
      <div class="divide-half">
         <div class="divide-half-unit">
            <p>
               I presented Immunographics at:
            </p>
            <ul>
               <li>{% include events/2014-tivc.html %},</li>
               <li>{% include events/2013-niewidzialny.html %},</li>
               <li>{% include events/2012-ida.html %}.</li>
            </ul>
         </div>
         <div class="divide-half-unit">
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">It was great to see <a href="https://twitter.com/hashtag/ImmTAC?src=hash">#ImmTAC</a> visualisations that I designed for <a href="https://twitter.com/Immunocore">@Immunocore</a> being used at the <a href="https://twitter.com/hashtag/PMWCUK15?src=hash">#PMWCUK15</a> conference! <a href="http://t.co/ZeSueYHBBN">pic.twitter.com/ZeSueYHBBN</a></p>&mdash; Marek Kultys (@marekkultys) <a href="https://twitter.com/marekkultys/status/600641578303102976">May 19, 2015</a></blockquote>
         </div>
      </div>
   </div>
</section>