---
layout: project
title: Sequence Bundles
label: bundles
---


<section id="dissemination">
   <div class="divide">
      <div class="divide-half">
         <div class="divide-half-unit">
            <h4>I discussed Sequence Bundles at:
               <ul>
                  <li>{% include events/2015-idkrakow.html %}</li>
                  <li>{% include events/2015-bioviscam2.html %}</li>
                  <li>{% include events/2014-tivc.html %}</li>
                  <li>{% include events/2014-ida.html %}</li>
                  <li>{% include events/2013-ieeevis.html %}</li>
               </ul>
            </h4>
            <h4>
               Sequence Bundles were published in {% include pubs/bmcproceedings.html %}.
            </h4>
            <h4>
               Sequence Bundles were also shown at the Art of Networks II <a href="http://2015.complenet.org/CompleNet_2015/The_Art_of_Networks_II.html">exhibition</a> in New York Hall of Science in 2015.
            </h4>
         </div>
         <div class="divide-half-unit">
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Radical alternative visualisation of multiple sequence alignments from <a href="https://twitter.com/sciencepractice">@sciencepractice</a>: <a href="http://t.co/YJD6t4y1W9">http://t.co/YJD6t4y1W9</a> Web app at EBI is way cool!</p>&mdash; William Spooner (@wspoonr) <a href="https://twitter.com/wspoonr/status/639479433892638720">September 3, 2015</a></blockquote>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">The Art of Networks II opens <a href="https://twitter.com/CompleNet">@CompleNet</a> on view <a href="https://twitter.com/nysci">@nysci</a> 3/26-5/31 <a href="http://t.co/I0SyaKl1Dv">http://t.co/I0SyaKl1Dv</a> Amazing work by <a href="https://twitter.com/bmcard">@bmcard</a> <a href="https://twitter.com/msb5014">@msb5014</a> <a href="https://twitter.com/marekkultys">@marekkultys</a></p>&mdash; isabel meirelles (@IsabelMeirelles) <a href="https://twitter.com/IsabelMeirelles/status/581081140116746240">March 26, 2015</a></blockquote>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Revised version of Mark Barratt’s report from InfodesignUK 2014 <a href="https://twitter.com/hashtag/IDC2014?src=hash">#IDC2014</a> feat. Marek Kultys, Santiago Ortiz,... <a href="http://t.co/52c395nhIE">http://t.co/52c395nhIE</a></p>&mdash; Eye magazine (@eyemagazine) <a href="https://twitter.com/eyemagazine/status/460727629092761600">April 28, 2014</a></blockquote>

            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">.<a href="https://twitter.com/marekkultys">@marekkultys</a> on how to make 10,000s+ protein/DNA sequences beautifully comprehensible for intuitive science <a href="https://twitter.com/hashtag/idc2014?src=hash">#idc2014</a> <a href="http://t.co/X4cS33DlMt">pic.twitter.com/X4cS33DlMt</a></p>&mdash; Lydia Nicholas (@LydNicholas) <a href="https://twitter.com/LydNicholas/status/453092727308435456">April 7, 2014</a></blockquote>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
         </div>
      </div>
   </div>
</section>
