---
layout: category
title: Workshops
label: workshops
---

<div class="divide">
   <div class="divide-categories">
      <div class="divide-categories-unit">
         <a href="/work/data-explorers"><h2><span class="works-title">Data Explorers</span></h2></a>
         <a href="/work/data-explorers" class="passive-link">
            {% include intros/visweek.html %}
         </a>
         <a href="/work/data-explorers">
            {% include icons/more.html %}
         </a>
      </div>

      <div class="divide-categories-unit">
         <a href="/work/paradoxes"><h2><span class="works-title">Paradoxes</span></h2></a>
         <a href="/work/paradoxes" class="passive-link">
            {% include intros/paradoxes.html %}
         </a>
         <a href="/work/paradoxes">
            {% include icons/more.html %}
         </a>
      </div>
   </div>
</div>
