---
layout: category
title: Workshops
label: workshops
---

<div class="divide">
   <div class="divide-categories">
      <div class="divide-categories-unit">
         <h2><a href="/work/data-explorers">Data Explorers</a></h2>
         <a href="/work/data-explorers" class="passive-link">
            {% include intros/visweek.html %}
         </a>
      </div>

      <div class="divide-categories-unit">
         <h2><a href="/work/paradoxes">Paradoxes</a></h2>
         <a href="/work/paradoxes" class="passive-link">
            {% include intros/paradoxes.html %}
         </a>
      </div>
   </div>
</div>