---
layout: category
title: Workshops
label: workshops
---

<div class="divide">
   <div class="divide-categories">
      <div class="divide-categories-unit">
         <a href="/projects/data-explorers" class="categories-image">
            <img
               data-sizes="auto" src="/img/data-explorers/data-explorers-thumb-600.png"
               data-srcset="/img/data-explorers/data-explorers-thumb-900.png 900w,
               /img/data-explorers/data-explorers-thumb-300.png 300w"
               class="lazyload">
         </a>
         <h2><a href="/projects/data-explorers">Data Explorers</a></h2>
         <a href="/projects/data-explorers" class="passive-link">
            {% include intros/visweek.html %}
         </a>
      </div>

      <div class="divide-categories-unit">
         <a href="/projects/paradoxes" class="categories-image">
            <img
               data-sizes="auto" src="/img/paradoxes/paradoxes-thumb-600.jpg"
               data-srcset="/img/paradoxes/paradoxes-thumb-900.jpg 900w,
               /img/paradoxes/paradoxes-thumb-300.jpg 300w"
               class="lazyload">
         </a>
         <h2><a href="/projects/paradoxes">Paradoxes</a></h2>
         <a href="/projects/paradoxes" class="passive-link">
            {% include intros/paradoxes.html %}
         </a>
      </div>
   </div>
</div>