---
layout: project
title: Design Writing
label: writing
---
<section id="about">
   <div class="divide">
      <div class="divide-two-thirds-right">
         <h1>Design Writing</h1>
         <h3>
            Writing is an important part of my design practice. I use it to capture and explore ideas for myself, and to share ideas with others.
         </h3>
         <h3>
            In 2015–2016 I worte for the <a href="http://2plus3d.pl/" title="2+3D design magazine website"><span class="nowrap">2+3d</span> Polish Design Quarterly</a> covering a range of design topics, from open licenses to synthetic biology. I also wrote and illustrated a series of posts on the <a href="http://www.science-practice.com/blog/" title="Science Practice blog">Science Practice blog</a> about extraterrestrial communication.</h3>
      </div>
   </div>
</section>

<section id="communicating-across-cosmos">
   <div class="divide">
      <div class="divide-one-third-left">
         <p>
            In winter 2014–2015 I wrote a series of three posts on the Science Practice blog in my run-up to presentating at the 'Communicating Across the Cosmos' <a href="https://communicating.seti.org/" title="Communicating Across the Cosmos workshop website">workshop</a> organised by the SETI Institute in Mountain View, CA.
         </p>
         <ul>
            <li>
               <a href="http://www.science-practice.com/blog/2014/11/06/communicating-across-the-cosmos/" title="Communicating Across the Cosmos blog post: Part 1">Part 1: Historical context</a>
            </li>
            <li>
               <a href="http://www.science-practice.com/blog/2015/01/07/communicating-across-the-cosmos-2/" title="Communicating Across the Cosmos blog post: Part 2">Part 2: What we know today</a>
            </li>
            <li>
               <a href="http://www.science-practice.com/blog/2015/01/21/communicating-across-the-cosmos-3/" title="Communicating Across the Cosmos blog post: Part 3">Part 3: CETI</a>
            </li>
         </ul>
         <p>
            The posts introduce the theory behind my <a href="/projects/lingua-extraterrestris" title="Lingua Extraterrestris project page">MA thesis</a> and provide an outline of the topics I discussed at the SETI Institute.
         </p>
         <p>
            I llustrated the posts myself.
         </p>
      </div>
      <div class="divide-two-thirds-left">
         <img
            data-sizes="auto" src="/img/writing/voyager-spacecraft-641.png"
            data-srcset="/img/writing/voyager-spacecraft-1920.png 1920w,
            /img/writing/voyager-spacecraft-1080.png 1080w,
            /img/writing/voyager-spacecraft-192.png 192w"
            class="lazyload" alt="Communicating Across the Cosmos — A series of 3 blog posts published on the Science Practice blog">
      </div>
   </div>
</section>

<section id="science-practice">
   <div class="divide">
      <div class="divide-hide-desktop">
         <p>
            In <a href="http://2plus3d.pl/kwartalnik/60" title="Issue 60 on the 2+3D website">issue 60</a> <span class="nowrap">(III/2016)</span> I introduced Science Practice — a design company in London in which I've been working since 2013. The text provides an outline of three working themes that we explore at Science Practice: Good Problems, Resourceful Engineering, and Reading and Writing Biology.
         </p>
      </div>
      <div class="divide-full-one">
         <img
            data-sizes="auto" src="/img/writing/science-practice-641.jpg"
            data-srcset="/img/writing/science-practice-1920.jpg 1920w,
            /img/writing/science-practice-1080.jpg 1080w,
            /img/writing/science-practice-192.jpg 192w"
            class="lazyload" alt="Wieloboje w Projektowaniu article in issue #60 of 2+3D quartelty">
      </div>
      <div class="divide-hide-mobile">
         <p>
            In <a href="http://2plus3d.pl/kwartalnik/60" title="Issue 60 on the 2+3D website">issue 60</a> <span class="nowrap">(III/2016)</span> I introduced Science Practice — a design company in London in which I've been working since 2013. The text provides an outline of three working themes that we explore at Science Practice: Good Problems, Resourceful Engineering, and Reading and Writing Biology.
         </p>
      </div>
   </div>
</section>

<section id="open-licenses">
   <div class="divide">
      <div class="divide-hide-desktop">
         <p>
            For <a href="http://2plus3d.pl/kwartalnik/57" title="Issue 57 on the 2+3D website">issue 57</a> <span class="nowrap">(IV/2015)</span> I wrote a practical guide to open, free licenses available for designers in their everyday work. One of the aims of the article was to encourage designers to share their work in the open domain.
         </p>
      </div>
      <div class="divide-full-one">
         <img
            data-sizes="auto" src="/img/writing/otwarte-licencje-641.jpg"
            data-srcset="/img/writing/otwarte-licencje-1920.jpg 1920w,
            /img/writing/otwarte-licencje-1080.jpg 1080w,
            /img/writing/otwarte-licencje-192.jpg 192w"
            class="lazyload" alt="Pewne Prawa Zastrzeżone article in issue #57 of 2+3D quartelty">
      </div>
      <div class="divide-hide-mobile">
         <p>
            For <a href="http://2plus3d.pl/kwartalnik/57" title="Issue 57 on the 2+3D website">issue 57</a> <span class="nowrap">(IV/2015)</span> I wrote a practical guide to open, free licenses available for designers in their everyday work. One of the aims of the article was to encourage designers to share their work in the open domain.
         </p>
      </div>
   </div>
</section>

<section id="synthetic-biology">
   <div class="divide">
      <div class="divide-hide-desktop">
         <p>
            In <a href="http://2plus3d.pl/kwartalnik/55" title="Issue 55 on the 2+3D website">issue 55</a> <span class="nowrap">(II/2015)</span> I wrote an article about synthetic biology and the ways in which designers become involved in this practical field of science (for example through the participation in the <a href="http://igem.org/Competition" title="iGEM competition website">iGEM competition</a>).
         </p>
      </div>
      <div class="divide-full-one">
         <img
            data-sizes="auto" src="/img/writing/genetyczne-klocki-641.jpg"
            data-srcset="/img/writing/genetyczne-klocki-1920.jpg 1920w,
            /img/writing/genetyczne-klocki-1080.jpg 1080w,
            /img/writing/genetyczne-klocki-192.jpg 192w"
            class="lazyload" alt="Genetyczne Klocki article in issue #55 of 2+3D quartelty">
      </div>
      <div class="divide-hide-mobile">
         <p>
            In <a href="http://2plus3d.pl/kwartalnik/55" title="Issue 55 on the 2+3D website">issue 55</a> <span class="nowrap">(II/2015)</span> I wrote an article about synthetic biology and the ways in which designers become involved in this practical field of science (for example through the participation in the <a href="http://igem.org/Competition" title="iGEM competition website">iGEM competition</a>).
         </p>
      </div>
   </div>
</section>

<section id="disobedient-objects">
   <div class="divide">
      <div class="divide-hide-desktop">
         <p>
            For <a href="http://2plus3d.pl/kwartalnik/54" title="Issue 54 on the 2+3D website">issue 54</a> <span class="nowrap">(I/2015)</span> I reveiwed the <a href="http://www.vam.ac.uk/content/exhibitions/disobedient-objects/" title="Disobedient Objects webpage on the Victoria and Albert Museum website">"Disobedient Objects"</a> exhibition at the V&amp;A in London, which explored the material culture of protest movements.
         </p>
      </div>
      <div class="divide-full-one">
         <img
            data-sizes="auto" src="/img/writing/nieposluszne-przedmioty-641.jpg"
            data-srcset="/img/writing/nieposluszne-przedmioty-1920.jpg 1920w,
            /img/writing/nieposluszne-przedmioty-1080.jpg 1080w,
            /img/writing/nieposluszne-przedmioty-192.jpg 192w"
            class="lazyload" alt="Nieposłuszne Przedmioty article in issue #54 of 2+3D quartelty">
      </div>
      <div class="divide-hide-mobile">
         <p>
            For <a href="http://2plus3d.pl/kwartalnik/54" title="Issue 54 on the 2+3D website">issue 54</a> <span class="nowrap">(I/2015)</span> I reveiwed the <a href="http://www.vam.ac.uk/content/exhibitions/disobedient-objects/" title="Disobedient Objects webpage on the Victoria and Albert Museum website">"Disobedient Objects"</a> exhibition at the V&amp;A in London, which explored the material culture of protest movements.
         </p>
      </div>
   </div>
</section>

<section id="medialab">
   <div class="divide">
      <div class="divide-hide-desktop">
         <p>
            In 2015 I wrote a book chapter titled {% include pubs/simulations.html %} edited by Karol Piekarski and published by <a href="http://medialabkatowice.eu/en/" title="Medialab Katowice website">Medialab Katowice</a>. The text provided theoretical premise for <a href="http://2013.medialabkatowice.eu/wp-content/uploads/2014/02/Reversal-of-Roles-Medialab-Katowice-Workshop-Summary.pdf" title="The Reversal of the Roles workshop webpage on the Medialab Katowice website">The Reversal of the Roles workshop</a> which I authored and led in Katowice in 2013 together with designer Lina Aue Pogatschnigg. Other authors contributing to the book included Lev Manovich and Dietmar Offenhuber.
         </p>
      </div>
      <div class="divide-full-one">
         <img
            data-sizes="auto" src="/img/writing/simulation-641.jpg"
            data-srcset="/img/writing/simulation-1920.jpg 1920w,
            /img/writing/simulation-1080.jpg 1080w,
            /img/writing/simulation-192.jpg 192w"
            class="lazyload" alt="Simulation in Creating Cities. In: Data-Driven Methods for City Research and Exploration. Edited by Karol Piekarski. Published by Medialab Katowice.">
      </div>
      <div class="divide-hide-mobile">
         <p>
            In 2015 I wrote a book chapter titled {% include pubs/simulations.html %} edited by Karol Piekarski and published by <a href="http://medialabkatowice.eu/en/" title="Medialab Katowice website">Medialab Katowice</a>. The text provided theoretical premise for <a href="http://2013.medialabkatowice.eu/wp-content/uploads/2014/02/Reversal-of-Roles-Medialab-Katowice-Workshop-Summary.pdf" title="The Reversal of the Roles workshop webpage on the Medialab Katowice website">The Reversal of the Roles workshop</a> which I authored and led in Katowice in 2013 together with designer Lina Aue Pogatschnigg. Other authors contributing to the book included Lev Manovich and Dietmar Offenhuber.
         </p>
      </div>
   </div>
</section>