---
layout: about
title: Marek Kultys
label: about
---


<section id="experience">
   <div class="index">
      <div class="index-two-thirds">
         <h2>
            Experience
         </h2>
         <p>
            <strong>Science Practice</strong> &mdash; I joined Science Practice in 2012 and I am still working there full time. My role...
         </p>
         <p>
            SP+EE
         </p>
         <p>
            bento&bull;bioworks
         </p>
         <p>
            Freelance Designer
         </p>
      </div>
   </div>
</section>


<section id="education">
   <div class="index">
      <div class="index-two-thirds">
         <h2>
            Education
         </h2>
         <p>
            Central Saint Martins College of Art and Design
         </p>
         <p>
            Warsaw Academy of Fine Arts
         </p>
         <p>
            London Business School
         </p>
         <p>
            Zürcher Hoschschule der Künste
         </p>
      </div>
   </div>
</section>


<section id="conferences">
   <div class="index">
      <div class="index-two-thirds">
         <h2>
            Conferences, Workshops &amp; Talks
         </h2>
         <p>
            {% include events/2015-bioviscam2.html %}
         </p>
         <p>
            {% include events/2014-seti.html %}
         </p>
         <p>
            {% include events/2014-ida.html %}
         </p>
         <p>
            {% include events/2014-tivc.html %}
         </p>
         <p>
            {% include events/2013-ieeevis.html %}
         </p>
         <p>
            {% include events/2012-abscicon.html %}
         </p>
         <p>
            {% include events/2012-ida.html %}
         </p>
         <p>
            {% include events/2011-csf.html %}
         </p>
         <p>
            {% include events/2011-ven.html %}
         </p>
      </div>
   </div>
</section>


<section id="teaching">
   <div class="index">
      <div class="index-two-thirds">
         <h2>
            Teaching
         </h2>
         <p>
            I authored and led hands-on visual design workshops for data scientists during IEEEVis <a href="/work/data-explorers/">workshops</a> in 2012 (Seattle) and 2013 (Atlanta).
         </p>
         <p>
            I also authored and led a visualisation <a href="/work/paradoxes/">workshop</a> for young designers at the {% include events/2014-tivc.html %}.
         </p>
      </div>
   </div>
</section>


<section id="exhibitions">

</section>


<section id="publications">

</section>


<section id="awards">

</section>
