---
layout: project
title: The End of Hearing
label: hearing
---


<div id="gallery" class="divide">
   <div class="divide-full-one">
      <div class="video-hearing">
         <iframe src="https://player.vimeo.com/video/27178080" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
   </div>
   <div class="divide-two-thirds-left">
      <h4>
         When I moved to London, I was surprised by the levels of noise experienced in everyday life in the city. Inspired by this and my previous research into <a href="/work/lingua-extraterrestris">CETI</a>, I created The End of Hearing &mdash; a collection of three science-fiction stories designed to elicit viewers' reactions towards possible futures of hearing.
      </h4>
   </div>
</div>


<div class="divide">
   <div class="divide-one-third-left">
      <h4>
         The first scenario, 'Artificial Silence', is about regulating the sensitivity of hearing through the use of ototoxic antibiotics (one of their side effects is hearing damage). I designed the Otomixer which would be used to mix and dose an ototoxic compound that turns off one's hearing for a selected duration and in a set frequency range.
      </h4>
   </div>
</div>


<div class="divide">
   <div class="divide-one-third-left">
      <h4>
         The second scenario, 'Blasting!', explores consequences of sound conditioning &mdash; a novel medical intervention that can protect against noise truma and prevent hearing loss.
      </h4>
   </div>
</div>


<div class="divide">
   <div class="divide-one-third-left">
      <h4>
         The last 'Voices Inside My Head' scenario imagines a future in which humans can be augmented to sense radio communication. I created the AIR Implant as a prop for discussing this scenario &mdash; it is an actual crystal AM radio receiver tuned to 912.5 kHz (BBC Radio 5) inside a gelatine capsule. I built about 60 of those.
      </h4>
   </div>
</div>


<div class="divide">
   <div class="divide-two-thirds-left">
      <h4>
         I presented The End of Hearing in a public show in London in 2011. I used the scenarios and objects to provoke a discussion with my viewers about their attitudes towards hearing and noise pollution.
      </h4>
   </div>
</div>


<div class="divide">
   <div class="divide-one-third-left">
      <h4>
         I also had a survey with 10 questions about the perception of noise, the role of hearing in peoples' lifes, and the role of design in shaping futures. I collected replies from 65 viewers.
      </h4>
   </div>
</div>


<div class="divide">
   <div class="divide-two-thirds-left">
      <h4>
         And these are the results of my survey. In summary:
         <ul>
            <li>We believe that future can be shaped and that design can help us do this,</li>
            <li>We value hearing and think that we can adapt to future soundscapes,</li>
            <li>We are undecided about the role that noise plays in our lives.</li>
         </ul>
      </h4>
   </div>
</div>


{% include divider.html %}


<div class="divide">
   <div class="divide-one-third-left">
      <h4>
         I made The End of Hearing objects myself, which was great fun. The Otomixer and the plastic blister for AIR Implants was made in the old wood workshop at the <a href="http://www.arts.ac.uk/csm/">CSM</a>.
      </h4>
   </div>
</div>


<div class="divide">
   <div class="divide-one-third-left">
      <h4>
         I also used working electronic components in The End of Hearing objects, which I prototyped myself.
      </h4>
      <h4>
         The Otomixer houses a graphic sound equalizer. I built it from scratch using standard electronic components, such as the LM741 integrated circuit for equalization and the LM386 for amplification.
      </h4>
   </div>
</div>


<div class="divide">
   <div class="divide-one-third-left">
      <h4>
         The AIR Implant is a little crystal radio made from a germanium diode, a ceramic capacitor and an inductance coil. They were picked to resonate in 912.5 kHz (BBC Radio 5). I assembled about 60 is those little radios.
      </h4>
   </div>
</div>


{% include divider.html %}


<div class="divide">
   <div class="divide-half">
      <div class="divide-half-unit">
         <h4>
            I discussed The End of Hearing in:
            <ul>
               <li>{% include events/2012-massart.html %}</li>
               <li>{% include events/2011-csf.html %}</li>
            </ul>
         </h4>
         <h4>
            The End of Hearing was shown in:
            <ul>
               <li>{% include events/2012-scinema.html %}</li>
               <li>{% include events/2011-4thplinth.html %}</li>
               <li>{% include events/2011-ldzign.html %}</li>
               <li>{% include events/2011-csm.html %}</li>
            </ul>
         </h4>
         <h4>
            The End of Hearing was also published in:
            <ul>
               <li>{% include pubs/theendofhearing.html %}</li>
               <li>{% include pubs/designingscience.html %}</li>
            </ul>
         </h4>
      </div>
      <div class="divide-half-unit">
         <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Free DMI Lecture: Marek Kultys: Visualization as a Method of Change. October 10 <a href="https://twitter.com/MassArt">@massart</a>… <a href="http://t.co/o4u8GhYIJw">http://t.co/o4u8GhYIJw</a></p>&mdash; Brian Lucid (@brianlucid) <a href="https://twitter.com/brianlucid/status/385946807874105344">October 4, 2013</a></blockquote>
         <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
   </div>
</div>
