---
layout: project
title: The End of Hearing
label: hearing
---
<section id="about">
   <div class="divide">
      <div class="divide-two-thirds-right">
         <h1>The End of Hearing</h1>
         <h3>
            The End of Hearing is a design fictions exploration of possible worlds in which our soundscapes have radically changed. It is a series of three <nobr>science-fiction</nobr> stories told in different media: writing, film, narrative objects, and performance.
         </h3>
      </div>
   </div>
</section>

<section id="video">
   <div class="divide">
      <div class="divide-full-one">
         <div class="video-wrapper">
            <iframe src="https://player.vimeo.com/video/27178080" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
         </div>
      </div>
      <div class="divide-two-thirds-left">
         <p>
            When I moved to London I was surprised by the levels of noise experienced in everyday life in the city. Inspired by this and by my previous research into <a href="/work/lingua-extraterrestris">CETI</a>, I created The End of Hearing — a collection of three <nobr>science-fiction</nobr> scenarios designed to explore peoples' attitudes towards possible futures of hearing.
         </p>
      </div>
   </div>
</section>

<section id="scenarios">
   <div class="divide">
      <div class="divide-one-third-left">
         <p>
            The first scenario, "<a href="http://the-end-of-hearing.org/storyone.html">Artificial Silence</a>", is about regulating the sensitivity of hearing with the use of ototoxic antibiotics (one of their side effects is hearing damage). In that future the Otomixer would allow its users to mix ototoxic doses that can turn off one's hearing for a selected duration and in a chosen frequency range.
         </p>
      </div>
      <div class="divide-two-thirds-left">
         <img
            data-sizes="auto" src="/img/the-end-of-hearing/otomixer-1-641.jpg"
            data-srcset="/img/the-end-of-hearing/otomixer-1-1920.jpg 1920w,
            /img/the-end-of-hearing/otomixer-1-1080.jpg 1080w,
            /img/the-end-of-hearing/otomixer-1-192.jpg 192w"
            class="lazyload">
      </div>
   </div>

   <div class="divide">
      <div class="divide-one-third-left">
         <p>
            The second scenario, "<a href="http://the-end-of-hearing.org/storytwo.html">Blasting!</a>", explores the future of sound conditioning — a novel medical intervention that can protect against noise truma and prevent hearing loss. I was interested in new extreme sports that could spin-off from new medical advancements like this.
         </p>
      </div>
      <div class="divide-two-thirds-left">
         <img
            data-sizes="auto" src="/img/the-end-of-hearing/sound-conditioning-641.jpg"
            data-srcset="/img/the-end-of-hearing/sound-conditioning-1229.jpg 1229w,
            /img/the-end-of-hearing/sound-conditioning-1080.jpg 1080w,
            /img/the-end-of-hearing/sound-conditioning-192.jpg 192w"
            class="lazyload">
         <h6 class="image-credit">
            Niu et al. Environmental enrichment to sound activates dopaminergic pathways in the auditory system. <nobr><i>Physiol Behav.</i> 2007</nobr> Sep <nobr>10;92(1-2):34-9.</nobr>
         </h6>
      </div>
   </div>

   <div class="divide">
      <div class="divide-one-third-left">
         <p>
            The last scenario titled "<a href="http://the-end-of-hearing.org/storythree.html">Voices Inside My Head</a>" imagines another future in which human brain can be augmented to sense radio signals and wireless communication. I created the AIR Implant as a prop for discussing this scenario — it is an actual crystal AM radio receiver tuned to <nobr>912.5 kHz</nobr> <nobr>(BBC Radio 5)</nobr> in a gelatine capsule.
         </p>
      </div>
      <div class="divide-two-thirds-left">
         <img
            data-sizes="auto" src="/img/the-end-of-hearing/implant-2-641.jpg"
            data-srcset="/img/the-end-of-hearing/implant-2-1920.jpg 1920w,
            /img/the-end-of-hearing/implant-2-1080.jpg 1080w,
            /img/the-end-of-hearing/implant-2-192.jpg 192w"
            class="lazyload">
         <img
            data-sizes="auto" src="/img/the-end-of-hearing/implant-1-641.jpg"
            data-srcset="/img/the-end-of-hearing/implant-1-1920.jpg 1920w,
            /img/the-end-of-hearing/implant-1-1080.jpg 1080w,
            /img/the-end-of-hearing/implant-1-192.jpg 192w"
            class="lazyload">
      </div>
   </div>
</section>

<section id="discussion">
   <div class="divide">
      <div class="divide-hide-desktop">
         <p>
            I presented The End of Hearing in a public show in London in 2011. I used the scenarios and objects to provoke a discussion with my viewers about their attitudes towards hearing and noise pollution.
         </p>
      </div>
      <div class="divide-full-one">
         <img
            data-sizes="auto" src="/img/the-end-of-hearing/show-1-641.jpg"
            data-srcset="/img/the-end-of-hearing/show-1-1500.jpg 1500w,
            /img/the-end-of-hearing/show-1-1080.jpg 1080w,
            /img/the-end-of-hearing/show-1-192.jpg 192w"
            class="lazyload">
      </div>
      <div class="divide-hide-mobile">
         <p>
            I presented The End of Hearing in a public show in London in 2011. I used the scenarios and objects to provoke a discussion with my viewers about their attitudes towards hearing and noise pollution.
         </p>
      </div>
   </div>

   <div class="divide">
      <div class="divide-two-thirds-left">
         <p>
            I asked the viewers to fill out a survey with 10 questions about the perception of noise, the role of hearing in peoples' lifes, and the role of design in shaping futures. I collected replies from 65 viewers.
         </p>
      </div>
      <div class="divide-third">
         <div class="divide-third-unit">
            <img
               data-sizes="auto" src="/img/the-end-of-hearing/test-10-641.jpg"
               data-srcset="/img/the-end-of-hearing/test-10-1712.jpg 1712w,
               /img/the-end-of-hearing/test-10-1080.jpg 1080w,
               /img/the-end-of-hearing/test-10-192.jpg 192w"
               class="lazyload">
         </div>
         <div class="divide-third-unit">
            <img
               data-sizes="auto" src="/img/the-end-of-hearing/test-01-641.jpg"
               data-srcset="/img/the-end-of-hearing/test-01-1712.jpg 1712w,
               /img/the-end-of-hearing/test-01-1080.jpg 1080w,
               /img/the-end-of-hearing/test-01-192.jpg 192w"
               class="lazyload">
         </div>
         <div class="divide-third-unit">
            <img
               data-sizes="auto" src="/img/the-end-of-hearing/test-03-641.jpg"
               data-srcset="/img/the-end-of-hearing/test-03-1712.jpg 1712w,
               /img/the-end-of-hearing/test-03-1080.jpg 1080w,
               /img/the-end-of-hearing/test-03-192.jpg 192w"
               class="lazyload">
         </div>
      </div>
   </div>

   <div class="divide">
      <div class="divide-one-third-left">
         <p>
            The results of my survey showed that:
         </p>
         <ul>
            <li>we believe that future can be shaped and that design can help us do this,</li>
            <li>we value hearing and think that we can adapt to future soundscapes,</li>
            <li>we are undecided about the role that noise played in our lives.</li>
         </ul>
      </div>
      <div class="divide-two-thirds-left">
         <img
            data-sizes="auto" src="/img/the-end-of-hearing/test-0-641.png"
            data-srcset="/img/the-end-of-hearing/test-0-1920.png 1920w,
            /img/the-end-of-hearing/test-0-1080.png 1080w,
            /img/the-end-of-hearing/test-0-192.png 192w"
            class="lazyload" {% include image-border.css %}>
      </div>
   </div>
</section>

<section id="process">
   <div class="divide">
      <div class="divide-hide-desktop">
         <p>
            I made all objects myself, which was great fun. The Otomixer and the plastic blister for AIR Implants were made in the old <a href="http://www.arts.ac.uk/csm/">Central Saint Martins</a> wood and plastics workshops in Holborn in central London.
         </p>
      </div>
      <div class="divide-full-one">
         <img
            data-sizes="auto" src="/img/the-end-of-hearing/making-workshop-1-641.jpg"
            data-srcset="/img/the-end-of-hearing/making-workshop-1-1920.jpg 1920w,
            /img/the-end-of-hearing/making-workshop-1-1080.jpg 1080w,
            /img/the-end-of-hearing/making-workshop-1-192.jpg 192w"
            class="lazyload">
      </div>
      <div class="divide-hide-mobile">
         <p>
            I made all objects myself, which was great fun. The Otomixer and the plastic blister for AIR Implants were made in the old <a href="http://www.arts.ac.uk/csm/">Central Saint Martins</a> wood and plastics workshops in Holborn in central London.
         </p>
      </div>
      <div class="divide-half">
         <div class="divide-half-unit">
            <img
               data-sizes="auto" src="/img/the-end-of-hearing/making-otomixer-0-641.jpg"
               data-srcset="/img/the-end-of-hearing/making-otomixer-0-1594.jpg 1594w,
               /img/the-end-of-hearing/making-otomixer-0-1080.jpg 1080w,
               /img/the-end-of-hearing/making-otomixer-0-192.jpg 192w"
               class="lazyload">
         </div>
         <div class="divide-half-unit">
            <div class="hide-mobile">
               <img
                  data-sizes="auto" src="/img/the-end-of-hearing/making-otomixer-2-641.jpg"
                  data-srcset="/img/the-end-of-hearing/making-otomixer-2-1594.jpg 1594w,
                  /img/the-end-of-hearing/making-otomixer-2-1080.jpg 1080w,
                  /img/the-end-of-hearing/making-otomixer-2-192.jpg 192w"
                  class="lazyload">
            </div>
         </div>
      </div>
      <div class="divide-half">
         <div class="divide-half-unit">
            <div class="hide-mobile">
               <img
                  data-sizes="auto" src="/img/the-end-of-hearing/making-otomixer-4-641.jpg"
                  data-srcset="/img/the-end-of-hearing/making-otomixer-4-1660.jpg 1660w,
                  /img/the-end-of-hearing/making-otomixer-4-1080.jpg 1080w,
                  /img/the-end-of-hearing/making-otomixer-4-192.jpg 192w"
                  class="lazyload">
            </div>
         </div>
         <div class="divide-half-unit">
            <img
               data-sizes="auto" src="/img/the-end-of-hearing/making-otomixer-5-641.jpg"
               data-srcset="/img/the-end-of-hearing/making-otomixer-5-1660.jpg 1660w,
               /img/the-end-of-hearing/making-otomixer-5-1080.jpg 1080w,
               /img/the-end-of-hearing/making-otomixer-5-192.jpg 192w"
               class="lazyload">
         </div>
      </div>
      <div class="divide-half">
         <div class="divide-half-unit">
            <div class="hide-mobile">
               <img
                  data-sizes="auto" src="/img/the-end-of-hearing/making-otomixer-6-641.jpg"
                  data-srcset="/img/the-end-of-hearing/making-otomixer-6-1920.jpg 1920w,
                  /img/the-end-of-hearing/making-otomixer-6-1080.jpg 1080w,
                  /img/the-end-of-hearing/making-otomixer-6-192.jpg 192w"
                  class="lazyload">
            </div>
         </div>
         <div class="divide-half-unit">
            <img
               data-sizes="auto" src="/img/the-end-of-hearing/making-otomixer-7-641.jpg"
               data-srcset="/img/the-end-of-hearing/making-otomixer-7-1920.jpg 1920w,
               /img/the-end-of-hearing/making-otomixer-7-1080.jpg 1080w,
               /img/the-end-of-hearing/making-otomixer-7-192.jpg 192w"
               class="lazyload">
         </div>
      </div>
      <div class="divide-half">
         <div class="divide-half-unit">
            <div class="hide-mobile">
               <img
                  data-sizes="auto" src="/img/the-end-of-hearing/making-otomixer-10-641.jpg"
                  data-srcset="/img/the-end-of-hearing/making-otomixer-10-1600.jpg 1600w,
                  /img/the-end-of-hearing/making-otomixer-10-1080.jpg 1080w,
                  /img/the-end-of-hearing/making-otomixer-10-192.jpg 192w"
                  class="lazyload">
            </div>
         </div>
         <div class="divide-half-unit">
            <img
               data-sizes="auto" src="/img/the-end-of-hearing/making-otomixer-11-641.jpg"
               data-srcset="/img/the-end-of-hearing/making-otomixer-11-1600.jpg 1600w,
               /img/the-end-of-hearing/making-otomixer-11-1080.jpg 1080w,
               /img/the-end-of-hearing/making-otomixer-11-192.jpg 192w"
               class="lazyload">
         </div>
      </div>
      <div class="divide-half">
         <div class="divide-half-unit">
            <img
               data-sizes="auto" src="/img/the-end-of-hearing/making-otomixer-3-641.jpg"
               data-srcset="/img/the-end-of-hearing/making-otomixer-3-1920.jpg 1920w,
               /img/the-end-of-hearing/making-otomixer-3-1080.jpg 1080w,
               /img/the-end-of-hearing/making-otomixer-3-192.jpg 192w"
               class="lazyload">
         </div>
         <div class="divide-half-unit">
            <div class="hide-mobile">
               <img
                  data-sizes="auto" src="/img/the-end-of-hearing/making-otomixer-1-641.jpg"
                  data-srcset="/img/the-end-of-hearing/making-otomixer-1-1920.jpg 1920w,
                  /img/the-end-of-hearing/making-otomixer-1-1080.jpg 1080w,
                  /img/the-end-of-hearing/making-otomixer-1-192.jpg 192w"
                  class="lazyload">
            </div>
         </div>
      </div>
   </div>

   <div class="divide">
      <div class="divide-one-third-left">
         <p>
            I also prototyped all working electronic components used the objects. I started by building radio receivers and transmitters, and experimenting with sound amplification.
         </p>
      </div>
      <div class="divide-two-thirds-left">
         <img
            data-sizes="auto" src="/img/the-end-of-hearing/making-radio-0-641.jpg"
            data-srcset="/img/the-end-of-hearing/making-radio-0-1372.jpg 1372w,
            /img/the-end-of-hearing/making-radio-0-1080.jpg 1080w,
            /img/the-end-of-hearing/making-radio-0-192.jpg 192w"
            class="lazyload">
         <img
            data-sizes="auto" src="/img/the-end-of-hearing/making-radio-2-641.jpg"
            data-srcset="/img/the-end-of-hearing/making-radio-2-1260.jpg 1260w,
            /img/the-end-of-hearing/making-radio-2-1080.jpg 1080w,
            /img/the-end-of-hearing/making-radio-2-192.jpg 192w"
            class="lazyload">
         <img
            data-sizes="auto" src="/img/the-end-of-hearing/making-radio-1-641.jpg"
            data-srcset="/img/the-end-of-hearing/making-radio-1-1832.jpg 1832w,
            /img/the-end-of-hearing/making-radio-1-1080.jpg 1080w,
            /img/the-end-of-hearing/making-radio-1-192.jpg 192w"
            class="lazyload">
      </div>
   </div>

   <div class="divide">
      <div class="divide-hide-desktop">
         <p>
            The Otomixer houses a graphic sound equalizer. I built it from scratch using standard electronic components, including the LM741 integrated circuit for equalization and the LM386 for amplification.
         </p>
      </div>
      <div class="divide-full-one">
         <img
            data-sizes="auto" src="/img/the-end-of-hearing/making-otomixer-12-641.jpg"
            data-srcset="/img/the-end-of-hearing/making-otomixer-12-1920.jpg 1920w,
            /img/the-end-of-hearing/making-otomixer-12-1080.jpg 1080w,
            /img/the-end-of-hearing/making-otomixer-12-192.jpg 192w"
            class="lazyload">
      </div>
      <div class="divide-hide-mobile">
         <p>
            The Otomixer houses a graphic sound equalizer. I built it from scratch using standard electronic components, including the LM741 integrated circuit for equalization and the LM386 for amplification.
         </p>
      </div>
   </div>

   <div class="divide">
      <div class="divide-hide-desktop">
         <p>
            The AIR Implant is a little crystal radio built using a germanium diode, a ceramic capacitor, and an inductance coil. The radio resonates in <nobr>912.5 kHz</nobr> <nobr>(BBC Radio 5).</nobr> I assembled about 60 implants like that.
         </p>
      </div>
      <div class="divide-full-one">
         <img
            data-sizes="auto" src="/img/the-end-of-hearing/making-implant-4-641.jpg"
            data-srcset="/img/the-end-of-hearing/making-implant-4-1920.jpg 1920w,
            /img/the-end-of-hearing/making-implant-4-1080.jpg 1080w,
            /img/the-end-of-hearing/making-implant-4-192.jpg 192w"
            class="lazyload">
      </div>
      <div class="divide-hide-mobile">
         <p>
            The AIR Implant is a little crystal radio built using a germanium diode, a ceramic capacitor, and an inductance coil. The radio resonates in <nobr>912.5 kHz</nobr> <nobr>(BBC Radio 5).</nobr> I assembled about 60 implants like that.
         </p>
      </div>
   </div>
</section>

<section id="dissemination">
   <div class="divide">
      <div class="divide-half">
         <div class="divide-half-unit">
            <p>
               I presented and discussed The End of Hearing at:
            </p>
            <ul>
               <li>{% include events/2012-massart.html %},</li>
               <li>{% include events/2011-csf.html %}.</li>
            </ul>
            <p>
               The project was published in:
            </p>
            <ul>
               <li>{% include pubs/theendofhearing.html %},</li>
               <li>{% include pubs/designingscience.html %}.</li>
            </ul>
            <p>
               I have also shown The End of Hearing as part of:
            </p>
            <ul>
               <li>{% include events/2012-scinema.html %},</li>
               <li>{% include events/2011-4thplinth.html %},</li>
               <li>{% include events/2011-ldzign.html %},</li>
               <li>{% include events/2011-csm.html %}.</li>
            </ul>
         </div>
         <div class="divide-half-unit">
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Free DMI Lecture: Marek Kultys: Visualization as a Method of Change. October 10 <a href="https://twitter.com/MassArt">@massart</a>… <a href="http://t.co/o4u8GhYIJw">http://t.co/o4u8GhYIJw</a></p>&mdash; Brian Lucid (@brianlucid) <a href="https://twitter.com/brianlucid/status/385946807874105344">October 4, 2013</a></blockquote>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
         </div>
      </div>
   </div>
</section>