---
layout: project
title: The End of Hearing
label: hearing
---


{% include divider.html %}


<div class="divide">
   <div class="divide-half">
      <div class="divide-full-one">
      <h4>
         I discussed The End of Hearing in:
         <ul>
            <li>{% include events/2011-csf.html %}</li>
            <li>{% include events/2012-massart.html %}</li>
         </ul>
      </h4>
      <h4>
         The End of Hearing was shown in:
         <ul>
            <li>{% include events/2011-4thplinth.html %}</li>
            <li>{% include events/2011-ldzign.html %}</li>
            <li>{% include events/2012-scinema.html %}</li>
         </ul>
      </h4>
      <h4>
         The End of Hearing was also published in:
         <ul>
            <li>{% include pubs/theendofhearing.html %}</li>
            <li>{% include pubs/designingscience.html %}</li>
         </ul>
      </h4>
   </div>
   </div>
</div>
