---
layout: category
title: Visualisations
label: visualisations
---

<div class="divide">
   <div class="divide-categories">
      <div class="divide-categories-unit">
         <a href="/work/sequence-bundles"><h2><span class="works-title">Sequence Bundles</span></h2></a>
         <a href="/work/sequence-bundles" class="passive-link">
            {% include intros/bundles.html %}
         </a>
         <a href="/work/sequence-bundles">
            {% include icons/more.html %}
         </a>
      </div>

      <div class="divide-categories-unit">
         <a href="/work/mitosis-meiosis"><h2><span class="works-title">Mitosis &amp; Meiosis</span></h2></a>
         <a href="/work/mitosis-meiosis" class="passive-link">
            {% include intros/mitosis.html %}
         </a>
         <a href="/work/mitosis-meiosis">
            {% include icons/more.html %}
         </a>
      </div>

      <div class="divide-categories-unit">
         <a href="/work/immunographics"><h2><span class="works-title">Immunographics</span></h2></a>
         <a href="/work/immunographics" class="passive-link">
            {% include intros/immuno.html %}
         </a>
         <a href="/work/immunographics">
            {% include icons/more.html %}
         </a>
      </div>
   </div>
</div>

<div class="divide">
   <div class="divide-categories">
      <div class="divide-categories-unit">
         <a href="/work/data-explorers"><h2><span class="works-title">Data Explorers</span></h2></a>
         <a href="/work/data-explorers" class="passive-link">
            {% include intros/visweek.html %}
         </a>
         <a href="/work/data-explorers">
            {% include icons/more.html %}
         </a>
      </div>

      <div class="divide-categories-unit">
         <a href="/work/paradoxes"><h2><span class="works-title">Paradoxes</span></h2></a>
         <a href="/work/paradoxes" class="passive-link">
            {% include intros/paradoxes.html %}
         </a>
         <a href="/work/paradoxes">
            {% include icons/more.html %}
         </a>
      </div>
   </div>
</div>
