---
layout: category
title: Visualisations
label: visualisations
---

<div class="divide">
   <div class="divide-categories">
      <div class="divide-categories-unit">
         <div class="categories-wrapper">
            <a href="/work/sequence-bundles" class="categories-image">
               <img
                  data-sizes="auto" src="/img/bento-lab/bento-lab-thumb-600.jpg"
                  data-srcset="/img/bento-lab/bento-lab-thumb-900.jpg 900w,
                  /img/bento-lab/bento-lab-thumb-300.jpg 300w"
                  class="lazyload">
            </a>
         </div>
         <h2><a href="/work/sequence-bundles">Sequence Bundles</a></h2>
         <a href="/work/sequence-bundles" class="passive-link">
            {% include intros/bundles.html %}
         </a>
      </div>

      <div class="divide-categories-unit">
         <div class="categories-wrapper">
            <a href="/work/mitosis-meiosis" class="categories-image">
               <img
                  data-sizes="auto" src="/img/mitosis-meiosis/mitosis-meiosis-thumb-600.png"
                  data-srcset="/img/mitosis-meiosis/mitosis-meiosis-thumb-900.png 900w,
                  /img/mitosis-meiosis/mitosis-meiosis-thumb-300.png 300w"
                  class="lazyload">
            </a>
         </div>
         <h2><a href="/work/mitosis-meiosis">Mitosis &amp; Meiosis</a></h2>
         <a href="/work/mitosis-meiosis" class="passive-link">
            {% include intros/mitosis.html %}
         </a>
      </div>

      <div class="divide-categories-unit">
         <div class="categories-wrapper">
            <a href="/work/immunographics" class="categories-image">
               <img
                  data-sizes="auto" src="/img/immunographics/immunographics-thumb-600.jpg"
                  data-srcset="/img/immunographics/immunographics-thumb-900.jpg 900w,
                  /img/immunographics/immunographics-thumb-300.jpg 300w"
                  class="lazyload">
            </a>
         </div>
         <h2><a href="/work/immunographics">Immunographics</a></h2>
         <a href="/work/immunographics" class="passive-link">
            {% include intros/immuno.html %}
         </a>
      </div>
   </div>
</div>

<div class="divide">
   <div class="divide-categories">
      <div class="divide-categories-unit">
         <div class="categories-wrapper">
            <a href="/work/data-explorers" class="categories-image">
               <img
                  data-sizes="auto" src="/img/immunographics/immunographics-thumb-600.jpg"
                  data-srcset="/img/immunographics/immunographics-thumb-900.jpg 900w,
                  /img/immunographics/immunographics-thumb-300.jpg 300w"
                  class="lazyload">
            </a>
         </div>
         <h2><a href="/work/data-explorers">Data Explorers</a></h2>
         <a href="/work/data-explorers" class="passive-link">
            {% include intros/visweek.html %}
         </a>
      </div>

      <div class="divide-categories-unit">
         <div class="categories-wrapper">
            <a href="/work/paradoxes" class="categories-image">
               <img
                  data-sizes="auto" src="/img/immunographics/immunographics-thumb-600.jpg"
                  data-srcset="/img/immunographics/immunographics-thumb-900.jpg 900w,
                  /img/immunographics/immunographics-thumb-300.jpg 300w"
                  class="lazyload">
            </a>
         </div>
         <h2><a href="/work/paradoxes">Paradoxes</a></h2>
         <a href="/work/paradoxes" class="passive-link">
            {% include intros/paradoxes.html %}
         </a>
      </div>
   </div>
</div>