---
layout: category
title: Visualisations
label: visualisations
---

<div class="divide">
   <div class="divide-categories">
      <div class="divide-categories-unit">
         <h2><a href="/work/sequence-bundles">Sequence Bundles</a></h2>
         <a href="/work/sequence-bundles" class="passive-link">
            {% include intros/bundles.html %}
         </a>
         <a href="/work/sequence-bundles">
            {% include icons/more.html %}
         </a>
      </div>

      <div class="divide-categories-unit">
         <h2><a href="/work/mitosis-meiosis">Mitosis &amp; Meiosis</a></h2>
         <a href="/work/mitosis-meiosis" class="passive-link">
            {% include intros/mitosis.html %}
         </a>
         <a href="/work/mitosis-meiosis">
            {% include icons/more.html %}
         </a>
      </div>

      <div class="divide-categories-unit">
         <h2><a href="/work/immunographics">Immunographics</a></h2>
         <a href="/work/immunographics" class="passive-link">
            {% include intros/immuno.html %}
         </a>
         <a href="/work/immunographics">
            {% include icons/more.html %}
         </a>
      </div>
   </div>
</div>

<div class="divide">
   <div class="divide-categories">
      <div class="divide-categories-unit">
         <h2><a href="/work/data-explorers">Data Explorers</a></h2>
         <a href="/work/data-explorers" class="passive-link">
            {% include intros/visweek.html %}
         </a>
         <a href="/work/data-explorers">
            {% include icons/more.html %}
         </a>
      </div>

      <div class="divide-categories-unit">
         <h2><a href="/work/paradoxes">Paradoxes</a></h2>
         <a href="/work/paradoxes" class="passive-link">
            {% include intros/paradoxes.html %}
         </a>
         <a href="/work/paradoxes">
            {% include icons/more.html %}
         </a>
      </div>
   </div>
</div>
