---
layout: project
title: Paradoxes
label: paradoxes
---
<section id="about">
   <div class="divide">
      <div class="divide-two-thirds-right">
         <h1>Paradoxes</h1>
         <h3>
            "Paradoxes" is a visualisation workshop for curious designers that I authored and led in 2014. We focused on communicating and explaining some of the most abstract thought exercises and complex phenomena — logical and scientific paradoxes.
         </h3>
      </div>
   </div>
</section>

<section id="paradox">
   <div class="divide">
      <div class="divide-one-third-left">
         <p>
            A paradox is a seemingly <nobr>self-contradicting</nobr> statement that, yet, can be true. There are many paradoxes in philosophy and sciences, for example:
         </p>
         <ul>
            <li><a href="https://en.wikipedia.org/wiki/Liar_paradox">The Liar Paradox</a>,</li>
            <li><a href="https://en.wikipedia.org/wiki/Zeno%27s_paradoxes#Arrow_paradox">The Arrow Paradox</a>,</li>
            <li><a href="https://en.wikipedia.org/wiki/Twin_paradox">The Twin Paradox</a>,</li>
            <li><a href="https://en.wikipedia.org/wiki/Fermi_paradox">The Fermi Paradox</a>.</li>
         </ul>
         <p>
            Some of them have already been solved. Other still remain to be explained.
         </p>
      </div>
      <div class="divide-two-thirds-left">
         <img
            data-sizes="auto" src="/img/paradoxes/escher-relativity-641.jpg"
            data-srcset="/img/paradoxes/escher-relativity-1920.jpg 1920w,
            /img/paradoxes/escher-relativity-1080.jpg 1080w,
            /img/paradoxes/escher-relativity-192.jpg 192w"
            class="lazyload" alt="'Relativity' by M. C. Escher">
         <h6 class="image-credit">
            <i>Relativity</i> by M. C. Escher shows paradoxical architecture.
         </h6>
      </div>
   </div>

   <div class="divide">
      <div class="divide-hide-mobile-one-third">
         <p>
            A story or a visualisation is often used to explain a paradox — they show the abstract problem underlying the paradox in more direct and tangible terms that are easier to relate to.
         </p>
         <p>
            Here is a nice visualisation of the <a href="https://en.wikipedia.org/wiki/Zeno%27s_paradoxes#Achilles_and_the_tortoise">Achilles and the Tortoise Paradox</a>.
         </p>
         <p>
            "In a race, the quickest runner can never overtake the slowest, since the pursuer must first reach the point whence the pursued started, so that the slower must always hold a lead." Aristotle, <nobr>Physics VI:9,</nobr> 239b15
         </p>
      </div>
      <div class="divide-hide-desktop">
         <p>
            A story or a visualisation is often used to explain a paradox — they show the abstract problem underlying the paradox in more direct and tangible terms that are easier to relate to.
         </p>
         <p>
            Here is a nice visualisation of the <a href="https://en.wikipedia.org/wiki/Zeno%27s_paradoxes#Achilles_and_the_tortoise">Achilles and the Tortoise Paradox</a>.
         </p>
      </div>
      <div class="divide-two-thirds-left">
         <img src="https://upload.wikimedia.org/wikipedia/commons/6/66/Zeno_Achilles_Paradox.png" alt="Visualisation of the Zeno Achilles Paradox from Wikipedia">
         <h6 class="image-credit">
            <i>Zeno Achilles Paradox</i> by Martin Grandjean, <a href="https://commons.wikimedia.org/wiki/File:Zeno_Achilles_Paradox.png"><nobr>Wikimedia Commons</nobr></a>.
         </h6>
      </div>
   </div>

   <div class="divide">
      <div class="divide-hide-desktop">
         <p>
            "In a race, the quickest runner can never overtake the slowest, since the pursuer must first reach the point whence the pursued started, so that the slower must always hold a lead." Aristotle, <nobr>Physics VI:9,</nobr> 239b15
         </p>
      </div>
   </div>
</section>

<section id="workshop">
   <div class="divide">
      <div class="divide-two-thirds-left">
         <p>
            My workshop had two parts. In the first part, workshop participants selected a paradox and worked in groups to create a visualisation that could be used to explain the contradition in that paradox to another team.
         </p>
      </div>
      <div class="divide-third">
         <div class="divide-third-unit">
            <img
               data-sizes="auto" src="/img/paradoxes/paradox-a-641.png"
               data-srcset="/img/paradoxes/paradox-a-1920.png 1920w,
               /img/paradoxes/paradox-a-1080.png 1080w,
               /img/paradoxes/paradox-a-192.png 192w"
               class="lazyload" {% include image-border.css %} alt="Liar Paroadox">
         </div>
         <div class="divide-third-unit">
            <img
               data-sizes="auto" src="/img/paradoxes/paradox-d-641.png"
               data-srcset="/img/paradoxes/paradox-d-1920.png 1920w,
               /img/paradoxes/paradox-d-1080.png 1080w,
               /img/paradoxes/paradox-d-192.png 192w"
               class="lazyload" {% include image-border.css %} alt="Achilles and the Tortoise Paroadox">
         </div>
         <div class="divide-third-unit">
            <img
               data-sizes="auto" src="/img/paradoxes/paradox-g-641.png"
               data-srcset="/img/paradoxes/paradox-g-1920.png 1920w,
               /img/paradoxes/paradox-g-1080.png 1080w,
               /img/paradoxes/paradox-g-192.png 192w"
               class="lazyload" {% include image-border.css %} alt="Olbers' Dark Night Sky Paroadox">
         </div>
      </div>
      <div class="divide-third">
         <div class="divide-third-unit">
            <img
               data-sizes="auto" src="/img/paradoxes/paradox-h-641.png"
               data-srcset="/img/paradoxes/paradox-h-1920.png 1920w,
               /img/paradoxes/paradox-h-1080.png 1080w,
               /img/paradoxes/paradox-h-192.png 192w"
               class="lazyload" {% include image-border.css %} alt="Fermi Paroadox">
         </div>
         <div class="divide-third-unit">
            <img
               data-sizes="auto" src="/img/paradoxes/paradox-i-641.png"
               data-srcset="/img/paradoxes/paradox-i-1920.png 1920w,
               /img/paradoxes/paradox-i-1080.png 1080w,
               /img/paradoxes/paradox-i-192.png 192w"
               class="lazyload" {% include image-border.css %} alt="Twin Paroadox">
         </div>
         <div class="divide-third-unit">
            <img
               data-sizes="auto" src="/img/paradoxes/paradox-j-641.png"
               data-srcset="/img/paradoxes/paradox-j-1920.png 1920w,
               /img/paradoxes/paradox-j-1080.png 1080w,
               /img/paradoxes/paradox-j-192.png 192w"
               class="lazyload" {% include image-border.css %} alt="Tea Leaf Paroadox">
         </div>
      </div>
   </div>

   <div class="divide">
      <div class="divide-one-third-left">
         <p>
            Solving a paradox is not easy. It takes generations of thinkers to come up with a valid solution (if it exists at all).
         </p>
         <p>
            In the second part of the workshop, participants tried to come up with their own speculative solutions to the each paradox, and to visualise them.
         </p>
      </div>
      <div class="divide-two-thirds-left">
         <img
            data-sizes="auto" src="/img/paradoxes/workshop-1-641.jpg"
            data-srcset="/img/paradoxes/workshop-1-1920.jpg 1920w,
            /img/paradoxes/workshop-1-1080.jpg 1080w,
            /img/paradoxes/workshop-1-192.jpg 192w"
            class="lazyload" alt="During the workshop">
         <img
            data-sizes="auto" src="/img/paradoxes/workshop-3-641.jpg"
            data-srcset="/img/paradoxes/workshop-3-1920.jpg 1920w,
            /img/paradoxes/workshop-3-1080.jpg 1080w,
            /img/paradoxes/workshop-3-192.jpg 192w"
            class="lazyload" alt="During the workshop">
         <img
            data-sizes="auto" src="/img/paradoxes/workshop-4-641.jpg"
            data-srcset="/img/paradoxes/workshop-4-1920.jpg 1920w,
            /img/paradoxes/workshop-4-1080.jpg 1080w,
            /img/paradoxes/workshop-4-192.jpg 192w"
            class="lazyload" alt="During the workshop">
         <img
            data-sizes="auto" src="/img/paradoxes/workshop-2-641.jpg"
            data-srcset="/img/paradoxes/workshop-2-1920.jpg 1920w,
            /img/paradoxes/workshop-2-1080.jpg 1080w,
            /img/paradoxes/workshop-2-192.jpg 192w"
            class="lazyload" alt="During the workshop">
         <h6 class="image-credit">
            Photos by the Think(in) Visual Communication conference, 2014.
         </h6>
      </div>
   </div>
</section>

<section id="dissemination">
   <div class="divide">
      <div class="divide-half">
         <div class="divide-half-unit">
            <p>
               I ran the Paradoxes workshop for curious designers as part of the {% include events/2014-tivc.html %}.
            </p>
         </div>
         <div class="divide-half-unit">
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">I&#39;m leading <a href="https://twitter.com/hashtag/tivc?src=hash">#tivc</a> workshop about &quot;Paradoxes&quot; at <a href="https://twitter.com/CNKopernik">@CNKopernik</a> and I feel like a plane ready for boarding. Gates I and J <a href="http://t.co/cV2iS1Wctr">pic.twitter.com/cV2iS1Wctr</a></p>&mdash; Marek Kultys (@marekkultys) <a href="https://twitter.com/marekkultys/status/543011919427567617">December 11, 2014</a></blockquote>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
         </div>
      </div>
   </div>
</section>