---
layout: project
title: Design-led Research Workshop
label: design-led
---
<section id="about">
   <div class="divide">
      <div class="divide-two-thirds-right">
         <h1>Design-led Research Workshop</h1>
         <h3>
            In 2017 I authored and facilitated a design workshop for a group of students at the <a href="https://www.asp.katowice.pl/uczelnia/struktura-uczelni/wydzial-projektowy/dizajn-na-beztydzien-trwa-tydzien-warsztatowy-wydzialu-projektowego-asp-w-katowicach.html" title="Academy of Fine Arts in Katowice: News page">Academy of Fine Arts in Katowice</a>, Poland. The two-day workshop was designed to give the students an opportunity to try out new methods of working.
         </h3>
         <h3>
            We focused on the design-led research approach structured around the proven <a href="http://www.gv.com/sprint/" title="The Design Sprint website">Google Design Sprint</a> process.
         </h3>
      </div>
   </div>
</section>

<section id="workshop">
   <div class="divide">
      <div class="divide-full-one">
         <img
            data-sizes="auto" src="/img/design-led/design-led-photo-641.jpg"
            data-srcset="/img/design-led/design-led-photo-1500.jpg 1920w,
            /img/design-led/design-led-photo-1080.jpg 1080w,
            /img/design-led/design-led-photo-192.jpg 192w"
            class="lazyload" alt="workshop photo">
         <h6 class="image-credit">
            Photos by Academy of Fine Arts in Katowice.
         </h6>
      </div>
   </div>

   <div class="divide">
      <div class="divide-one-third-left">
         <p>
            I designed the workshop as a <nobr>hands-on</nobr> introduction to the <nobr>design-led</nobr> research approach that we successfully use at <a href="http://www.science-practice.com" title="Science Practice website">Science Practice</a> on an everyday basis.
         </p>
         <p>
            In short, a <nobr>design-led</nobr> research approach is a version of <a href="https://www.interaction-design.org/literature/article/a-simple-introduction-to-lean-ux" title="A Simple Introduction to Lean UX article on the Interaction Design Foundation website">lean UX</a> with extra emphasis placed on prototyping as a means of eliciting user feedback.
         </p>
      </div>
      <div class="divide-two-thirds-left">
         <img
            data-sizes="auto" src="/img/design-led/design-led-cycle-641.jpg"
            data-srcset="/img/design-led/design-led-cycle-1920.jpg 1920w,
            /img/design-led/design-led-cycle-1080.jpg 1080w,
            /img/design-led/design-led-cycle-192.jpg 192w"
            class="lazyload" {% include image-border.css %} alt="workshop slides — test fast">
      </div>
   </div>

   <div class="divide">
      <div class="divide-one-third-left">
         <p>
            In <nobr>design-led</nobr> research we aim to create rapid <nobr>low-cost</nobr> prototypes as early as possible.
         </p>
         <p>
            A prototype can be anything that helps to communicate and test a given design: a user journey, a wireframe, a <nobr>click-through</nobr> mockup, a video, or a <nobr>role-play</nobr> experience.
         </p>
         <p>
            The trick is to choose the right prototyping methods to reach most realistic results for least effort spent.
         </p>
         <p>
            Selected prototypes will be used as stimulus to elicit user feedback in <nobr>design-led</nobr> research interviews.
         </p>
      </div>
      <div class="divide-two-thirds-left">
         <img
            data-sizes="auto" src="/img/design-led/design-led-examples-641.jpg"
            data-srcset="/img/design-led/design-led-examples-1920.jpg 1920w,
            /img/design-led/design-led-examples-1080.jpg 1080w,
            /img/design-led/design-led-examples-192.jpg 192w"
            class="lazyload" {% include image-border.css %} alt="workshop slides — examples of stimulus">
         <img
            data-sizes="auto" src="/img/design-led/design-led-spectrum-641.jpg"
            data-srcset="/img/design-led/design-led-spectrum-1920.jpg 1920w,
            /img/design-led/design-led-spectrum-1080.jpg 1080w,
            /img/design-led/design-led-spectrum-192.jpg 192w"
            class="lazyload" {% include image-border.css %} alt="workshop slides — spectrum of prototypes">
      </div>
   </div>

   <div class="divide">
      <div class="divide-one-third-left">
         <p>
            Our workshop programme was organised into five steps:
            <ol>
               <li>Define the problem</li>
               <li>Turn problem into question</li>
               <li>Plan user research interviews</li>
               <li>Prototype a design solution</li>
               <li>Validate solution in user research</li>
            </ol>
         </p>
         <p>
            Each step included a dedicated intro (theory + examples) and a practical task assigned to workshop participants.
         </p>
         <p>
            During the workshop, my key goal was to help students discover the value of rapid <nobr>low-cost</nobr> prototyping. We spent almost 50% of workshop's time designing prototypes and figuring out how to best use them as stimulus in user research interviews.
         </p>
      </div>
      <div class="divide-two-thirds-left">
         <img
            data-sizes="auto" src="/img/design-led/design-led-storyboard-641.jpg"
            data-srcset="/img/design-led/design-led-storyboard-1920.jpg 1920w,
            /img/design-led/design-led-storyboard-1080.jpg 1080w,
            /img/design-led/design-led-storyboard-192.jpg 192w"
            class="lazyload" {% include image-border.css %} alt="workshop slides — stimulus storyboarding">
         <img
            data-sizes="auto" src="/img/design-led/design-led-tools-641.jpg"
            data-srcset="/img/design-led/design-led-tools-1920.jpg 1920w,
            /img/design-led/design-led-tools-1080.jpg 1080w,
            /img/design-led/design-led-tools-192.jpg 192w"
            class="lazyload" {% include image-border.css %} alt="workshop slides — tools we like to use">
         <img
            data-sizes="auto" src="/img/design-led/design-led-working-641.jpg"
            data-srcset="/img/design-led/design-led-working-1080.jpg 1080w,
            /img/design-led/design-led-working-192.jpg 192w"
            class="lazyload" alt="workshop photo">
      </div>
   </div>
</section>

<section id="dissemination">
   <div class="divide">
      <div class="divide-half">
         <div class="divide-half-unit">
            <p>
               I facilitated two versions of this workshop.
            </p>
            <p>
               In December 2017 I led the original <nobr>2-day</nobr> version with design students at the Academy of Fine Arts in Katowice.
            </p>
            <p>
               In May 2018 I led its shorter <nobr>4-hour</nobr> version at the <nobr><a href="http://www.openvisconf.com/workshops/#design" title="OpenVis Conf workshop abstract">OpenVis Conf in Paris.</nobr>
            </p>
         </div>
         <div class="divide-half-unit">
            <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">I had a fantastic group of talented students participating in my Design-led Research workshop at Katowice Academy of Fine Arts earlier this week. Thanks Ania, Paweł, Kasia, Julianna, Paulina, and Waldek. <a href="https://twitter.com/hashtag/ux?src=hash&amp;ref_src=twsrc%5Etfw">#ux</a> <a href="https://twitter.com/hashtag/DesignSprint?src=hash&amp;ref_src=twsrc%5Etfw">#DesignSprint</a> <a href="https://t.co/WvtYoebWQI">pic.twitter.com/WvtYoebWQI</a></p>&mdash; Marek Kultys (@marekkultys) <a href="https://twitter.com/marekkultys/status/941337384242819073?ref_src=twsrc%5Etfw">December 14, 2017</a></blockquote>

            <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Actually using pen and paper in the interesting &quot;design-led research approach to designing data experiences&quot; workshop by <a href="https://twitter.com/marekkultys?ref_src=twsrc%5Etfw">@marekkultys</a> from <a href="https://twitter.com/sciencepractice?ref_src=twsrc%5Etfw">@sciencepractice</a> at <a href="https://twitter.com/hashtag/OpenVisConf?src=hash&amp;ref_src=twsrc%5Etfw">#OpenVisConf</a> <a href="https://t.co/VmtGq4GLHj">pic.twitter.com/VmtGq4GLHj</a></p>&mdash; Filip de Blois (@filipdeblois) <a href="https://twitter.com/filipdeblois/status/996743817020805120?ref_src=twsrc%5Etfw">May 16, 2018</a></blockquote>
         </div>
      </div>
   </div>
</section>