---
layout: category
title: Science
label: science
---

<div class="divide">
   <div class="divide-categories">
      <div class="divide-categories-unit">
         <a href="/work/sequence-bundles" class="categories-image">
            <img
               data-sizes="auto" src="/img/bento-lab/bento-lab-thumb-600.jpg"
               data-srcset="/img/bento-lab/bento-lab-thumb-900.jpg 900w,
               /img/bento-lab/bento-lab-thumb-300.jpg 300w"
               class="lazyload">
         </a>
         <h2><a href="/work/sequence-bundles">Sequence Bundles</a></h2>
         <a href="/work/sequence-bundles" class="passive-link">
            {% include intros/bundles.html %}
         </a>
      </div>

      <div class="divide-categories-unit">
         <a href="/work/mitosis-meiosis" class="categories-image">
            <img
               data-sizes="auto" src="/img/mitosis-meiosis/mitosis-meiosis-thumb-600.png"
               data-srcset="/img/mitosis-meiosis/mitosis-meiosis-thumb-900.png 900w,
               /img/mitosis-meiosis/mitosis-meiosis-thumb-300.png 300w"
               class="lazyload">
         </a>
         <h2><a href="/work/mitosis-meiosis">Mitosis &amp; Meiosis</a></h2>
         <a href="/work/mitosis-meiosis" class="passive-link">
            {% include intros/mitosis.html %}
         </a>
      </div>

      <div class="divide-categories-unit">
         <a href="/work/lingua-extraterrestris" class="categories-image">
            <img
               data-sizes="auto" src="/img/lingua-extraterrestris/lingua-extraterrestris-thumb-600.jpg"
               data-srcset="/img/lingua-extraterrestris/lingua-extraterrestris-thumb-900.jpg 900w,
               /img/lingua-extraterrestris/lingua-extraterrestris-thumb-300.jpg 300w"
               class="lazyload">
         </a>
         <h2><a href="/work/lingua-extraterrestris">Lingua Extraterrestris</a></h2>
         <a href="/work/lingua-extraterrestris" class="passive-link">
            {% include intros/seti.html %}
         </a>
      </div>
   </div>

   <div class="divide-categories">
      <div class="divide-categories-unit">
         <a href="/work/immunographics" class="categories-image">
            <img
               data-sizes="auto" src="/img/immunographics/immunographics-thumb-600.jpg"
               data-srcset="/img/immunographics/immunographics-thumb-900.jpg 900w,
               /img/immunographics/immunographics-thumb-300.jpg 300w"
               class="lazyload">
         </a>
         <h2><a href="/work/immunographics">Immunographics</a></h2>
         <a href="/work/immunographics" class="passive-link">
            {% include intros/immuno.html %}
         </a>
      </div>

      <div class="divide-categories-unit">
         <a href="/work/bento-lab" class="categories-image">
            <img
               data-sizes="auto" src="/img/bento-lab/bento-lab-thumb-600.jpg"
               data-srcset="/img/bento-lab/bento-lab-thumb-900.jpg 900w,
               /img/bento-lab/bento-lab-thumb-300.jpg 300w"
               class="lazyload">
         </a>
         <h2><a href="/work/bento-lab">bento&bull;lab</a></h2>
         <a href="/work/bento-lab" class="passive-link">
            {% include intros/bento.html %}
         </a>
      </div>
   </div>
</div>