<!DOCTYPE html>

<html lang="en">

	<head>

    	<title>
      	{{ page.title }}
      </title>


    	{% include head.html %}

	</head>

	<body>

		<nav>
			{% include navbar.html %}
		</nav>

		<main>

			<section>
				{% include about.html %}
			</section>

			{{ content }}

			<section id="categories">
				{% include categories.html %}
				{% include back-top.html %}
			</section>

			<footer>
				{% include copyright.html %}
			</footer>
			
		</main>

		{% include scripts.html %}

	</body>

</html>
