<!DOCTYPE html>

<html lang="en">

	<head>

    	<title>
      	{{ page.title }}
      </title>


    	{% include head.html %}

	</head>

	<body>

		<main id="page">

			<nav>
				{% include navbar.html %}
			</nav>

			<section>
				{% include about.html %}
			</section>

			{{ content }}

			<section id="navigation">
				{% include back-top.html %}
				<!-- {% include categories.html %} -->
			</section>

			<footer>
				{% include copyright.html %}
			</footer>

		</main>

		{% include scripts.html %}

	</body>

</html>
