---
layout: project
title: Paradoxes
label: paradoxes
---

<section id="paradox">
   <div class="divide">
      <div class="divide-one-third-left">
         <p>
            A paradox is a seemingly <nobr>self-contradicting</nobr> statement that, yet, can be true. There are many paradoxes in philosophy and sciences, for example:
            <ul>
               <li><a href="https://en.wikipedia.org/wiki/Liar_paradox">the Liar Paradox</a>,</li>
               <li><a href="https://en.wikipedia.org/wiki/Zeno%27s_paradoxes#Arrow_paradox">the Arrow Paradox</a>,</li>
               <li><a href="https://en.wikipedia.org/wiki/Twin_paradox">the Twin Paradox</a>,</li>
               <li><a href="https://en.wikipedia.org/wiki/Fermi_paradox">the Fermi Paradox</a>.</li>
            </ul>
         </p>
         <p>
            Some of them have already been solved. Other still remain to be explained.
         </p>
      </div>
      <div class="divide-two-thirds-left">
         <img
            data-sizes="auto" src="/img/paradoxes/escher-relativity-641.jpg"
            data-srcset="/img/paradoxes/escher-relativity-1920.jpg 1920w,
            /img/paradoxes/escher-relativity-1080.jpg 1080w,
            /img/paradoxes/escher-relativity-192.jpg 192w"
            class="lazyload">
         <h6 class="image-credit">
            <i>Relativity</i> by M. C. Escher shows paradoxical architecture.
         </h6>
      </div>
   </div>

   <div class="divide">
      <div class="divide-one-third-left">
         <p>
            A story or a visualisation is often used to explain a paradox — they show the abstract problem underlying the paradox in more direct and tangible terms that are easier to relate to.
         </p>
         <p>
            Here is a nice visualisation of the <a href="https://en.wikipedia.org/wiki/Zeno%27s_paradoxes#Achilles_and_the_tortoise">Achilles and the Tortoise Paradox</a>.
         </p>
         <p>
            "In a race, the quickest runner can never overtake the slowest, since the pursuer must first reach the point whence the pursued started, so that the slower must always hold a lead." Aristotle, <nobr>Physics VI:9,</nobr> 239b15
         </p>
      </div>
      <div class="divide-two-thirds-left">
         <img src="https://upload.wikimedia.org/wikipedia/commons/6/66/Zeno_Achilles_Paradox.png">
         <h6 class="image-credit">
            'Zeno Achilles Paradox' by MartinGrandjean, <a href="https://commons.wikimedia.org/wiki/File:Zeno_Achilles_Paradox.png">Wikimedia Commons</a>.
         </h6>
      </div>
   </div>
</section>

<section id="workshop">
   <div class="divide">
      <div class="divide-two-thirds-left">
         <p>
            My workshop had two parts. In the first part, workshop participants selected a paradox and worked in groups to create a visualisation that could be used to present the contradition in that paradox to another person.
         </p>
      </div>
      <div class="divide-third">
         <div class="divide-third-unit">
            <img
               data-sizes="auto" src="/img/paradoxes/paradox-a-641.png"
               data-srcset="/img/paradoxes/paradox-a-1920.png 1920w,
               /img/paradoxes/paradox-a-1080.png 1080w,
               /img/paradoxes/paradox-a-192.png 192w"
               class="lazyload" {% include image-border.css %}>
         </div>
         <div class="divide-third-unit">
            <img
               data-sizes="auto" src="/img/paradoxes/paradox-d-641.png"
               data-srcset="/img/paradoxes/paradox-d-1920.png 1920w,
               /img/paradoxes/paradox-d-1080.png 1080w,
               /img/paradoxes/paradox-d-192.png 192w"
               class="lazyload" {% include image-border.css %}>
         </div>
         <div class="divide-third-unit">
            <img
               data-sizes="auto" src="/img/paradoxes/paradox-g-641.png"
               data-srcset="/img/paradoxes/paradox-g-1920.png 1920w,
               /img/paradoxes/paradox-g-1080.png 1080w,
               /img/paradoxes/paradox-g-192.png 192w"
               class="lazyload" {% include image-border.css %}>
         </div>
      </div>
      <div class="divide-third">
         <div class="divide-third-unit">
            <img
               data-sizes="auto" src="/img/paradoxes/paradox-h-641.png"
               data-srcset="/img/paradoxes/paradox-h-1920.png 1920w,
               /img/paradoxes/paradox-h-1080.png 1080w,
               /img/paradoxes/paradox-h-192.png 192w"
               class="lazyload" {% include image-border.css %}>
         </div>
         <div class="divide-third-unit">
            <img
               data-sizes="auto" src="/img/paradoxes/paradox-i-641.png"
               data-srcset="/img/paradoxes/paradox-i-1920.png 1920w,
               /img/paradoxes/paradox-i-1080.png 1080w,
               /img/paradoxes/paradox-i-192.png 192w"
               class="lazyload" {% include image-border.css %}>
         </div>
         <div class="divide-third-unit">
            <img
               data-sizes="auto" src="/img/paradoxes/paradox-j-641.png"
               data-srcset="/img/paradoxes/paradox-j-1920.png 1920w,
               /img/paradoxes/paradox-j-1080.png 1080w,
               /img/paradoxes/paradox-j-192.png 192w"
               class="lazyload" {% include image-border.css %}>
         </div>
      </div>
   </div>

   <div class="divide">
      <div class="divide-one-third-left">
         <p>
            Explaining a paradox is not easy — it takes generations of thinkers to come up with a sound and valid solution, if it exists at all. In the second part of the workshop, participants tried to come up with their own speculative solution to the selected paradox, and to visualise it.
         </p>
      </div>
      <div class="divide-two-thirds-left">
         <img
            data-sizes="auto" src="/img/paradoxes/workshop-1-641.jpg"
            data-srcset="/img/paradoxes/workshop-1-1920.jpg 1920w,
            /img/paradoxes/workshop-1-1080.jpg 1080w,
            /img/paradoxes/workshop-1-192.jpg 192w"
            class="lazyload">
         <img
            data-sizes="auto" src="/img/paradoxes/workshop-3-641.jpg"
            data-srcset="/img/paradoxes/workshop-3-1920.jpg 1920w,
            /img/paradoxes/workshop-3-1080.jpg 1080w,
            /img/paradoxes/workshop-3-192.jpg 192w"
            class="lazyload">
         <img
            data-sizes="auto" src="/img/paradoxes/workshop-4-641.jpg"
            data-srcset="/img/paradoxes/workshop-4-1920.jpg 1920w,
            /img/paradoxes/workshop-4-1080.jpg 1080w,
            /img/paradoxes/workshop-4-192.jpg 192w"
            class="lazyload">
         <img
            data-sizes="auto" src="/img/paradoxes/workshop-2-641.jpg"
            data-srcset="/img/paradoxes/workshop-2-1920.jpg 1920w,
            /img/paradoxes/workshop-2-1080.jpg 1080w,
            /img/paradoxes/workshop-2-192.jpg 192w"
            class="lazyload">
         <h6 class="image-credit">
            Photos by the Think(in) Visual Communication conference, 2014.
         </h6>
      </div>
   </div>
</section>

<section id="dissemination">
   <div class="divide">
      <div class="divide-half">
         <div class="divide-half-unit">
            <p>
               I ran the Paradoxes workshop for curious designers as part of the {% include events/2014-tivc.html %}.
            </p>
         </div>
         <div class="divide-half-unit">
            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">I&#39;m leading <a href="https://twitter.com/hashtag/tivc?src=hash">#tivc</a> workshop about &quot;Paradoxes&quot; at <a href="https://twitter.com/CNKopernik">@CNKopernik</a> and I feel like a plane ready for boarding. Gates I and J <a href="http://t.co/cV2iS1Wctr">pic.twitter.com/cV2iS1Wctr</a></p>&mdash; Marek Kultys (@marekkultys) <a href="https://twitter.com/marekkultys/status/543011919427567617">December 11, 2014</a></blockquote>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
         </div>
      </div>
   </div>
</section>