---
layout: project
title: Paradoxes
---

{% include contact.html %}

<h1>Paradoxes</h1>

<h3>
   A paradox is a seemingly self-contradicing statement, that yet can be true. There are many paradoxes in philosophy and sciences, for example: <a href="https://en.wikipedia.org/wiki/Liar_paradox">the Liar Paradox</a>, <a href="https://en.wikipedia.org/wiki/Zeno%27s_paradoxes#Arrow_paradox">the Arrow Paradox</a>, <a href="https://en.wikipedia.org/wiki/Twin_paradox">the Twin Paradox</a>, or <a href="https://en.wikipedia.org/wiki/Fermi_paradox">the Fermi Paradox</a>.
</h3>
<h3>
   "Paradoxes" is a workshop I authored and led during the Thinking in Visual Communication conference in Warsaw in 2014. Workshop task was to use visualisation to explain a selected paradox, and later to propose a speculative visual solution to that paradox. Workshop's focus was on exploring visual strategies for communicating highly complex and abstract concepts.
</h3>

{% include categories.html %}

<p>Home</p>
<a href="/">Home</a>
