---
layout: project
title: bento•lab
label: bento
---
<section id="about">
   <div class="divide">
      <div class="divide-two-thirds-right">
         <h1>bento•lab</h1>
         <h3>
            <a href="http://www.bento.bio/">bento•lab</a> is a powerful, personal <nobr>lab-in-the-box</nobr> kit that enables scientists, biohackers, artists and all curious minds to use essential laboratory tools anywhere and any time.
         </h3>
         <h3>
            At bento I worked on bento's visual identity, product design, and user experiences, as well as related elements of strategy and planning. In March 2016 bento•lab <a href="https://www.kickstarter.com/projects/339005690/bento-lab-a-dna-laboratory-for-everybody">launched on Kickstarter</a>.
         </h3>
      </div>
   </div>
</section>

<section id="features">
   <div class="divide">
      <div class="divide-full-one">
         <img
            data-sizes="auto" src="/img/bento-lab/bento-box-02-641.jpg"
            data-srcset="/img/bento-lab/bento-box-02-1920.jpg 1920w,
            /img/bento-lab/bento-box-02-1080.jpg 1080w,
            /img/bento-lab/bento-box-02-192.jpg 192w"
            class="lazyload" alt="The bento•lab">
         <h6 class="image-credit">
            Photos by <a href="http://maikkleinschmidt.com/">Maik Kleinschmidt</a> for bento•bioworks
         </h6>
      </div>
   </div>

   <div class="divide">
      <div class="divide-one-third-left">
         <p>
            The bento•lab houses a powerful <nobr>3D-printed</nobr> centrifuge, a mini PCR machine, and a gel electrophoresis unit with blue LED transillumination. Everything fits in a portable <nobr>A4-sized</nobr> dibond box.
         </p>
      </div>
      <div class="divide-two-thirds-left">
         <img
            data-sizes="auto" src="/img/bento-lab/bento-diagram-01-641.png"
            data-srcset="/img/bento-lab/bento-diagram-01-1920.png 1920w,
            /img/bento-lab/bento-diagram-01-1080.png 1080w,
            /img/bento-lab/bento-diagram-01-192.png 192w"
            class="lazyload" alt="bento•lab features">
         <img
            data-sizes="auto" src="/img/bento-lab/bento-diagram-02-641.png"
            data-srcset="/img/bento-lab/bento-diagram-02-1920.png 1920w,
            /img/bento-lab/bento-diagram-02-1080.png 1080w,
            /img/bento-lab/bento-diagram-02-192.png 192w"
            class="lazyload" alt="bento•lab features">
      </div>
   </div>

   <div class="divide">
      <div class="divide-half">
         <div class="divide-half-unit">
            <img
               data-sizes="auto" src="/img/bento-lab/bento-detail-gel-641.jpg"
               data-srcset="/img/bento-lab/bento-detail-gel-1920.jpg 1920w,
               /img/bento-lab/bento-detail-gel-1080.jpg 1080w,
               /img/bento-lab/bento-detail-gel-192.jpg 192w"
               class="lazyload" alt="bento•lab: gel electrophoresis unit">
         </div>
         <div class="divide-half-unit">
            <img
               data-sizes="auto" src="/img/bento-lab/bento-detail-pcr-641.jpg"
               data-srcset="/img/bento-lab/bento-detail-pcr-1920.jpg 1920w,
               /img/bento-lab/bento-detail-pcr-1080.jpg 1080w,
               /img/bento-lab/bento-detail-pcr-192.jpg 192w"
               class="lazyload" alt="bento•lab: pcr machine and thermocycler">
         </div>
      </div>
      <div class="divide-half">
         <div class="divide-half-unit">
            <img
               data-sizes="auto" src="/img/bento-lab/bento-detail-centrifuge-641.jpg"
               data-srcset="/img/bento-lab/bento-detail-centrifuge-1920.jpg 1920w,
               /img/bento-lab/bento-detail-centrifuge-1080.jpg 1080w,
               /img/bento-lab/bento-detail-centrifuge-192.jpg 192w"
               class="lazyload" alt="bento•lab: mini centrifuge">
         </div>
         <div class="divide-half-unit">
            <img
               data-sizes="auto" src="/img/bento-lab/bento-detail-panel-641.jpg"
               data-srcset="/img/bento-lab/bento-detail-panel-1920.jpg 1920w,
               /img/bento-lab/bento-detail-panel-1080.jpg 1080w,
               /img/bento-lab/bento-detail-panel-192.jpg 192w"
               class="lazyload" alt="bento•lab: control panel">
         </div>
      </div>
   </div>
</section>

<section id="usage">
   <div class="divide">
      <div class="divide-one-third-left">
         <p>
            When used in regular biotech labs the bento•lab can serve as a compact, personal prototyping "sandbox" for testing out hypotheses and conducting draft experiments.
         </p>
      </div>
      <div class="divide-two-thirds-left">
         <img
            data-sizes="auto" src="/img/bento-lab/bento-using-02-641.jpg"
            data-srcset="/img/bento-lab/bento-using-02-1920.jpg 1920w,
            /img/bento-lab/bento-using-02-1080.jpg 1080w,
            /img/bento-lab/bento-using-02-192.jpg 192w"
            class="lazyload" alt="Using bento•lab">
         <img
            data-sizes="auto" src="/img/bento-lab/bento-using-03-641.jpg"
            data-srcset="/img/bento-lab/bento-using-03-1920.jpg 1920w,
            /img/bento-lab/bento-using-03-1080.jpg 1080w,
            /img/bento-lab/bento-using-03-192.jpg 192w"
            class="lazyload" alt="Using bento•lab">
      </div>
   </div>

   <div class="divide">
      <div class="divide-one-third-left">
         <p>
            bento•lab is portable, so it can be used to do basic lab work in almost any given setting, for instance at home, in the office, and even outdoors.
         </p>
      </div>
      <div class="divide-two-thirds-left">
         <img
            data-sizes="auto" src="/img/bento-lab/bento-using-01-641.jpg"
            data-srcset="/img/bento-lab/bento-using-01-1920.jpg 1920w,
            /img/bento-lab/bento-using-01-1080.jpg 1080w,
            /img/bento-lab/bento-using-01-192.jpg 192w"
            class="lazyload" alt="Using bento•lab">
         <img
            data-sizes="auto" src="/img/bento-lab/bento-using-04-641.jpg"
            data-srcset="/img/bento-lab/bento-using-04-1920.jpg 1920w,
            /img/bento-lab/bento-using-04-1080.jpg 1080w,
            /img/bento-lab/bento-using-04-192.jpg 192w"
            class="lazyload" alt="Using bento•lab">
      </div>
   </div>
</section>

<section id="process">
   <div class="divide">
      <div class="divide-one-third-left">
         <p>
            In 2013 I joined the UCL iGEM:E team to advise on a portable <nobr>lab-in-the-box</nobr> project. Initially, we called it <a href="http://2013.igem.org/Team:UCL_E">Darwin Toolbox</a>. The first version was enclosed inside an <nobr>off-the-shelf</nobr> suitcase for protection and portability. In later design versions we designed a bespoke dibond casing for the lab.
         </p>
      </div>
      <div class="divide-two-thirds-left">
         <img
            data-sizes="auto" src="/img/bento-lab/bento-prototype-01-641.jpg"
            data-srcset="/img/bento-lab/bento-prototype-01-1650.jpg 1650w,
            /img/bento-lab/bento-prototype-01-1080.jpg 1080w,
            /img/bento-lab/bento-prototype-01-192.jpg 192w"
            class="lazyload" alt="Building bento•lab">
         <img
            data-sizes="auto" src="/img/bento-lab/bento-prototype-03-641.jpg"
            data-srcset="/img/bento-lab/bento-prototype-03-1920.jpg 1920w,
            /img/bento-lab/bento-prototype-03-1080.jpg 1080w,
            /img/bento-lab/bento-prototype-03-192.jpg 192w"
            class="lazyload" alt="Building bento•lab">
         <img
            data-sizes="auto" src="/img/bento-lab/bento-prototype-05-641.jpg"
            data-srcset="/img/bento-lab/bento-prototype-05-1920.jpg 1920w,
            /img/bento-lab/bento-prototype-05-1080.jpg 1080w,
            /img/bento-lab/bento-prototype-05-192.jpg 192w"
            class="lazyload" alt="Building bento•lab">
      </div>
   </div>

   <div class="divide">
      <div class="divide-two-thirds-left">
         <p>
            We built several prototypes and used them for testing with prospective users. Insights from conversations with bioengineers and biohackers informed not only our work on the bento•lab hardware, but also sparked ideas for potential services around the kit itself.
         </p>
      </div>
      <div class="divide-half">
         <div class="divide-half-unit">
            <img
               data-sizes="auto" src="/img/bento-lab/bento-testing-02-641.jpg"
               data-srcset="/img/bento-lab/bento-testing-02-1020.jpg 1020w,
               /img/bento-lab/bento-testing-02-192.jpg 192w"
               class="lazyload" alt="bento•lab user testing">
         </div>
         <div class="divide-half-unit">
            <img
               data-sizes="auto" src="/img/bento-lab/bento-testing-03-641.jpg"
               data-srcset="/img/bento-lab/bento-testing-03-1020.jpg 1020w,
               /img/bento-lab/bento-testing-03-192.jpg 192w"
               class="lazyload" alt="bento•lab user testing">
         </div>
      </div>
      <div class="divide-half">
         <div class="divide-half-unit">
            <img
               data-sizes="auto" src="/img/bento-lab/bento-testing-04-641.jpg"
               data-srcset="/img/bento-lab/bento-testing-04-1000.jpg 1000w,
               /img/bento-lab/bento-testing-04-192.jpg 192w"
               class="lazyload" alt="bento•lab user testing">
         </div>
         <div class="divide-half-unit">
            <img
               data-sizes="auto" src="/img/bento-lab/bento-testing-01-641.jpg"
               data-srcset="/img/bento-lab/bento-testing-01-889.jpg 889w,
               /img/bento-lab/bento-testing-01-192.jpg 192w"
               class="lazyload" alt="bento•lab user testing">
         </div>
      </div>
   </div>
</section>

<section id="dissemination">
   <div class="divide">
      <div class="divide-half">
         <div class="divide-half-unit">
            <p>
               The bento•lab was presented multiple times in shows, conferences, and workshops around the world, including the
               {% include events/2013-igem.html %}
               (when the bento•lab was still known as Darwin Toolbox).
            </p>
            <p>
               The bento•lab won several competitions, grants, and awards, including the {% include events/2014-uclaward1.html %}, and the {% include events/2014-uclaward2.html %}.
            </p>
         </div>
         <div class="divide-half-unit">
            <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">.<a href="https://twitter.com/Sophie_Zaaijer">@Sophie_Zaaijer</a> successfully tests a complete Bento lab+ <a href="https://twitter.com/nanopore">@nanopore</a> R9 sequencing pipeline <a href="https://twitter.com/hashtag/NewYorkCityStyle?src=hash">#NewYorkCityStyle</a> <a href="https://twitter.com/hashtag/BoG16?src=hash">#BoG16</a> <a href="https://t.co/aPxobVwWtL">pic.twitter.com/aPxobVwWtL</a></p>&mdash; Yaniv (((Erlich))) (@erlichya) <a href="https://twitter.com/erlichya/status/729754252718030848">May 9, 2016</a></blockquote>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

            <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">A DNA laboratory for everybody - The Bento Lab launched on Kickstarter <a href="https://twitter.com/hashtag/Genomics?src=hash">#Genomics</a> <a href="https://twitter.com/hashtag/DigitalHealth?src=hash">#DigitalHealth</a> <a href="https://t.co/8ptQR3M82k">https://t.co/8ptQR3M82k</a></p>&mdash; Nick van Terheyden (@drnic1) <a href="https://twitter.com/drnic1/status/742791380188160000">June 14, 2016</a></blockquote>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

            <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Opened up my new copy of <a href="https://twitter.com/WiredUK">@WiredUK</a> and look who&#39;s inside! <a href="https://twitter.com/theBentoLab">@theBentoLab</a> <a href="https://twitter.com/PhilippBoeing">@PhilippBoeing</a> <a href="https://twitter.com/bethanwolfenden">@bethanwolfenden</a> <a href="https://twitter.com/hashtag/DIYbio?src=hash">#DIYbio</a> <a href="https://t.co/ussUZnFgmd">pic.twitter.com/ussUZnFgmd</a></p>&mdash; Cathrine Disney (@CathrineDisney) <a href="https://twitter.com/CathrineDisney/status/674967037609943040">December 10, 2015</a></blockquote>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
         </div>
      </div>
   </div>
</section>